[2015-03-13 03:38] bocajnotnef commented on #810
Yes, we did.

On Thu, Mar 12, 2015 at 7:31 PM Michael R. Crusoe <notifications@github.com>
wrote:

[2015-03-13 04:18] #810 closed

[2015-03-13 22:38] SchwarzEM commented on #793
OK, that took ridiculously long -- partly because of a slew of off-line distractions -- but I *may* have actually made the very minor change in doc/introduction.txt that this called for.

[2015-03-14 12:55] ctb commented on #793
Fixed by #870

[2015-03-14 12:55] #793 closed

[2015-03-14 16:54] ctb commented on #868
Note, further investigation suggests that it is a problem in Python 2.7.2 but not Python 2.7.6.

[2015-03-14 22:15] ctb opened #872 "Rename counting_hash and hashbits at Python layer"
I suggest counting_table and/or bytegraph instead of counting_hash, and bitgraph instead of hashbits. (@mr-c has already renamed stopped using 'hash' in our scripts and docs).

counting_table could default to bigcounts=yes, bytegraph could default to bigcounts=no, but otherwise be the same structure.

Reason: I found it silly to be using counting_hash in my VanBUG talk when I was talking about gra

[2015-03-14 23:05] kdmurray91 commented on #868
Interesingly, while testing on another machine (supercomputer using ICC), I got this:

[code]

I.e, zlib.h has a similar typedef for Byte.

Using `khmer::Byte` in `khmer/_khmermodule.cc`  fixed that, so I'll add that to #869.

[2015-03-15 00:56] ctb commented on #393
Also: http://ivory.idyll.org/blog/2015-a-generator-api-for-khmer.html

[2015-03-15 02:38] mr-c commented on #872
How about `countgraph` & `graph`?

[2015-03-15 02:41] ctb commented on #872
On Sat, Mar 14, 2015 at 07:38:02PM -0700, Michael R. Crusoe wrote:

Imprecise - wouldn't "graph" be a superset of "countgraph"?  What about
"nodegraph"?

We haven't really been using the 1-bit graph implementation lately, but we may
well in the future, as well as expanding to additional kinds of graphs - exact
graphs of various flavors, and different sized bins.  So maybe we can think
about that,

[2015-03-15 02:43] mr-c commented on #872
+1 for nodegraph + countgraph

[2015-03-15 02:49] ctb commented on #872
On Sat, Mar 14, 2015 at 07:43:39PM -0700, Michael R. Crusoe wrote:

Excellent.

[2015-03-15 14:23] camillescott commented on #872
+1 node/countgraph as well

[2015-03-16 19:54] mr-c commented on #718
Fixed by #772

[2015-03-16 19:54] #718 closed

[2015-03-17 01:04] macmanes opened #873 "split-paired-reads.py breaks"
Turns out `split-paired-reads.py` breaks when stuff is in the trailing section of the fastQ header.. This is a fastQ file that breaks it. It's an output fastQ from Heng Li's bfc error correction tool: https://github.com/lh3/bfc

Here is an example:

    @SRR797058.11HWI-ST600:227:C0WR4ACXX:7:1101:20488:1997/1        ec:Z:0_0:1_0_1:0_0
    aTCCACCTTCTGGTCACCTAGGAGCTTTCCAACATCAGCAGTGACCTGGTCAGCCTGCT

[2015-03-17 03:55] ctb commented on #873
Hi Matt, what version of khmer are you using? A release or 'master'?

[2015-03-17 03:56] ctb commented on #873
(I ask because we fixed just such a bug in #759.)

[2015-03-17 10:36] macmanes commented on #873
I installed using `pip install khmer` on a ec2 instance that is no longer running. `pip search khmer` indicates v1.3 so I'm gonna go with that.  It's def. those trailing characters that breaks things, as running `awk '{print $1}' corr.fq > fixed.corr.fq` then split-paired.reads.py works fine.

[2015-03-17 11:59] ctb commented on #873
On Tue, Mar 17, 2015 at 03:36:09AM -0700, Matt MacManes wrote:

OK. This should be fixed in the next release; I'd like to test against
master to be sure, thought, so if you could send me (privately is fine)
the top of a file that triggers the problem, I'll run it. thanks!

[2015-03-17 17:18] mr-c commented on #751
Closing as this was awesome. Thank you all!

[2015-03-17 17:18] #751 closed

[2015-03-17 17:22] wrightmhw commented on #768
@bocajnotnef are you still working on this? Thinking of picking it up.

[2015-03-17 17:23] camillescott commented on #768
Relevant docs: https://docs.python.org/2/reference/datamodel.html#object.__getitem__; http://www.pythoncentral.io/how-to-slice-custom-objects-classes-in-python/

[2015-03-17 18:48] bocajnotnef commented on #768
@wrightmhw Hadn't started--Go for it.

[2015-03-17 20:19] Phelimb opened #874 "Broken link in introduction docs"
The hyperlink for " MinCount Sketch" "http://www.eecs.harvard.edu/~michaelm/CS222/countmin.pdf" on http://khmer.readthedocs.org/en/v1.3/introduction.html returns a 403 error.

[2015-03-17 20:20] Phelimb opened #875 "Broken link in introduction docs"
The hyperlink for " MinCount Sketch" "http://www.eecs.harvard.edu/~michaelm/CS222/countmin.pdf" on http://khmer.readthedocs.org/en/v1.3/introduction.html returns a 403 error.

[2015-03-17 20:20] #875 closed

[2015-03-19 04:00] kdmurray91 commented on #868
#869  fixed this, AFAICT

[2015-03-19 04:00] #868 closed

[2015-03-19 15:41] camillescott commented on #874
This appears to have been fixed in https://github.com/ged-lab/khmer/commit/875b0e6e02bc5bbfebbd21da8de40b4e4adccf13; closing issue. Thanks!

[2015-03-19 15:42] #874 closed

[2015-03-19 15:56] camillescott commented on #18
I was actually pondering a C++ test suite the other day -- a lot of my multithreading stuff is low level, and very difficult to test from Python without writing more CPython objects, which kind of defeats the purpose of simple tests by adding tons of extra glue code just to run them in the first place. Unfortunately, I have zero knowledge or experience with C++ testing libs. Thoughts @ctb, @mr-c @

[2015-03-19 16:00] ctb commented on #18
On Thu, Mar 19, 2015 at 08:56:38AM -0700, Camille Scott wrote:

I hear Boost has a testing lib.

[2015-03-20 01:23] kdmurray91 commented on #18
This looks pretty cool:
https://github.com/philsquared/Catch

Header only, boost licensed.

[2015-03-20 16:12] bocajnotnef commented on #779
Fixed by #782

[2015-03-20 16:12] #779 closed

[2015-03-20 16:17] bocajnotnef commented on #748
Note: This was deemed less important than getting the 0.8 release out, so I'll do this after the release is done.

[2015-03-22 19:23] camillescott opened #878 "Lack of explicit testing for count function"
While `count(kmer)` is used extensively throughout the test suite, there are no explicit tests for the functionality of `count` itself on the counting hash or hashbits objects.

@ctb @mr-c

[2015-03-23 16:37] mr-c commented on #878
Good find, thanks!

According to http://ci.ged.msu.edu/job/khmer-master/label=linux/227/cobertura/lib/counting_hh/ there is  coverage via other functions of `count()` so that's something at least.

[2015-03-26 03:14] standage opened #881 "Option to send normalize-by-median.py output to stdout"
Is this currently possible? If not, implementing the option would facilitate piping output to other commands.

[2015-03-26 06:01] qingpeng opened #883 "coverage from median k-mer count -> coverage on nucleotide level"
The median k-mer count of a read is smaller than the actual sequencing depth of the region this read represents.  We have seen this before, like in the diginorm paper and the analysis of IGS method. I am not sure if we have discussed this, actually there is a way to convert such median k-mer count/ read coverage into real sequencing depth(coverage on nucleotide level).

It is mentioned in the Quak

[2015-03-26 10:33] ctb commented on #883
Thanks, QP! It's not so important for digital normalization but it is
useful for some other stuff we're working on.

[2015-03-26 11:04] ctb commented on #878
On Mon, Mar 23, 2015 at 09:37:42AM -0700, Michael R. Crusoe wrote:

yes, this should be easy to fix by copying some of the 'consume' functions
from test_counting_hash.py and having them use 'count' instead.

[2015-03-27 03:18] wking commented on #660
@ctb just called this issue out on @swc's discuss@ list, so I thought I'd share another interesting point.  In it's GitHub chapter, the v2 Pro Git book has a section (“Pull Requests as Patches”, just under [here][1]) that claims the rebase-or-not choice tends to break along mailing-list-based vs. PR-based projects.  Personally, I like rebased branches, because I want to review the whole feature br

[2015-03-27 08:28] mr-c commented on #679
Hello @vcepeda. I think the khmer 1.3 release should solve your problem. Since I don't have any test data I'm going to close this issue for now. We would love to hear if it works for you either way and feel free to re-open this issue if it doesn't.

Thanks!

[2015-03-27 08:28] #679 closed

[2015-03-27 08:28] mr-c commented on #654
Checkboxes have been updated.

[2015-03-29 02:30] kdmurray91 opened #884 "Behaviour of SeqAnParser with a truncated fastq"
This is a bit of a strange question, but here goes.

While making a test for #877, I made the following FASTQ file:

[code]

I.e., a valid record, followed by a record truncated after the sequence.

From my understanding of the format, and certainly from a pragmatic point, this is an invalid file. But the seqan parser silently accepts it, leaving `read.quality := ""`.

And there's no indication of

[2015-03-29 02:32] kdmurray91 commented on #884
Further testing indicates the same happens with

[code]

which *has* to be invalid, surely :)

[2015-03-29 02:55] kdmurray91 commented on #884
And even this:

[code]

[2015-03-29 12:30] ctb commented on #760
(See #884 too)

[2015-03-30 02:17] kdmurray91 opened #885 "libkhmer-dev debian package?"
(Was going to write this as an email, but figured github is more collaborative :smile:)

Hi @mr-c,

Now that #788 is merged, what's you opinion on adding `libkhmer-dev` as a package output of the `khmer` source debian package. I know you've been working on packaging for debian, and I'm happy to help out.

I know this somewhat flies in the face of it being the "unsupported" cpp library, so there ma

[2015-03-30 04:19] kdmurray91 commented on #884
So I gather this is a bug @ctb? If so, would you like me to dig further and/or contact seqan?

[2015-03-30 09:43] mr-c commented on #884
Further digging is welcome! Looks like a bug with SeqAn 1.4.x. It'll be interesting to see if it also exists in 2.x.

[2015-03-30 09:55] mr-c commented on #885
Sure!

Debian packaging is managed at http://anonscm.debian.org/cgit/debian-med/khmer.git via the Debian Med team http://debian-med.alioth.debian.org/docs/policy.html

The Debian package for khmer v1.3 is in the 'NEW' queue https://ftp-master.debian.org/new.html.

If it isn't there already we can add a note to the README.Debian about the semantic versioning agreement (and what isn't covered).

[2015-03-30 10:03] mr-c commented on #884
@ctb Shall we add a check for FASTQ files that have missing quality records and throw our own exception?

- [ ] Add to known issues list

[2015-03-30 10:04] ctb commented on #884
On Mon, Mar 30, 2015 at 03:03:41AM -0700, Michael R. Crusoe wrote:

Sure.

[2015-03-30 10:42] kdmurray91 commented on #884
OK, I'm happy to a) investiage w/ SeqAn 2, and b), raise a khmer exception when the quality is "" if it's a fastq file.

[2015-03-30 10:42] mr-c commented on #884
Thanks!

On Mon, Mar 30, 2015 at 1:42 PM, Kevin Murray <notifications@github.com>
wrote:

[2015-03-30 11:05] mr-c commented on #839
This is slightly less bad now that I've hidden the seqan usage behind an opaque pointer in 6a93d766009ba0f3bf7a5c7e58d0c490b3064450. Now the headers are only parsed once during the build. Still noisy but much less so.

[2015-03-30 11:09] mr-c opened #888 "smhasher implicit conversion loses integer precision"
From the OS X build logs

[code]

[2015-03-30 11:27] kdmurray91 commented on #884
OK, so w/ seqan 2, using the following works, throwing `seqan::UnexpectedEnd`. Which sounds about right!

[code]

[2015-03-30 11:30] mr-c commented on #884
Huzzah. We should still file an issue with Seqan to document the problem for 1.4.x users.

[2015-03-30 11:50] kdmurray91 commented on #884
OK, I'll double check the issue with a vanilla 1.4.2 tarball first, and raise an issue on their github. Tomorrow though, tis late down under :)

[2015-03-30 11:53] mr-c commented on #884
Thanks @kdmurray91, I appreciate it

[2015-03-30 11:56] mr-c commented on #660
@wking Thank you for sharing, I am +100 on this perspective but still unsure as to how to enshrine into policy.

[2015-03-30 15:00] mr-c opened #890 "update documentation: use codespell instead of aspell"
in `doc/dev/coding-guidelines-and-review.txt`

[2015-03-30 16:48] wking commented on #660
On Mon, Mar 30, 2015 at 04:56:37AM -0700, Michael R. Crusoe wrote:

If the maintainers feel like they follow all the in-flight PRs as they
develop, and won't need to go back and re-review previously submitted
but unmerged commits, then:

  Please don't reroll your pull requests, because we're following them
  as we develop.  We don't want to look through those changes again,
  so please make new c

[2015-03-31 01:45] kdmurray91 commented on #667
I'm happy for this to be closed now #671 is merged :)

[2015-03-31 02:10] kdmurray91 commented on #884
Interestingly, seqan 1.4 does something different:

[code]

Output:
[code]

So, it makes a new record, but doesn't fill ANY fields.

I can confirm that the same happens with the khmer headers under `./third-party`.

So a "fix" would be to check the length of the id/seq/qual strings and raise an error if it's empty? Or should we just silently skip it?

[2015-03-31 02:26] kdmurray91 commented on #884
Gist links for future reference:

[seqan 1.4](https://gist.github.com/361142983a5bc66f55ec)
[seqan 2.0](https://gist.github.com/7ceaa01464bd8c7517cb)

[2015-03-31 07:51] #667 closed

[2015-03-31 07:56] mr-c commented on #884
Intriguing. What version of Seqan were you initially testing with, 1.4.2?

On the first record only: set flag based on presence of qual string. If that flag is set then the length of seq and qual string must be equal; throw an appropriate khmer exception if not.

[2015-03-31 10:41] ctb commented on #660
On Mon, Mar 30, 2015 at 04:56:37AM -0700, Michael R. Crusoe wrote:

I'm -1 on requiring it of new contributors - I don't want to add to what we
force new contributors to do, as it will simply confuse them.

I'm currently -0 on *allowing* it on open pull requests.  It has been the cause
of several merge conflicts when I've tried to update in-progress branches from
@luizirber and @mr-c that have alr

[2015-03-31 16:08] wking commented on #660
On Tue, Mar 31, 2015 at 03:41:03AM -0700, C. Titus Brown wrote:

I agree, which is why you want a “good enough” safety valve (step 3 in
[1]).

I think the solution here is more clarity on when portions of unmerged
PRs are being consumed by other branches.  When you merge someone
else's open PR into your own branch, let them know so they don't
rebase before what you merged (or so they can tell you

[2015-04-01 10:03] mr-c commented on #888
@luizirber Care to fix this?

[2015-04-01 10:06] mr-c commented on #776
Re: C++ library. Now that #788 is merged I am happy to accept PRs that add [Doxygen comments](http://www.stack.nl/~dimitri/doxygen/manual/docblocks.html) and/or move code out of the header files.

[2015-04-01 10:59] kdmurray91 opened #893 "C++ library discussion"
Just continuing on from #776, which is getting a bit `C++`-y for a Python API thread :)

@mr-c  said:

[2015-04-01 11:02] kdmurray91 commented on #893
I'll have a go at Doxygen-ing the bits I know about, as time permits.

[2015-04-01 11:12] mr-c commented on #893
Thanks!

[2015-04-01 11:14] kdmurray91 commented on #884
Ah, it was `khmer::SeqAnParser`. I'll investigate further and make sure that my reported output was accurate. It could have been a bug in my debugging code (yo dog, i hear you like debugging...).

I'll get back to you tomorrow.

[2015-04-01 17:05] bocajnotnef opened #896 "[Screed] Test coverage failed to catch a typo"
See https://github.com/ged-lab/screed/pull/27

We should have a test to catch that error.

[2015-04-01 17:42] bocajnotnef commented on #896
Relevant: https://www.safaribooksonline.com/library/view/python-in-a/0596001886/re05.html

[2015-04-01 18:45] #888 closed

[2015-04-02 11:38] kdmurray91 commented on #884
So, with: https://gist.github.com/7f8b2178764483fbd294 (which uses khmer::read_parsers::SeqAnParser), I get the same as with vanilla seqan 1.4, i.e. a blank record at the end. I'll implement your suggestion above @mr-c

[2015-04-02 11:43] mr-c commented on #884
Thank you for the follow up.

[2015-04-02 11:59] kdmurray91 commented on #884
@mr-c what should we do with the case of an empty sequence?

[2015-04-02 13:25] mr-c opened #898 "Planning for PyCon Sprint"
https://us.pycon.org/2015/community/sprints/

(adapted from from https://github.com/openhatch/in-person-event-handbook/blob/master/checklists.pdf )
Defining Goals
- [x] Write one paragraph description of overall project goal.
- [x] Define specific goals for the event.
- [x] Define “base” and “reach” goals for this particular event.
Defining Tasks
- [ ] Define tasks for contributors to work on, inc

[2015-04-02 14:26] standage opened #899 "Add paired-end support to sampling script"
Unless I'm mistaken, the `sample-reads-randomly.py` script does not support paired end reads. There is a workaround, in which you: 1) decouple your interleaved reads; 2) apply the script to both paired files using the same seed; and 3) re-interleave the sampled data.

Rather than forcing users to split and then recouple paired end data, it would be great if this script supported interleaved paired

[2015-04-03 11:57] mr-c commented on #28
This is no longer on our roadmap. Closing.

[2015-04-03 11:57] #28 closed

[2015-04-03 16:06] mr-c commented on #825
FYI, #818 is merged

[2015-04-04 00:07] bocajnotnef opened #903 "[Screed] If the screed streaming tests fail because there's no infile the tests hang and have to be killed manually"
[code]

[2015-04-04 12:58] kdmurray91 commented on #884
The original bug is fixed by #897, maybe @mr-c can re-open if you want this to linger as motivation for the SeqAn2  PR/bug

[2015-04-04 13:00] kdmurray91 commented on #884
Though, a "known issue" we didn't discuss is that the following will be interpreted as a sequence only file, which it, a) kinda is, and b) well, this is never going to happen.

[code]

[2015-04-04 13:05] kdmurray91 commented on #884
I checked, and the following is correctly found to be erroneous:

[code]

So it's only for single reads.

[2015-04-04 13:06] mr-c commented on #884
I don't see our job to be a correctness checker all the time but I guess that can go in the known issues list.

[2015-04-04 13:07] kdmurray91 commented on #884
:+1:

[2015-04-04 14:07] mr-c opened #904 "Officially stop supporting Python 2.6"
And include a pointer to http://www.curiousefficiency.org/posts/2015/04/stop-supporting-python26.html

hat tip to @luizirber

[2015-04-04 14:11] mr-c commented on #904
See also #94

[2015-04-04 14:21] mr-c commented on #598
Given http://www.curiousefficiency.org/posts/2015/04/stop-supporting-python26.html and https://access.redhat.com/documentation/en-US/Red_Hat_Developer_Toolset/3/html-single/User_Guide/index.html#tabl-Red_Hat_Developer_Toolset-About we can choose to use feature from up to GCC 4.8.2 safely (a.k.a all of the features of C++11 supported by GCC to date)

[2015-04-04 15:22] luizirber opened #905 "Re-evaluate HLL constants"
per "Empirical bias correction" on the [google paper][1]. They use a proprietary 64-bits hash function and generated constants for this implementation, we should redo their analysis using MurmurHash3.

[1]: http://static.googleusercontent.com/media/research.google.com/en/us/pubs/archive/40671.pdf

[2015-04-04 16:21] mr-c opened #906 "Checklist for v1.4 release"
- [x] Screed v0.8 release

Finish these PRs:

- [x] check for errors while writing to disk #856
- [x] Option for printing diginorm output to stdout #882
- [x] add thread safety to CountingHash::abundance_distribtion #900
- [x] catch more exceptions & make a couple tests more robust #889
- [x] quiet OSX build #887

[2015-04-04 17:26] mr-c commented on #906
- [ ] preliminary coverity scan
- [ ] preliminary release checklist

[2015-04-04 17:40] mr-c opened #907 "tests have become a bit noisy"
[code]

This happened somewhere around commit a7e0205b

[2015-04-04 18:55] drtamermansour opened #908 "normalize-by-median multiple input files (possible bug)"
normalize-by-median.py: if the input files are multiple files of the same name (ofcourse in different folders), the program gives one .keep file for only one input file

[2015-04-05 10:05] mr-c opened #910 "khmer doc file extensions trip up GitHub rich text editor"
I think if they had the '.rst' extension then GitHub would show the rich text editor and diffs. Needs investigating to see if Sphinx will be okay with that.

[2015-04-05 10:27] ctb commented on #910
On Sun, Apr 05, 2015 at 03:05:55AM -0700, Michael R. Crusoe wrote:

Yes, this is straightforward; see source_suffix in doc/conf.py.  +1.

[2015-04-05 11:33] mr-c commented on #908
+1

[2015-04-05 11:36] ctb commented on #908
On Sun, Apr 05, 2015 at 04:33:09AM -0700, Michael R. Crusoe wrote:

I think this is an obvious consequence of the way it works, and I'm -0
on further complicating the normalize-by-median.py code.  We should instead
provide better alternative (and soon, default) methods for handling output.

[2015-04-05 11:37] mr-c commented on #908
How about added a warning?

[2015-04-05 11:40] ctb commented on #908
On Sun, Apr 05, 2015 at 04:37:59AM -0700, Michael R. Crusoe wrote:

*shrug* Doesn't help with the code complexity issue, but maybe we have to.

[2015-04-05 12:07] mr-c opened #913 "clean up changes to sphinxcontrib-autoprogram and work with upstream to get them merged"
See also #620

[2015-04-05 12:14] mr-c commented on #906
- [ ] add release notes #807

[2015-04-05 20:16] bocajnotnef opened #915 "[Protocols] Trinity needs Java 1.7, only gets 1.6.something"
[code]

[2015-04-05 20:29] ctb commented on #915
apt-get install openjdk-7-jre

[2015-04-05 21:03] mr-c commented on #915
Fixed in https://github.com/ged-lab/literate-resting/pull/5

[2015-04-05 21:03] #915 closed

[2015-04-05 22:33] bocajnotnef opened #916 "[Screed] Screed's release checklist is missing the "Making Final Release" portion"
As in, the analouge to http://khmer.readthedocs.org/en/v1.3/dev/release.html#how-to-make-a-final-release

[2015-04-05 22:35] mr-c commented on #916
Note that there won't been a need for OS X specific instructions as Screed is pure python and the resulting wheel can be used on all platforms.

[2015-04-05 23:05] mr-c commented on #910
Fixed by #912

[2015-04-05 23:05] #910 closed

[2015-04-06 02:25] drtamermansour opened #918 "-T option in load-into-counting.py fails to execute"
load-into-counting.py works fine with --threads but fails to execute with -T

[2015-04-06 04:06] #807 closed

[2015-04-06 10:09] mr-c opened #919 "better testing for misc IO errors"
https://github.com/ged-lab/khmer/pull/856#issuecomment-87695006

[2015-04-06 10:13] mr-c commented on #918
Hey @drtamermansour, I can't reproduce this.

What is the exact command line, what version of khmer, and where are you running this?

[code]

[2015-04-06 11:46] ctb commented on #904
On Sat, Apr 04, 2015 at 07:07:32AM -0700, Michael R. Crusoe wrote:

We don't have many dependencies, though, so I'm not sure we're contributing to
the 2.6 problem.  More articulation on the technical reasons (what do we gain
by abandoning Py 2.6?) would be welcome.

[2015-04-06 15:25] mr-c commented on #906
- [ ] acceptance tests
- [ ] batlab
- [ ] freshen release notes

[2015-04-06 15:34] mr-c commented on #598
- [ ] Add a summary of the above to the developer documentation
- [ ] add information about the Red Hat Software Collection to the user install document

[2015-04-06 15:46] drtamermansour commented on #918
I am using the MSU-HPC. Here is when it works:

(env)[mansourt@dev-intel10 temp-loadintocounting]$ load-into-counting.py -k 17 -N 4 -x 3e7 --threads 4 reads.kt reads.fq

|| This is the script 'load-into-counting.py' in khmer.
|| You are running khmer version 1.4-rc1-3-g3c2f0bd
|| You are also using screed version 0.8-rc4
||
|| If you use this script in a publication, please cite EACH of the follow

[2015-04-06 15:56] mr-c commented on #918
Compare `–T` and `-T`. They are different dashes. Are you copying and
pasting from a Microsoft Word document or other print oriented text editor?

Try typing out dash T.

On Mon, Apr 6, 2015 at 6:46 PM Tamer Mansour <notifications@github.com>
wrote:

[2015-04-06 16:05] drtamermansour commented on #918
You are right. Actually it is the default txt editor of Mac doing wired
auto-correction.
Sorry

On Mon, Apr 6, 2015 at 10:56 AM, Michael R. Crusoe <notifications@github.com

[2015-04-06 16:08] mr-c commented on #918
No worries. I'm happy to be helpful! Thank you for reporting this issue.

[2015-04-06 16:08] #918 closed

[2015-04-07 19:46] mr-c commented on #904
I think I remember some difficulties that py2.6 compatibility introduces if
one wants to have a Python 2/3 compatible codebase. I feel no need to
change anything at the moment; the C++ side is much more significant if one
buys the logic at the link.

On Monday, April 6, 2015, C. Titus Brown <notifications@github.com> wrote:

[2015-04-07 21:30] bocajnotnef commented on #916
@mr-c Did you do the readthedocs stuff for screed?

[2015-04-07 21:44] mr-c commented on #916
I think so. Does the basic URL redirect to the correct version for you?

On Tue, Apr 7, 2015, 17:30 Jake Fenton <notifications@github.com> wrote:

[2015-04-07 21:47] bocajnotnef commented on #916
It directs to "latest"

Also, just noticed that the 0.8 release notes aren't visible from readthedocs. I'll update the toctree in https://github.com/ged-lab/screed/pull/33

[2015-04-07 21:48] bocajnotnef commented on #916
Scratch that, looks like there's a `.md` vs `.rst` issue.

that is, the notes are `.md` and screed doesn't like them. Thoughts?

[2015-04-07 21:48] mr-c commented on #916
See what I did for khmer :-)

On Tue, Apr 7, 2015, 17:48 Jake Fenton <notifications@github.com> wrote:

[2015-04-07 22:03] bocajnotnef commented on #916
Aha. Code borroed : 3

[2015-04-08 19:45] mr-c commented on #748
Fixed by https://github.com/ged-lab/screed/issues/30

[2015-04-08 20:37] #748 closed

[2015-04-11 15:31] mr-c commented on #802
- [ ] Need CPython type for `pre_partition_info`

[2015-04-12 15:02] mr-c opened #923 "find_all_tags_truncate_on_abundance is unused and can be removed"
Left over from #441

[2015-04-13 13:35] anotherthomas commented on #923
I am working on this issue.

[2015-04-13 14:23] mr-c commented on #763
@ctb This should support streaming as is with `/dev/stdin` being used as the input file name.

[2015-04-13 14:29] anotherthomas commented on #907
will be fixed by #922

[2015-04-13 14:31] mr-c commented on #110
Take a look at `scripts/abundance-dist.py`

[2015-04-13 14:31] safay commented on #110
@mr-c
I'd like to take a crack at this

[2015-04-13 14:35] scottsievert commented on #482
Ditto -- looks resolved but still open.

[2015-04-13 14:46] #923 closed

[2015-04-13 14:50] mr-c commented on #913
https://bitbucket.org/birkenfeld/sphinx-contrib/pull-request/59/enhance-autoprogram-include-usage-summary/diff

[2015-04-13 14:56] mr-c opened #925 "abundance-dist.py: squash & force have same help text"

[2015-04-13 15:01] davelin1 commented on #925
working on this

[2015-04-13 15:07] ahaerpfer commented on #866
Going to work on this …

[2015-04-13 15:31] mr-c opened #927 "khmer.kfile.check_file_status needs to be renamed to reflect that input files are the target of the function"

[2015-04-13 15:33] elmbeech commented on #908
I gone fix this

[2015-04-13 15:58] mr-c commented on #110
Note: this will take C++ hacking. @safay is going to find another issue to work on.

[2015-04-13 16:25] mr-c commented on #907
As @anotherthomas and I discussed this will not be fixed by #922, alas.

[2015-04-13 16:45] datasourcery commented on #890
I'm working this.

[2015-04-13 18:36] #881 closed

[2015-04-13 19:45] mr-c commented on #669
Fixed in #892

[2015-04-13 19:45] #669 closed

[2015-04-13 19:58] Magentashades commented on #482
Hello, looks like some of the copyright headers are still out of date. I'm working on fixing them.

[2015-04-13 20:02] scottsievert commented on #482
I fixed most of them in PR #928... I almost have the merge complete but finish this IPython project first.

[2015-04-13 20:08] Magentashades commented on #482
Hi Scott, it looks like you changed the license but not the end date on the
copyright line. I'm just doing the latter which is changing the date ranges
20??-2014 to 20??-2015 if there was a commit in 2015.

On Mon, Apr 13, 2015 at 4:02 PM, Scott S. <notifications@github.com> wrote:

[2015-04-13 20:18] anotherthomas commented on #913
I've resolved the conflicts against the default branch and added a test case.

[2015-04-13 20:39] proteasome commented on #927
I am working on this issue.

[2015-04-13 20:51] scottsievert commented on #482
Cool! So are you/have you managed the issues with LICENSE as well?

[2015-04-13 20:51] anotherthomas commented on #873
On current master parsing fails with an error message:

...
Unrecognized format for read pair information: SRR797058.11HWI-ST600:227:C0WR4ACXX:7:1101:20488:1997/1        ec:Z:0_0:1_0_1:0_0
Exiting.

It does create empty result files.

[2015-04-13 21:09] Magentashades commented on #482
I've been leaving that alone, hoping my stuff will merge nicely with yours.

On Mon, Apr 13, 2015 at 4:51 PM, Scott S. <notifications@github.com> wrote:

[2015-04-13 21:12] macmanes commented on #873
I guess an error message is better than nothing, but better yet would be to ignore the training info in the fastq header.

[2015-04-13 21:22] anotherthomas commented on #872
I am working on this issue.

[2015-04-13 22:13] safay commented on #848
@mr-c: I think this was fixed by #929; can you please verify?

[2015-04-13 22:27] mr-c commented on #927
`check_input_files` would be a great name

[2015-04-13 23:00] mr-c commented on #848
Indeed. Good catch @safay. I am closing this issue. Thank you @SherineAwad for reporting this!

[2015-04-13 23:00] #848 closed

[2015-04-13 23:12] anotherthomas opened #935 "C++ exceptions are initialized with a temporary string"
When parsing data files, errors result in exceptions constructed like this: khmer_file_exception(err.str().c_str())

khmer-exceptions only store a pointer to a C string:
khmer_exception(const char * msg) : _msg(msg) { }
const char * _msg;

Since the string returned by str() is temporary, that results in dangling pointers.
Changing the _msg member to a std::string would solve the problem.

[2015-04-13 23:51] Magentashades opened #937 "Add "Is Copyright up to date?" to commiter checklist"
Would it make sense to add another item to the commit checklist to make sure that the copyright is up to date when making the commit?

[2015-04-14 02:19] mr-c commented on #913
Fwoah, pull request merged. Thanks @anotherthomas !

[2015-04-14 02:19] #913 closed

[2015-04-14 13:11] mr-c opened #939 "Need to document policy for incomplete pull requests"
- [ ] Ask before taking over
- [ ] What is an appropriate time to wait before swooping in?

[2015-04-14 13:12] mr-c commented on #898
Overcome by events, closing issue.

[2015-04-14 13:12] #898 closed

[2015-04-14 13:15] mr-c commented on #937
+1

[2015-04-14 13:32] #443 closed

[2015-04-14 13:50] #75 closed

[2015-04-14 14:39] #935 closed

[2015-04-14 14:54] luizirber commented on #657
This is being worked on PR #814

[2015-04-14 14:54] safay commented on #296
I'll start working on the remaining items

[2015-04-14 15:08] sguermond commented on #937
Working on this.

[2015-04-14 15:14] susinmotion commented on #21
working on this.

[2015-04-14 15:31] wking commented on #937
If you want to automate copyright year bumps and author information,
you might be interested in my update-copyright package [1].  I'm happy
to work up a PR with the .update-copyright.conf if that sounds useful.

[1]: https://pypi.python.org/pypi/update-copyright/

[2015-04-14 15:46] sguermond commented on #767
Working on this.

[2015-04-14 15:46] susinmotion commented on #21
The threshold for what collision rate is too high varies in different parts of the code. What threshold(s) would you like to use? For now, I will pass the existing thresholds as an argument to the check function.

Here are the places the duplicate logic is found (or should be found?), and their thresholds:
Collect variants -- .2 (with a comment saying don't change)
Collect Reads -- .2 (with a comm

[2015-04-14 16:02] Magentashades commented on #937
This is a cool script. One of the specifications for updating the copyright
headers was that the change be substantial in some way, which a git commit
doesn't necessarily identify (and seems to often be a false positive) hence
the human parsing effort.
On Apr 14, 2015 11:31 AM, "W. Trevor King" <notifications@github.com> wrote:

[2015-04-14 16:15] wking commented on #937
On Tue, Apr 14, 2015 at 09:02:43AM -0700, Sarah Fernandez wrote:

Fair enough, although for open source projects I don't see much harm
in being a bit liberal in handing out copyright ownership, especially
since “substantial in some way” is so vague…

[2015-04-14 16:35] mr-c commented on #866
Fixed by #936

[2015-04-14 16:35] #866 closed

[2015-04-14 18:08] susinmotion commented on #21
Also!
Some places had the opportunity to force listed and others didn't. Is there a pattern to where where you'd like to allow for a force? Right now, I'm fixing as if you want to allow for a force at any time.

[2015-04-14 18:30] elmbeech commented on #614
i will work on that

[2015-04-14 18:38] mr-c commented on #925
Fixed by #929

[2015-04-14 18:38] #925 closed

[2015-04-14 18:38] mr-c commented on #908
Fixed by #932

[2015-04-14 18:38] #908 closed

[2015-04-14 18:39] elmbeech commented on #777
I am using OS X with mac port (https://www.macports.org/). I will write document how to install cppchecker for users who run their mac with the mac port distro.

[2015-04-14 18:43] mr-c commented on #763
@ctb I think this issue is finished; can you confirm?

[2015-04-14 18:45] ahaerpfer commented on #873
I'll look into this and try to fix the parser.

[2015-04-14 18:51] safay commented on #296
@mr-c: I was able to google up some of the discussion board archived emails, so I think you can check off that box too

[2015-04-14 18:51] anotherthomas commented on #840
I'm working on readstats.py

[2015-04-14 18:55] mr-c opened #943 "clarify dev communication"
- [ ] @ mention @luizirber @camillescott @mr-c or @ctb for code review
- [ ] @ mention for followups

[2015-04-14 19:02] mr-c commented on #296
@safay Cool! Do you have a specific query string to limit queries to our mailing lists?

[2015-04-14 19:33] elmbeech opened #945 "getting-started.rst documentation update for OSX mac port users"
Documentation getting-started

http://khmer.readthedocs.org/en/latest/dev/getting-started.html
6. Create a virtual Python environment within which to work with virtualenv:

OS X pip installation for mac port distro users should be added.

[2015-04-14 19:42] mr-c commented on #937
Fixed by #940

[2015-04-14 19:42] ctb opened #946 "add support for streaming to trim-low-abund.py"
- [ ] support '-o/--out' for scripts/trim-low-abund.py, as for 'normalize-by-median.py'
- [ ] support '-' and test '/dev/stdin' for input

trim-low-abund.py supports streaming input and output in theory, but it needs to be implemented.

cc #654

[2015-04-14 19:43] mr-c commented on #916
Fixed by https://github.com/ged-lab/screed/issues/33

[2015-04-14 19:43] #916 closed

[2015-04-14 19:46] ctb opened #947 "Update scripts/ requirements to include streaming I/O support"
add 'support - as an input file, if appropriate' and 'support designation of an output file (including stdout), if appropriate' to the checklist for scripts in doc/dev/scripts-and-sandbox.rst.

See 'normalize-by-median.py' -o/--out options, for example. All scripts should support this kind of I/O as possible.

[2015-04-14 20:20] susinmotion commented on #58
Working on this

[2015-04-14 20:22] mr-c opened #948 "tests that use `runscript` with `fail_okay=True` must use asserts to confirm the correct failure type"

[2015-04-14 20:35] ctb commented on #763
No, not yet --

- [ ] 'infile' should default to /dev/stdin, nargs='?', and in that case -1 and -2 are required

[2015-04-14 20:36] ctb opened #949 "Update split-paired-reads to default to stdin"
see #763, most specifically https://github.com/ged-lab/khmer/issues/763#issuecomment-93051576

[2015-04-14 20:38] sguermond commented on #947
Working on it.

[2015-04-14 20:39] safay commented on #777
@mr-c @elmbeech Please note cppcheck is also installable by homebrew; can you include that too?
`brew install cppcheck`

[2015-04-14 21:00] samanehsan commented on #825
I can take this issue!

[2015-04-14 21:05] mr-c commented on #763
@ctb I don't think we can change that sort of default without bumping the version number?

[2015-04-14 21:09] #937 closed

[2015-04-14 21:16] ctb commented on #763
Ok, but most of it can be done wo changing default; does specifying - work?

--
Titus Brown, ctbrown@ucdavis.edu

[2015-04-14 21:17] elmbeech commented on #777
- [ ] Is it mergeable?
- [ ] Did it pass the tests?
- [ ] If it introduces new functionality in scripts/ is it tested?
  Check for code coverage with `make clean diff-cover`
- [ ] Is it well formatted? Look at `make pep8`, `make diff_pylint_report`,
  `make cppcheck`, and `make doc` output. Use `make format` and manual
  fixing as needed.
- [ ] Did it change the command-line interface? Only additi

[2015-04-14 21:19] elmbeech commented on #777
@ safay
Can you drop me a line how to install pip 2.7 with homebrew?

[2015-04-14 21:20] proteasome commented on #927
? this seems to be confounded with
 check_file_status->check_input_files #941

[2015-04-14 21:25] proteasome commented on #927
- [ ] Is it mergeable?
- [ ] Did it pass the tests?
- [ ] If it introduces new functionality in scripts/ is it tested?
  Check for code coverage with `make clean diff-cover`
- [ ] Is it well formatted? Look at `make pep8`, `make diff_pylint_report`,
  `make cppcheck`, and `make doc` output. Use `make format` and manual
  fixing as needed.
- [ ] Did it change the command-line interface? Only additi

[2015-04-14 21:30] proteasome commented on #927
ready for review!

[2015-04-14 21:38] safay commented on #498
taking this, @jennomics, sorry!

[2015-04-14 21:43] safay commented on #498
- [ ] Is it mergable?
- [ ] Did it pass the tests?
- [ ] If it introduces new functionality in scripts/ is it tested?
  Check for code coverage.
- [ ] Is it well formatted? Look at `make pep8`, `make diff_pylint_report`,
  `make cppcheck`, and `make doc` output. Use `make format` and manual
  fixing as needed.
- [ ] Did it change the command-line interface? Only additions are allowed
  without a m

[2015-04-14 21:48] safay commented on #498
@mr-c: I think this is ready to go.  Will update ChangeLog once I get signal that this will be merged.

[2015-04-14 21:50] mr-c commented on #21
Fixed by #944

[2015-04-14 21:50] #21 closed

[2015-04-14 22:10] elmbeech commented on #777
There is no copyright notification in the getting-started.rst file.
Should I add one?

[2015-04-14 22:20] samanehsan commented on #825
Ahh didn't notice @jessicamizzi was already assigned to this. I'll close my PR.

[2015-04-14 22:20] elmbeech commented on #945
Will be solved with bug #777

[2015-04-14 23:07] mr-c opened #958 "double dashes rendering as 'em' (long) dashes in scripts docs"

[2015-04-14 23:08] sguermond commented on #946
Working on it.

[2015-04-14 23:22] sguermond commented on #767
@mr-c Ready for review!

[2015-04-14 23:49] mr-c opened #960 "[screed] accept `-` as a shortcut for `/dev/stdin`"

[2015-04-14 23:57] mr-c commented on #58
Thank you @susinmotion !

[2015-04-14 23:57] #58 closed

[2015-04-14 23:59] safay commented on #296
@mr-c: I don't know if you still want the project to have a project-specific domain name.  The other two items can be checked off.

[2015-04-15 00:02] mr-c commented on #498
Fixed by #953

[2015-04-15 00:02] #498 closed

[2015-04-15 00:07] #945 closed

[2015-04-15 08:38] mr-c commented on #296
Thanks! The domain requirement is a remnant from the Sustainable Scientific Software Checklist. It is still a good idea but not a priority.

[2015-04-15 15:18] anotherthomas commented on #960
I'm working on this.

[2015-04-15 15:34] mr-c commented on #763
@ctb '-' will once @anotherthomas is done with #960 (which adds this behaviour to screed)

[2015-04-15 15:34] mr-c commented on #949
Subsumed by #960

[2015-04-15 15:34] #949 closed

[2015-04-15 16:42] mr-c commented on #341
This is no longer a problem.

[2015-04-15 16:42] #341 closed

[2015-04-15 17:18] mr-c opened #964 "scripts/normalize-by-median.py: don't pass ArgParse object to functions"
Pass the specific values needed instead

[2015-04-15 18:33] susinmotion commented on #109
@ctb Do you have more information about how this could happen?

[2015-04-15 18:34] susinmotion commented on #964
working on this

[2015-04-15 18:36] mr-c commented on #873
Fixed by #954

[2015-04-15 18:36] #873 closed

[2015-04-15 18:37] mr-c commented on #767
Fixed by https://github.com/ged-lab/screed/issues/35

[2015-04-15 18:37] #767 closed

[2015-04-15 19:08] mr-c commented on #840
Fixed, thanks!

[2015-04-15 19:08] #840 closed

[2015-04-15 19:18] ahaerpfer commented on #958
There seems to be config option for Sphinx to switch off this behaviour:
http://sphinx-doc.org/config.html?highlight=dash#confval-html_use_smartypants

Don't know though if you can actually influence the configs on *readthedocs*.

[2015-04-15 19:31] susinmotion commented on #948
working on this

[2015-04-15 19:39] mr-c commented on #169
WIll be fixed by #922

[2015-04-15 19:40] #774 closed

[2015-04-15 19:41] mr-c commented on #183
Dupe of #18, closing

[2015-04-15 19:41] #183 closed

[2015-04-15 21:08] #946 closed

[2015-04-15 21:08] #947 closed

[2015-04-15 21:13] sguermond commented on #943
Working on it.

[2015-04-15 22:06] #943 closed

[2015-04-15 22:20] mr-c opened #970 "[Screed][Docs] install & running test instructions out of date"
- [x] should install using `pip  install`, not `git clone`
- [x] run tests using nosetest
- [x] missing setup instructions for devs

[2015-04-15 22:24] #948 closed

[2015-04-15 22:27] ahaerpfer commented on #846
@mr-c could it be that this can be closed?  All sandbox-scripts are in lowercase and use '-' and *sandbox/README.rst* also looks OK and up to date.  Is there anything else to do?

[2015-04-15 22:36] mr-c commented on #846
@ahaerpfer Good catch, thanks!

[2015-04-15 22:36] #846 closed

[2015-04-15 22:36] ahaerpfer commented on #948
Note (re inline markup in Python sourcecode) … see:
https://docs.python.org/devguide/documenting.html#inline-markup

[2015-04-15 22:41] mr-c commented on #958
Fixed by #967

[2015-04-15 22:41] #958 closed

[2015-04-15 22:45] #960 closed

[2015-04-15 23:09] proteasome commented on #970
@mr-c directory structure has changed and should be updated for Creating a database from the API and ? elsewhere, e.g.
screed/tests/test.fa  -> screed/tests/test-data/test.fa
http://screed.readthedocs.org/en/latest/screed.html

[2015-04-15 23:31] mr-c commented on #964
Fixed in #964

[2015-04-15 23:31] #964 closed

[2015-04-15 23:32] mr-c commented on #927
Fixed in #941

[2015-04-15 23:32] #927 closed

[2015-04-15 23:37] #903 closed

[2015-04-16 10:39] ctb opened #973 "Update trim-low-abund output statement"
The statement "output in *.abundtrim'" at the end may no longer be true with the new '-o' option; this should be updated.

[2015-04-16 10:44] ctb opened #974 "trim-low-abund no longer distinguishes between types of information output"
in #963, trim-low-abund was modified to no longer separate diagnostic output from informative output (output that should be saved vs output that merely indicates things are running); this was because the -o/--out option was added.  We need to add this behavior back in somehow, because it's important for tracking specific information for publications and post-analysis (see https://github.com/ged-la

[2015-04-16 10:46] ctb opened #975 "write test to ensure that output from "trim-low-abund --out -" is in good format"
In #963, test_trim_low_abund_stdout() should actually parse the output, because a substring mismatch may happen even if there's other garbage in the output.

[2015-04-16 10:50] ctb commented on #763
This is now straightforward to do, but I continue to note that when /dev/stdin is specified the default filenames are broken ;).

[2015-04-16 10:59] ctb commented on #109
@susinmotion see http://khmer-recipes.readthedocs.org/en/latest/005-estimate-total-genome-size/index.html

[2015-04-16 15:26] proteasome commented on #760
i'm interested in working on this

[2015-04-16 15:51] mr-c commented on #763
- [ ] don't break if '/dev/stdin' is the input filename

[2015-04-16 15:51] proteasome commented on #760
@mr-c @ahaerpfer looks like the problem is here:
a malformed file may never escape the while loop, thereby never return a value for the upstream iterable

screed/fastq.py(38)fastq_iter()
 35  	        # Extract the sequence lines
 36  	        sequence = []
 37  	        line = handle.readline().strip()
 38  ->	        while not line.startswith('+') and not line.startswith('#'):
 39

[2015-04-16 17:01] proteasome commented on #390
@mr-c i'm interested in working on this

[2015-04-16 17:13] ctb commented on #760
Would be great to handle the list of examples in https://github.com/ged-lab/khmer/issues/760#issuecomment-73407832 too!

[2015-04-16 18:12] proteasome commented on #760
- [ ] Is it mergable?
- [ ] Did it pass the tests?
- [ ] If it introduces new functionality, is it tested?
- [ ] Is it well formatted? Look at `make pep8`, `make diff_pylint_report`,
  and `make doc` output. Use `make format` and manual fixing as needed.
- [ ] Is it documented in the ChangeLog?
- [ ] Was a spellchecker run on the source code and documentation after
  changes were made?

[2015-04-16 18:23] ctb commented on #760
@proteasome this is an issue - is there a pull request that you're working on somewhere?

[2015-04-16 21:17] ahaerpfer commented on #760
@ctb @mr-c @proteasome: I have some more or less related comments here …

The while loop above simply fails to check if we have a line at all, so the quick fix for this issue to break out of the loop could be something like this:
[code]

However, this would still not solve some other parsing issues that exist, in particular around empty lines in the FASTQ file.  (I guess this also relates to issue

[2015-04-17 11:15] ctb commented on #760
Two thoughts --

first, we should work towards having tests in khmer for tricky fastq parsing for both the seqan (C++) and screed (Python) parsers; it's probably important to make sure they don't barf on too many different things.

second, I would be in favor of minimalistic changes to the existing parser unless we run into widespread real-world situations that indicate further problems.

[2015-04-17 12:20] kdmurray91 commented on #760
If you want, I'll add a verbose C++ test driver and a series of tests to the jenkins build script. This way we can clone the broken fastq pool only on jenkins and not lump it into the khmer repo.

[2015-04-17 12:21] kdmurray91 opened #976 "Test the C++ read parsing code with malformed fastq files"
See #760

[2015-04-20 10:48] ctb commented on #760
On Fri, Apr 17, 2015 at 05:20:51AM -0700, Kevin Murray wrote:

More generally, I think we should be exposing the C++ parsing code via Python
and then we can simply do comparisons to make sure they return reasonably
consonant results... @camillescott, thoughts?

[2015-04-21 09:51] lexnederbragt commented on #175
I am going to write a test for this case - it seems to be fixed but I'll confirm that and add the test. I'm being coached by @mr-c who is visiting our lab :-)

[2015-04-21 12:07] mr-c opened #977 "multithread data structure initialization"
https://github.com/ged-lab/khmer/blob/master/lib/hashbits.hh#L29

[2015-04-21 13:27] ctb commented on #977
On Tue, Apr 21, 2015 at 05:07:44AM -0700, Michael R. Crusoe wrote:

what about it? :)

[2015-04-21 17:39] wrightmhw commented on #358
I am planning on picking this up, objections pending.

[2015-04-22 07:37] mr-c commented on #977
Embarrassingly slow. Could easily be sped up with openmp.

[2015-04-22 10:32] #899 closed

[2015-04-22 13:14] mr-c commented on #175
Working backwards @lexnederbragt and I are unable to reproduce this issue with any version of khmer released during my employment (0.5...1.3)

[2015-04-22 13:17] mr-c commented on #175
And I can't find a download for an older version of khmer than v0.5. Seeing as that was released a year and a half after this issue was originally reported I am going to mark this issue as fixed once we have merged Lex's test.

[2015-04-22 13:19] ctb commented on #175
Well, its probably in version control somewhere. And it might (likely) depend on screed.  But if it�s fixed it�s fixed :)

[2015-04-22 13:23] mr-c commented on #175
@ctb Right-o, I didn't try versions of screed older than v0.7.1

[2015-04-23 12:40] mr-c commented on #175
Tested in #979

[2015-04-23 12:40] #175 closed

[2015-04-26 21:17] ctb opened #980 "clean up khmer.calc_expected_collisions() output in khmer/__init__.py"
- [x] every line should start with **
- [x] the false positive rate should be printed out
- [x] the max false positive rate should be printed out
- [x] 'presence table' isn't always correct, eg. load-into-counting; remove 'presence'

[2015-04-27 19:00] devbioinfoguy commented on #175
(thumbs-up)

Cheers,
B

-----------------------------------------------------
Bob Freeman, Ph.D.
Research Computing Facilitator
XSEDE Campus Champion
FAS Research Computing
Harvard University
38 Oxford Street, Rm 117
Cambridge, MA  02138

617/495.8824, vox

@DevBioInfoGuy
About: http://bit.ly/1m8n0se

[2015-04-28 11:06] ctb commented on #60
Also see: https://twitter.com/ChristianHeimes/status/593007790861475840

[2015-04-28 17:07] mr-c commented on #980
@ctb Is this a blocker for v1.4?

[2015-04-28 17:07] ctb commented on #980
On Tue, Apr 28, 2015 at 10:07:15AM -0700, Michael R. Crusoe wrote:

nope.

[2015-04-30 13:32] mr-c commented on #970
@proteasome  Yep! Good catch

[2015-05-03 13:03] mr-c opened #981 "reStructuredText markup in `--help` output"
This was an early design decision on my part to enable richer formatting in the auto generated scripts documentation.

Since we specify the method or attribute name to sphinx-contrib.autoprogram of the `argparse.ArgumentParser` to use we can problematically manipulate it before usage in the script itself.

Bonus: instead of down converting the rST syntax to plain text, use [blessings](https://pypi

[2015-05-03 13:19] mr-c commented on #981
Example from `normalize-by-median.py --help`:

[code]
Specifically:
[code]
 could be rendered as _-l_,_--loadtable_ and
[code]
could be rendered as **load-into-counting.py** and
[code]
could be rendered using underline (which is not possible to demonstrate in this comment)

All together:

With _-s_,_--savetable_, the k-mer counting table will be saved to the specified file after all sequences have

[2015-05-03 13:23] mr-c commented on #981
Note that blessings will turn off terminal effects automatically if connected to a pipe https://pypi.python.org/pypi/blessings#pipe-savvy

[2015-05-03 14:14] ctb commented on #981
s/problematically/programmatically/

[2015-05-03 16:52] mr-c commented on #981
@ctb thx

[2015-05-07 07:52] qingpeng opened #982 "Time to design a logo for khmer?"
or wait until we adopt the new name? :)

[2015-05-07 16:31] mr-c commented on #982
Yes, we need a logo for oxli! This will fulfill item 2 on https://github.com/ged-lab/khmer/issues/291#issue-27482199

[2015-05-07 16:32] mr-c commented on #320
So here we are a year later and no name change yet. After two weeks of explaining (and apologizing) for the name at PyCon I wish we had changed it before the 1.0 release :-/

[2015-05-08 14:10] ctb opened #985 "filter-abund.py and filter-abund-single.py discard reads with 'N's in them"
Pointed out by @drtamermansour. See:

https://github.com/ged-lab/khmer/blob/master/scripts/filter-abund.py#L98
https://github.com/ged-lab/khmer/blob/master/scripts/filter-abund-single.py#L109

The appropriate behavior is to mimic normalize-by-median.py and replace 'N' with 'A', I think.

While we're at it, I think these scripts should be simplified and the threading removed.

[2015-05-08 14:53] ctb opened #986 "Factor out sequence preprocessing of reads with 'N's in them"
We have about 20 places in the codebase where we replace 'N' with 'A' in reads from screed. This behavior should be factored out into a function in utils.py, instead.

See #985.

[2015-05-08 14:56] ctb commented on #986
Note:

     git grep replace | grep \'N\'

shows all the locations

[2015-05-08 15:02] ctb commented on #986
Also note that I think to whatever extent possible, 'N's in reads should not be altered in the output; khmer should deal with them consistently internally, but not replace them in output reads.

[2015-05-08 16:06] ctb opened #988 "Properly handle singleton reads in normalize-by-median."
This fits into the #732 bucket, improving user experience.

These ideas and issues most recently raised in conversation with @drtamermansour, but leaning on conversations with @camillescott and @mr-c also.

singleton reads/read files are poorly handled by normalize-by-median in workflows and elsewhere. A few thoughts --

1. By default, normalize-by-median should accept and deal with broken-paired

[2015-05-08 17:02] ctb opened #989 "Compare behavior of filter-abund -V with normalize-by-median; maybe adjust defaults"
@drtamermansour makes the good point that the two-step process

normalize-by-median -C 20 ...
filter-abund -V ...

may fail to trim many sequences because normalize-by-median rejects sequences with median k-mer abundance >= 20, and filter-abund -V only trims sequences with median k-mer abundance >= 20.

Separately, it might also be a good idea to make the behavior of filter-abund more conservative

[2015-05-08 17:09] ctb commented on #660
Thought about it a lot. Tentative decisions:

* on open PRs, rebasing is OK when done by the author;
* however, people incorporating someone else's PR into their own branch may request that no more rebases should be performed for a time, and this should be honored in the main;
* @mr-c and others may request or suggest that a rebase be done when a branch is ready to be merged into master, but the r

[2015-05-08 17:35] wking commented on #660
On Fri, May 08, 2015 at 10:09:44AM -0700, C. Titus Brown wrote:

These sound good to me.  My only suggestion would be to drop “but the
requester is responsible for doing the rebase”, since it doesn't
really matter who does the rebase.  I'd leave it up to the
requester/suggester to nominate someone on a per-request/suggestion
basis.  For example:

  This needs to be rebased onto the current master

[2015-05-08 17:38] ctb commented on #660
Suggested language is good, thanks - I basically want to avoid clubbing our contributors into yet more technically demanding requirements for a merge!

[2015-05-08 19:39] luizirber opened #990 "Property based testing with hypothesis"
I've read about a new library called [hypothesis][2] which implements [property based testing][3] in Python, similar to what is available in other languages (especially QuickCheck/Haskell). Branch [feature/hypothesis][4] has two examples for testing our hashing functions and the reverse operation, but it is not so trivial to think about properties to test. This [post][5] has some use cases and how

[2015-05-08 20:27] mr-c commented on #660
+1000. If people are incorporating another's PR then heads up should be given so the that source PR can rebase/squash prior.

Thank you @wking for all the feedback!

[2015-05-08 20:52] luizirber opened #991 "Support pytest as test runner"
Actually tests basically work, the only issue is with the attr marker from nose. Branch [feature/pytest][1] implements a [meta decorator][2] (yes, really) because nose and pytest implementations of test tagging are similar, but different enough to be incompatible.

Trying to import pytest first is a bit weird, but I didn't find any way to check which test runner is active. This still works with no

[2015-05-08 21:00] luizirber opened #992 "Use tox to execute the test runner"
Branch [feature/tox][1] contains a very basic tox.ini file, but already remove dependency installation from the Makefile and move them to requirements.txt and dev-requirements.txt files.

We can move most of the Makefile to tox.ini, and then call the appropriate tox command. [Some examples][2], but we should probably avoid [this level] of complexity.

Tox will also be useful once #978 is merged (s

[2015-05-08 21:03] mr-c commented on #990
@luizirber you found a bug with this, yes?

[2015-05-08 21:05] luizirber commented on #990
Passing empty strings, strings longer than 32, null-delimited strings or anything with other characters than "ACGT" trigger bugs.

[2015-05-08 21:06] mr-c commented on #992
Is there a way to auto install the dependencies using setup.py & tox?

[2015-05-08 21:08] mr-c commented on #990
Great find. We need to define what is valid input to these functions and not fail silently with invalid input.

[2015-05-08 21:20] luizirber commented on #992
We can leave the install-dependencies target and replace it with
`$ pip install -r requirements-dev.txt`

For testing tox takes care of installing the dependencies on the new virtualenvs.

Or are you talking about avoiding to list dependencies on setup.py and requirements.txt, and use only requirements.txt? In this case we might keep them separated, following [this recommendation][1].

[1]: https:

[2015-05-08 21:22] mr-c commented on #170
See https://github.com/ged-lab/khmer/issues/885#issuecomment-87619006

[2015-05-08 21:31] #792 closed

[2015-05-09 15:46] kdmurray91 commented on #885
About this @mr-c, I'm starting on Vince Buffalo's scythe, which (working with Andreas Tille and others) should give me all I need to do this up to Debian Med's standards. So it's a work in progress still :smile:

[2015-05-09 18:01] mr-c commented on #885
Sweet, welcome to the Debian Med team!

[2015-05-09 23:00] ctb opened #993 "remove unnecessary check_space call in abundance-dist-single.py"
The check_space call at

https://github.com/ged-lab/khmer/blob/master/scripts/abundance-dist-single.py#L79

is unnecessary - the output file doesn't depend on the input file size for abundance-dist-single.py.

[2015-05-09 23:07] ctb opened #994 "adjust or remove --force argument in abundance-dist-single.py"
Current usage makes no sense.

[2015-05-10 09:13] kdmurray91 commented on #885
I've got access to git.debian.org, and made a branch, so my work will appear in the `daube/libkhmer-dev` branch.

[2015-05-10 20:34] souravsingh commented on #994
I would like to work on the issue.How do I start?

[2015-05-10 20:44] ctb commented on #994
On Sun, May 10, 2015 at 01:34:23PM -0700, Sourav Singh wrote:

Great!  See:

http://khmer.readthedocs.org/en/latest/dev/getting-started.html

best,
--titus

[2015-05-11 11:49] ctb commented on #991
On Fri, May 08, 2015 at 01:52:21PM -0700, Luiz Irber wrote:

Hi Luiz,

could you please outline the reasons why we should support py.test? Curious.

thanks!

[2015-05-11 11:50] ctb commented on #660
On Fri, May 08, 2015 at 01:27:17PM -0700, Michael R. Crusoe wrote:

This isn't necessarily how research works :).

+1 on "should" and -1 on "must".

[2015-05-11 15:36] luizirber commented on #991
It started some motnhs ago because nose had problems with generating test reports for Jenkins when it was executed in more than one process. py.test worked but it wasn't that much faster.

My personal reasons are more mundane: I like the py.test default output, specially when a test fails and it shows the content of the variables in the assertion. I also have the impression py.test development is

[2015-05-11 15:37] mr-c commented on #991
@luizirber Is it a prerequisite for Hypothesis? https://github.com/ged-lab/khmer/issues/990#issuecomment-100365383

[2015-05-11 15:38] ctb commented on #991
ok.  Was expecting you to talk about 'tox' TBH :).

I don't have strong feelings against py.test but am -0 on adding to
maintenance headaches.  Just something to keep in mind.

[2015-05-11 15:41] luizirber commented on #991
@mr-c nope, hypothesis is test runner agnostic.

@ctb well, there is another PR for tox. I just dumped some branches and opened issues in case someone want to try/explore/suggest another approaches. I'm already using py.test and tox and it might be useful for other people, but if I was advocating inclusion on the codebase I would open a PR, instead of just creating issues =]

[2015-05-11 21:40] ctb commented on #689
@mr-c suggested doing this with a cascading bloom filter/cascading count min sketch instead: http://arxiv.org/abs/1302.7278

[2015-05-12 13:42] ctb commented on #654
@bocajnotnef can you update #700 and close this (or explain to me why we shouldn't)? thanks!

[2015-05-12 13:42] ctb commented on #763
@SherineAwad are you working on this?

[2015-05-12 17:57] mr-c commented on #628
wrapper being moved to https://github.com/galaxyproject/tools-iuc/

Progress at https://github.com/galaxyproject/tools-iuc/pull/80#issuecomment-101364895 but waiting on planemo to support custom datatypes

[2015-05-13 10:30] ctb commented on #990
Reminds me a bit of this: http://cacm.acm.org/magazines/2015/4/184701-how-amazon-web-services-uses-formal-methods/fulltext

[2015-05-13 15:10] bocajnotnef commented on #654
superseded by https://github.com/ged-lab/khmer/issues/700

[2015-05-13 15:10] #654 closed

[2015-05-13 15:31] mr-c opened #997 "Makefile contains bash-isms, mark it as such"
via `SHELL=bash`

[2015-05-13 15:40] bocajnotnef opened #998 "load-graph multithreaded test doesn't assert anything"
https://github.com/ged-lab/khmer/blob/master/tests/test_scripts.py#L1012

the test just runs the script which means the only failure case is if the script explodes and throws exceptions everywhere--it doesn't actually check to see if threading was done or done properly.

[2015-05-13 17:14] mr-c commented on #906
rc2 has been cut. Release checklist is done through step 9.
BaTLab testing is underway http://submit-1.batlab.org/nmi/results/details?runID=319323

[2015-05-13 17:32] mr-c commented on #906
BaTLab success except for a bug of theirs

[2015-05-13 18:45] mr-c commented on #906
Coverity scan passed: https://scan.coverity.com/projects/621

[2015-05-13 20:29] mr-c commented on #906
Running acceptance tests via Docker (!) on Athyra.

[2015-05-13 21:16] mr-c commented on #906
Acceptance tests passed.

[2015-05-13 21:47] mr-c commented on #906
Release notes updated https://github.com/ged-lab/khmer/releases/edit/untagged-a7c5873fb5c7f8ff6814

[2015-05-13 22:22] mr-c commented on #906
Done!

[2015-05-13 22:22] #906 closed

[2015-05-14 00:33] drtamermansour opened #1000 "normalize-by-median skip consuming kmers of PE reads"
The normalize-by-median script in the PE mode keeps both paired ends if only one of them is below the coverage cutoff. However then script only consume the kmers from one end. This is why if we run abound-dist.py on the output k-mer counting table, 1st line will show some no of kmers with 0 frequency.

[2015-05-14 01:32] drtamermansour commented on #1000
Another important point, current implantation replace 'N's with 'A's then use this modified sequence to consume kmers. I think load-into-counting.py consume 'N's creating of course much more unique kmers. This might answer the question raised here http://lists.idyll.org/pipermail/khmer/2015-May/000691.html .

[2015-05-14 01:36] drtamermansour commented on #1000
Both issues raised here of course would impact the behavior of downstream filter-abund.py script

[2015-05-15 14:32] ctb opened #1002 "request for discussion: screed / reading from location in the middle of a file"
I would like to solicit thoughts on how, in screed, to implement reading from arbitrary locations in a file.

Specifically, I need to be able to point a screed iterator at a given byte location in a FASTQ file, and find the first valid record after that.  My first thought is to:

1. seek to that position in the file
2. find the first likely valid record (look for '\n@'?)
3. seek to that position
4

[2015-05-15 14:45] drj11 commented on #1002
Your approach sounds fine in principle.

How random do you need it? I suspect a slight bias towards smaller records.

[2015-05-15 14:46] ctb commented on #1002
peanut gallery at https://twitter.com/ctitusbrown/status/599220862311469056 - @pmelsted suggests something neat that I might try.

[2015-05-15 14:46] ctb commented on #1002
@drj11 good point, we can assume records are all the same size and compress ~equally (in case of gz)

[2015-05-15 14:49] lindenb commented on #1002
point 2:  warning quality lines can start with '@'

[2015-05-15 14:52] jessehoff commented on #1002
isn't an index helpful for this and relatively cheap?

[2015-05-15 14:54] ctb commented on #1002
Very helpful clarifications requested/made on twitter:

* I want a well-bounded (~fixed) number of reads, not related to size of FASTQ as long as it's big;
* we can assume, for my purposes, that FASTQ records are all the same size and compress equally;
* reading the entire file once is too time-expensive, you all!!

[2015-05-15 14:59] ctb commented on #1002
A good point that overengineering is the root of much evil - I will probably opt for something based on a fixed subset of the entire read collection for my immediate need.

[2015-05-15 15:06] ctb commented on #1002
I'm not proud of it, but it should suffice for publication. And it's certainly KISS.

https://github.com/dib-lab/khmer/commit/69ebed553002d3931ec2653cdcd83c39b71db106

[2015-05-15 15:17] ctb commented on #1002
See HTSeq solution here, http://seqanswers.com/forums/showthread.php?t=12070, which I think is essentially what @pmelsted suggested.

Also, https://www.biostars.org/p/6544/#108827 is a good solution if you can get by needing to know the start indices of each record.

[2015-05-15 16:23] qingpeng commented on #1002
This looks like a pretty basic problem.

I googled this
http://stackoverflow.com/questions/2017285/how-to-extract-specific-bytes-from-a-file-using-unix

http://en.wikipedia.org/wiki/Dd_(Unix)

?

Sincerely yours,

Qingpeng Zhang
Ph.D. Student
GED Lab in 2228 BPS Building
Department of Computer Science and Engineering
Michigan State University
East Lansing, MI 48824

On Fri, May 15, 2015 at 11:17 A

[2015-05-15 17:26] mr-c commented on #155
- [ ] Capture affiliation info for paper releases ?

[2015-05-15 19:58] brentp commented on #1002
This will work no? cc @arq5x
https://github.com/arq5x/grabix
the file just has to be bgzipped.

[2015-05-15 20:00] ctb commented on #1002
On Fri, May 15, 2015 at 12:58:26PM -0700, Brent Pedersen - Bioinformatics wrote:

...and indexed...

[2015-05-15 20:01] brentp commented on #1002
is that a show-stopper?

[2015-05-15 20:04] ctb commented on #1002
On Fri, May 15, 2015 at 01:01:29PM -0700, Brent Pedersen - Bioinformatics wrote:

yep, requires reading the entire file once, which I am trying to avoid ;)

[2015-05-15 20:12] mr-c commented on #482
Fixed by #928

[2015-05-15 20:12] #482 closed

[2015-05-15 20:37] mr-c commented on #292
At least one machine tool expects the license text to be in each file

`licensecheck -r * --ignore env\|third-party\|build`

[2015-05-15 20:43] bocajnotnef opened #1005 "[Discussion] The fate of load-graph"
In the spirit of https://github.com/dib-lab/khmer/commit/93c47ecaff45d3240f77f01497bf934b6393b14e and since https://github.com/dib-lab/khmer/pull/961 is nearly mergable and since I'm about to shift focus from oxli to UX stuff and I don't want build-graph to be left behind while additional changes are made, would it be possible to delete load-graph entirely and redirect everything that used it to b

[2015-05-15 21:17] mr-c commented on #1005
This could be part of the upcoming API breakage release.

[2015-05-16 00:01] mdshw5 commented on #1002
Proof of concept: https://github.com/mdshw5/strandex/blob/master/strandex.py

[2015-05-16 09:28] gawbul commented on #1002
Good post here on most appropriate language to use when parsing large FASTQ files https://www.biostars.org/p/10353/.

[2015-05-16 09:30] gawbul commented on #1002
This might not be exactly what you want, given your initial post, but this was an interesting exercise for me. I did the following:

[code]

Which gave me the following:

[code]

[2015-05-16 12:54] ctb opened #1006 "Refactor normalize-by-median with extreme prejudice"
There is mounting dissatisfaction amongst the natives with the agglomerative mess that normalize-by-median has become.

In casual conversation, @camillescott has pointed out that much of the mess comes from fail-safe attempts, and that context managers (see e.g. http://eigenhombre.com/2013/04/20/introduction-to-context-managers/) could potentially simplify this.

I think this could also be part of

[2015-05-16 14:41] bocajnotnef commented on #1006
Sounds fun. Normalize-by-median was on my list of things to oxlize
(oxlify?).

I would like to see https://github.com/dib-lab/khmer/pull/961 merged first,
as it contains some API stuff that could be useful.

On Sat, May 16, 2015, 08:54 C. Titus Brown <notifications@github.com> wrote:

[2015-05-16 15:20] bocajnotnef commented on #505
re lessened animosity towards breaking API: Do we still need a switch?

[2015-05-16 15:37] gawbul commented on #1002
Think I've done it? Let me know what you think! Comments welcome!

See https://gist.github.com/gawbul/9712f46052f47d69ba1a.

Output is e.g.:

[code]

[2015-05-16 16:34] mdshw5 commented on #1002
@gawbul Aside from picking up partial records, I'm not sure your solution will perform well, as mmap's find methods are (I presume) reading one character at a time:

[code]

SRR000001 has 470,985 reads, so this is sampling ~1/4 of them. Compare this to the regular expression solution I posted above:

[code]

The timings for reading the file and doing a line count:

[code]

So, I think anchoring th

[2015-05-16 17:02] gawbul commented on #1002
@mdshw5 Thanks for that! I've updated my code to check for a valid FASTQ record using SeqIO now, not sure that is the best way? It seems to perform okay for smaller samples, but anything above 10,000 or so and it starts to get pretty slow :S Might look at modifying with a regex instead?

[2015-05-16 17:05] dcjones commented on #1002
This problem depends very much on your definition of FASTQ. If you want to allow sequences and quality strings that wrap to multiple lines, then it's not strictly possible.

Under this definition, since `@` and `+` are valid quality characters, FASTQ is *not* a regular language and cannot be correctly parsed with a regular expression. The only way then to recognize a FASTQ entry is then to match t

[2015-05-16 17:21] mdshw5 commented on #1002
@dcjones excellent points about line wrapping. I've not seen this "in the wild" but assume long-read sequences might have this problem. FASTQ as a format, then, might never have a high performing general method for identifying records.

[2015-05-16 20:33] gawbul commented on #1002
@mdshw5 Modified my code a little using your regex method but making it properly "random" rather than sequential (https://gist.github.com/gawbul/194b211bccb98afe17ef). Much better performance now, but good points regarding regex matching from @dcjones too!

[2015-05-16 21:30] mr-c commented on #505
We need sane defaults and override switches.

If we generate the filename then use the same compression as the
corresponding input, naming the output accordingly.

If the user specifies the filename then infer the compression type that
way.

Support `--no-compression` and `--bzip2`, `--gzip` to override the above.

On Sat, May 16, 2015 at 11:20 AM Jake Fenton <notifications@github.com>
wrote:

[2015-05-16 21:54] mr-c opened #1007 "coverity target URL update"
[code]

[2015-05-17 11:47] ctb commented on #505
+1

let's avoid too much cleverness, too, at least for now - I'd be fine with
simply appending .gz or .bz2 if appropriate switch is used, turning on gz or
bz2 if filename ends with .gz or .bz2, etc.

I would change default to use bz2 first, gz next, uncompressed if neither
works (I think bz2 is not on all platforms, but gz should be on almost all).

this logic should be encapsulated in a khmer mod

[2015-05-17 12:12] ctb commented on #1006
On Sat, May 16, 2015 at 07:41:31AM -0700, Jake Fenton wrote:

"Refactoring" here means taking the existing code and modifying progressively,
rather than going for a clean rewrite.  The latter is more likely to lead to
unexpected and mass breakage, especially in the absence of comprehensive
tests.  I need to talk with @mr-c about #961, too; the prototype code
in khmer_api is not necessarily ready f

[2015-05-17 15:04] drtamermansour commented on #1006
+1 for working on code simplification while addressing #988
<https://github.com/dib-lab/khmer/issues/988>.

On Sun, May 17, 2015 at 7:12 AM, C. Titus Brown <notifications@github.com>
wrote:

[2015-05-17 15:33] bocajnotnef commented on #1006
So, specific pain points:

 - [ ] Lots of error checking/failsafing that could and should be done with context managers
 - [ ] Should accept and deal with broken-pairs
 - [ ] Better default arguments for enhanced understanding / less intimidating CLI appearance (in the vein of UX)

What'll the stages be?

[2015-05-17 20:02] bocajnotnef commented on #1006
as per discussion with Dr Tamer:

Stage 0:
- [ ] a) proper dealing with broken-paired input
- [ ]  b) -p require correct pairing and complain if not
- [ ] c)  Add --force-single to to force into singleton mode
- [ ] d) Add --singletons to allow a singleton file (or files) to be passed in simultaneously with -p

Stage 1 (subject to further discussion):
- [ ] Refactor normalize-by-median to change e

[2015-05-17 20:23] ctb commented on #1006
On Sun, May 17, 2015 at 01:02:24PM -0700, Jake Fenton wrote:

Seems like a good plan.  My suggestion was going to be to invert that -
invest in a context manager up front, to clean up the code, and then
add the other functionality, but this approach will also work.

[2015-05-17 20:41] bocajnotnef commented on #1006
I was thinking similarly.

Re: context managers: I take this to mean I'm going to hunt through and find the big messy blocks of try/except/else like https://github.com/dib-lab/khmer/blob/master/scripts/normalize-by-median.py#L149 and replace all that with a context manager--Yes? No? Right track?

[2015-05-18 00:59] camillescott commented on #1006
@ctb @bocajnotnef that's right -- generally, context managers are used when you have some boilerplate that needs to be run on entry and/or exist. What you linked is more or less an example of that; see also https://github.com/dib-lab/khmer/blob/master/scripts/normalize-by-median.py#L312, where we've got this boilerplate for dumping the hashtable and exiting which would be generally useful, and cal

[2015-05-18 10:17] ctb commented on #988
Note that option number 3 was already implemented in #957 by @susinmotion! Excellent :)

[2015-05-18 10:52] ctb opened #1009 "Dropping Python 2.6 (and before) support?"
Shall we formally drop Python 2.6 support with khmer 2.0?

http://astrofrog.github.io/blog/2015/05/09/2015-survey-results/

[2015-05-18 11:12] luizirber commented on #1009
Related issues and discussion:

#904
https://github.com/dib-lab/khmer/issues/625#issuecomment-57820771
#94

[2015-05-18 11:23] ctb commented on #1009
Also, @luizirber, you've been adding Python 3 support in stealth-mode, right? Is that PR ready to merge? Does it break 2.6?

[2015-05-18 11:24] ctb commented on #625
Hey @bocajnotnef are these checkboxes up to date?

[2015-05-18 11:34] luizirber commented on #1009
Shh! It's stealth-mode! =] #978

It is ready-ish to merge, we decided to hold it for merging after 1.4. There are some merge conflicts now, but they should be easy to fix (the bigger issues involved unicode and are solved).

I need to check 2.6 status, but I'm pretty sure it is broken on the PR.

[2015-05-18 11:47] ctb commented on #1009
1.4 was released. Schedule for 2.0, next release?

[2015-05-18 11:48] luizirber commented on #1009
I updated the milestone for #978 to 2.0.

[2015-05-18 14:23] bocajnotnef commented on #625
They are now. Are we closing this?

[2015-05-18 14:24] ctb commented on #625
What remains to be done on this from your perspective, @bocajnotnef?  I'll go through it @mr-c today, too.

[2015-05-18 14:25] bocajnotnef commented on #625
AFAIK it should be good--I just noticed there were a few other issues
referencing this one that're still open.

On Mon, May 18, 2015 at 10:24 AM C. Titus Brown <notifications@github.com>
wrote:

[2015-05-18 14:26] ctb commented on #625
...and? :)

[2015-05-18 14:27] bocajnotnef commented on #625
Ah,

[2015-05-18 14:27] #625 closed

[2015-05-18 14:30] bocajnotnef commented on #988
re 2: What does 'correctly paired' mean in this context?

[2015-05-18 14:31] ctb commented on #988
Operationally speaking, the broken_paired_reader will return two records if the records are properly paired.  See existing -p logic.

[2015-05-18 14:32] bocajnotnef commented on #988
If -p already does correct pairing is that component of 2 done, and we just need force-singletons?

[2015-05-18 14:33] ctb commented on #988
yes, assuming you have integrated in broken_paired_reader.

[2015-05-18 14:39] ctb commented on #1009
Note, deadline for 2.0 ~end of July, so if you can get this merged in by ~end of June that will give us plenty of time to figure out what it breaks.  Will confirm with @mr-c today.

[2015-05-18 16:07] #985 closed

[2015-05-18 16:38] ctb opened #1011 "Turn on better reporting by default for khmer 2.0"
For 2.0, we can break the API - so turn on better reporting.  For example, default to--csv in abundance-dist.py by default, etc. etc.

[2015-05-18 16:39] ctb commented on #1011
Fits in #732.

[2015-05-18 17:12] mr-c commented on #1009
I'll need to drop some platforms from BaTLab testing; I think just RHEL6

[2015-05-18 17:12] mr-c opened #1012 "create 'What's new in 2.0' document"
Breaking changes should be added to it as they are merged.

[2015-05-18 17:45] mr-c opened #1013 "document PR git cleanup"
Here is a faster method tested by @ctb and me.

If there are merge commits then this approach is always easier than rebasing.

[code]

(`git reset --soft` keeps the tracking for all newly added files )

[2015-05-18 18:04] mr-c commented on #726
Leverage the tagset for graph traversal; the list of kmers can be used as a starting point.

[2015-05-18 18:09] mr-c commented on #726
Look at partitioning code.

Start with long random linear sequence for testing and get that working.

[2015-05-18 20:23] drtamermansour opened #1014 "abnormal kmer counting if consuming a read with non ACGT characters"
If we feed the consume_string function with read containing non-ACGT characters, the function does not check for them and start adding the kmers to the counting table. The bigger issue here is that the function does not add these kmers uniformly. I have 2 representative examples. In both examples I started the analysis with those 2 identical reads:

GGTTGACGGGGCTCAGGGGGCGGCTGACTCCGAGAGACAGCAGCCGCA

[2015-05-18 20:31] ctb commented on #1014
thanks - the behavior of consume_string is undefined in the case of Ns;
currently I believe that it treats Ns as if they are Gs, based on
kmer_hash.hh line 40.

[2015-05-18 20:35] drtamermansour commented on #1014
This explains everything. All the mutated sites where the unique kmers did not count up were 'G's. Thank you. This makes me feels much better.

[2015-05-19 02:40] mr-c opened #1016 "not all CPython functions convert all possible C++ khmer exceptions to Python exceptions"
`InvalidStreamBuffer` is only thrown in trace_logger.cc (but never caught). `InvalidValue` and `ReadOnlyAttribute` is thrown from the HLL.  `InvalidStreamHandle` is thrown in read_parsers.cc as is `StreamReadError`, `InvalidRead`, `InvalidReadPair`, `NoMoreReadsAvailable`, `UnknownPairReadingMode`

[2015-05-19 02:42] mr-c commented on #1016
From @kdmurray91 "[...]  the C++ ReadParser, which throws StreamReadError if it gets an empty file. [...] This whole issue was discovered after hashing the output of a QC pipeline, running over GBS reads. GBS has a funky homebrew protocol and several samples dropped out (0 reads). l-i-c.py errored out, but left an empty counting hash file, which crashed some downstream code."

[2015-05-19 02:43] mr-c commented on #1016
"What's your opinion on the diversity of exceptions? Should we just raise one for EOF and one for all errors, specialising by actually setting the message when we throw them? Or just catch them all." @kdmurray91

[2015-05-19 02:44] kdmurray91 commented on #1016
To reproduce:

[code]
`./test.kh` should exist and be empty

[2015-05-19 02:47] kdmurray91 commented on #1016
See also #1015

[2015-05-19 03:16] kdmurray91 commented on #1016
A list of places which should probably be catching more exceptions:

`khmer/_khmermodule.cc`:

- `hash_consume_fasta`
- `hash_consume_fasta_with_reads_parser`

[2015-05-19 03:17] kdmurray91 commented on #1016
Also see working ongoing in [this branch](https://github.com/dib-lab/khmer/tree/gotta-catch-them-all)

[2015-05-19 11:15] ctb commented on #1014
On Mon, May 18, 2015 at 01:35:15PM -0700, Tamer Mansour wrote:

Explanation: checking to see if the string is valid DNA is expensive,
computationally.  So consume_string should be used only when we're sure
it's valid, due to preprocessing elsewhere.

[2015-05-19 20:52] ctb commented on #660
See #1013 for a good method of squashing commits!

[2015-05-20 21:48] mr-c commented on #155
Should also capture ORCID.

[2015-05-21 02:25] drtamermansour commented on #988
This discussion about correct pairing is confusing to me. Please correct me if I am getting this wrong. I think option number 1 means that the script would accept the input data file (without any arguments). The script would expect that the input has mixed proper paired and singletons (e.g. The output of fastq_quality_filter). This mean that the user does not need to extract paired ends from the i

[2015-05-21 09:02] gawbul commented on #1002
@dcjones I've been messing around with a Julia version of this. Any comments? https://github.com/gawbul/fastq_rnd_seek/blob/master/fastq_rnd_seek_proper.jl

[2015-05-21 10:43] ctb commented on #988
Yep, exactly!

[2015-05-21 16:00] dcjones commented on #1002
@gawbul This looks like a sound approach to me.

You successfully goaded me with this comment, though. :smile: I sent you a PR with some minor optimizations.

For me, even counting JIT compilation, the julia version passes your python version at about 3000 reads, and is much faster for more than that.
[code]
I'm sure there optimizations that could be made to the python version, though.

[2015-05-21 16:20] dcjones commented on #1002
Ok, I see that `fastq_rnd_seek_proper_re.py` may be the version to beat. So here's the mmap + re approach in julia: https://gist.github.com/dcjones/9f20218f58e438c96476

[code]

[2015-05-22 08:19] gawbul commented on #1002
Awesome! Thanks :+1:

[2015-05-22 14:00] ctb opened #1024 "Investigate adding a logging framework"
It would be nice to have a unified way to enable/disable logging at both the Python and C++ levels.

For a survey, see:

https://twitter.com/ctitusbrown/status/601745781771603971
https://twitter.com/ctitusbrown/status/601745886054653952

and conversations therein.

[2015-05-22 19:12] mr-c opened #1025 "place some script parameters in a section labeled 'advanced' or 'experimental'"

[2015-05-25 10:53] Blahah commented on #320
How about 'wisenkmer'?

[2015-05-25 11:03] mr-c commented on #320
Heh. I think we are settled on 'Oxli'.

[2015-05-25 11:39] kdmurray91 commented on #1016
More gitter copy-paste:

So, overall "plan":
- Ensure all exceptions raised in `read_parsers` inherit from `khmer_file_exception`
- Ensure any use of `throw` sets a unique and meaningful message, unless the subclass already has one
- catch just `khmer_file_exception` everywhere in `khmermodule.cc`
- Use `PyExc_IOError` to pass message to python land

[2015-05-25 15:41] macmanes opened #1027 "interleave-reads.py SRA naming bug"
root@ip-172-31-27-66:/mnt/reads# head -4 test1.fq
    @SRR797058.3 HWI-ST600:227:C0WR4ACXX:7:1101:17167:2000/1
    NCTACCAAAAAAATGCCCGATAATTCTGACCATTCCTTCCTCATTCTCGTCTGGCGTTTGGTCACGACGCACGATACCTTCTGCACTTGTCAAGACAGCGG
    +
    #00@#################################################################################################

and

    root@ip-172-31-27-66:/mnt/reads# head -4 test2.fq
    @SRR797

[2015-05-25 18:00] macmanes commented on #1027
Apparently the space in the fastQ header is tripping things up, as a simple sed command removing the space makes the interleaving process work.

`sed -i 's_3 H_3-H_g' test{1,2}.fq`

[2015-05-26 06:02] kdmurray91 opened #1029 "Fix up "consume_X_and_WHATEVER" functions"
This is largely for my own reference, stuff I've discovered during #1016 and #1017:

- `Hashtable::consume_fasta_and_tag` doesn't use `imprint_next_read`, or catch `NoMoreReadsAvailable`
- Ditto to `consume_fasta_and_tag_with_stoptags`
- And `consume_partitioned_fasta`

Should I try and at least catch `NoMoreReadsAvailable` in these functions as part of #1017,  @mr-c or @ctb? (also, is @Blahah wor

[2015-05-26 06:21] kdmurray91 commented on #1016
@mr-c, I have a question on C++ => python exception mapping.

Should we discern between errors of formatting, e.g. invalid fastq file, invalid pairs, invalid reads, etc, and errors in low-level I/O, e.g. empty/non-existent files. I'm +0 on splitting, as it seems conceptually nicer.

So, the C++ => Python mapping would be:
 - `NoMoreReadsAvailable`: `return NULL;`, i.e. `StopIteration`
 - `InvalidR

[2015-05-26 10:42] Blahah commented on #1029
I have no plans to do anything on `hashtable.{cc,hh}`.

[2015-05-26 10:44] ctb commented on #1029
@kdmurray91 anything you do would be much appreciated!

[2015-05-26 13:09] mr-c commented on #1027
Drat. Thanks for the report

[2015-05-26 13:13] mr-c commented on #1016
We should use OSError, yes.

I don't personally see the value of a Python superclass for exceptions we throw but I am open to the perspectives of others.

[2015-05-26 13:22] kdmurray91 commented on #1016
@mr-c that would be a C++ super-class, sorry

[2015-05-26 13:23] mr-c commented on #1016
Ah. Would that clean up the CPython glue or make life easier for direct consumers of libkhmer?

[2015-05-26 13:29] kdmurray91 commented on #1016
Probably both, but the former was my motivation

[2015-05-26 13:30] mr-c commented on #1016
Sounds like a good enough reason for me, :+1:

[2015-05-26 13:31] kdmurray91 commented on #1016
Sweet, shall do. I'll add it to `khmer_exception.hh`

[2015-05-26 15:22] Blahah opened #1030 "Separate libkhmer (C++) from khmer (Python)"
I want to build tools on top on khmer. However, I don't necessarily want to write those tools in Python. There is a lot of valuable stuff in the C++ backend `libkhmer`, so I'm using that directly.

However, if I want to do the normal thing and `git submodule` khmer, I have to pull down over 100MB from the khmer repo every time I clone - that's a lot of extra stuff (and in modern development/testin

[2015-05-26 15:26] ctb commented on #1030
ref http://ivory.idyll.org/blog/2015-modifying-our-dev-process.html,

I would like to defer any decision or action on this until (when and if)
renewed funding is obtained.  I have no objections to merging libkhmer easier
to use but I don't think we can support a split into two projects.

+1 on reducing development/clone footprint; much of the stuff in data/
is now unnecessary, I think.

On Tue, Ma

[2015-05-26 18:19] mr-c commented on #519
'In addition, the /etc/magic file is built from a subdirectory
for easier(?) maintenance.  I will act as a clearinghouse for
magic numbers assigned to all sorts of data files that
are in reasonable circulation. Send your magic numbers,
in magic(5) format please, to the maintainer, Christos Zoulas.'

and from /usr/share/doc/file/README.Debian

'How package maintainers can inject their own magics fo

[2015-05-26 18:43] ctb commented on #689
Hrrrrm, rethinking the suggestion of using a cascading bloom filter.

There are two different use cases:

* a structure that can grow dynamically, so we don't need to preallocate;
* a structure that can store exact graph structures, to alleviate concerns about inexactness;
* a simple implementation to mature the API;

My guess is that sparsehash is a good simple implementation to mature the API, a

[2015-05-26 22:37] ctb opened #1032 "rename LabelHash to something else"
now that it's no longer a hash-based object, we should name it something else before 2.0.

cc @camillescott - how about SparseLabels?

[2015-05-26 22:42] camillescott commented on #1032
How about just Labeller? Seeing as it's now more of a device for labelling, and it could be made more or less sparse.

[2015-05-26 22:46] ctb commented on #1032
@mr-c @luizirber any bikeshedding to offer? :)

[2015-05-27 03:42] kdmurray91 commented on #1029
Also `fasta_dump_kmers_by_abundance` and `fasta_count_kmers_by_position` have similar issues. There's quite a tight correlation between places which don't catch `NoMoreReadsAvailable` and those that still use `get_next_read`.

[2015-05-27 04:07] kdmurray91 commented on #1029
Ditto to `output_fasta_kmer_pos_freq`

[2015-05-27 04:09] kdmurray91 commented on #1029
Will split this into two PRs: ensuring `NoMoreReadsAvailable` is caught I'll do as part of #1017. I'll make another PR for consigning `get_next_read` to history, as I have time. :smile:

[2015-05-27 04:19] kdmurray91 commented on #1029
Also `consume_fasta_and_traverse`

[2015-05-27 10:37] ctb commented on #1032
What about LabelGraph? or LabeledGraph?

[2015-05-27 12:13] ctb opened #1034 "Remove get_kadian_count functionality."
No longer of interest.

[2015-05-27 13:41] mr-c commented on #1029
Sounds great!

[2015-05-27 14:07] mr-c commented on #1032
GraphLabels

[2015-05-27 14:26] ctb opened #1035 "Implement 8-bit minifloat and/or 4-bit counters for CountingHash objects."
See http://en.wikipedia.org/wiki/Minifloat; also see #872.

[2015-05-27 22:08] ctb opened #1036 "how should we handle 'N's in DNA, in our scripts and our codebase?"
see #1001 for inspiration.

Currently, we turn them into As (explicitly) or Gs (by default).

@drtamermansour suggests that we ignore reads containing Ns (see https://github.com/dib-lab/khmer/pull/1001#issuecomment-104034103)

We could also ignore k-mers containing Ns but count the rest of the read.

Whatever we do, I think we must output number of skipped k-mers and/or reads; otherwise this behav

[2015-05-28 01:17] ctb opened #1037 "write truncation tests for file load functions"
see test_labelhash.py, function test_save_load_corrupted(), added in #1021; this could usefully be applied to all of the file load functions.  Of course, then we'd need to fix the bugs, too...

Might be interesting to try postpending garbage into the files, too. Are the load functions robust to random crud?

[2015-05-28 01:21] mr-c commented on #1037
Sweet, fuzz'ing time

[2015-05-28 08:39] kdmurray91 opened #1038 "Gzipped counting hash infinite loop w/ HT size 5e9?"
Hi all,

This is basically a request to see if anyone can reproduce a weird bug.

If i use `load-into-counting.py -x 2e9 -k 20 -N 1 test.ct.gz my-10M-read.fastq.gz`, all is fine and dandy. But if I change that to `-x 5e9`, there seems to be an infinte loop in the writing of the hash table. `test.ct.gz.info` is produced, and contains `through file.fastq`. `test.ct.gz` is also produced, and contains

[2015-05-28 08:43] kdmurray91 commented on #1038
Ahh, could [the use of `int` here](https://github.com/dib-lab/khmer/blob/master/lib/counting.cc#L849) be the issue? Does zlib even support writing chunks of >2**31-1?

[2015-05-28 08:47] kdmurray91 commented on #1038
Ok, I think that could be the bug. `gzwrite` takes `unsigned int`, we give it `int`, and we ask it to write more than `2**31-1` bytes. I'll confirm that explicitly writing in chunks of less than `2**31` fixes the bug, and submit a PR if it does.

[2015-05-28 08:53] kdmurray91 commented on #1038
Also, I wonder if this affects reading...

[2015-05-28 10:55] ctb commented on #1038
Good catch, @kdmurray91!

Regarding notifications, I wouldn't ping people explicitly unless you need their attention in short order; notifications are configurable on a per-project basis, so presumably people that have them turned off do so for a reason :).  In my case I see all of the new issues immediately.

[2015-05-28 19:32] SherineAwad commented on #763
@ctb just started.

[2015-05-28 19:32] ctb commented on #763
ok - please create a new PR, thanks!

[2015-05-29 02:13] kdmurray91 commented on #1038
Can confirm that this was the bug, and that it affected reading AFAICT. PR incomming.

[2015-05-29 03:33] kdmurray91 commented on #1038
`Lines's stability is 87.83 and set mininum stability is 87.84.` Soooo close!

[2015-05-30 00:31] kdmurray91 opened #1046 "Strange test failure in Jenkins OSX slave"
@bocajnotnef  and I complained on gitter about the following failure on the OSX slave.

[code]

Once the OSX slave is alive again, I'll try and work out why. This issue is to remind me :)

[2015-05-30 02:44] luizirber commented on #992
[cryptography][1] tox.ini file has some nice configs to borrow. (Also check their .travis.yml for testing under Linux and OSX).

[2015-05-30 12:56] ctb opened #1047 "Add graph function that returns list of k-mer counts in a sequence"
Turns out we have no C++ function to just ... count the k-mers in a sequence and return them.

Usage:

     ct.get_kmer_counts(sequence)

=> returns a list of k-mer counts for that sequence, of length len(sequence) - ksize + 1.

[2015-05-31 23:10] ctb commented on #654
@bocajnotnef was there anything to be updated on #700?

[2015-05-31 23:53] ctb opened #1054 "Build an HLL consumer/producer generator object"
Something that we can prefix and/or postfix streams with internally, in Python land.

See #1053 for the script version of this.

[2015-05-31 23:56] ctb opened #1055 "All scripts/ possible should support '-' input"
This is for better, more productive streaming.

Should '-' be default? Probably not.

Also, always allow '-' in output.

[2015-05-31 23:57] ctb opened #1056 "Provide option for trim-low-abund to be 1-pass"
Put an option on trim-low-abund to either just discard all reads that don't saturate, or output+discard them; in both cases, trim-low-abund would be fully streaming.

[2015-06-01 20:28] bocajnotnef commented on #1000
#1010 resolves the bug in normalize-by-median.

[2015-06-01 20:37] #1000 closed

[2015-06-02 04:31] kdmurray91 opened #1058 "Possible issue with setup.py"
Hi all,

It's probably me, but the following seems not to work on my system.

[code]

I don't see any obvious issue in `setup.py`.

Cheers,
K

[2015-06-02 04:39] kdmurray91 commented on #1058
`pip install khmer` still works, by the way

[2015-06-02 04:41] bocajnotnef commented on #654
AFAIK no, it was accurate.

[2015-06-02 04:44] kdmurray91 commented on #1058
Ok, so I see the same thing with the tagged `v1.4` and `v1.3` commits, so I'm assuming this is an issue with my system. If someone could confirm this that would be great, but for now, assume I'm the fool :)

[2015-06-02 04:51] kdmurray91 commented on #1058
OK, well [this suggestion](https://github.com/django-salesforce/django-salesforce/issues/4#issuecomment-17939846) fixed it: `pip install setuptools-git`

[2015-06-02 11:27] ctb opened #1059 "Modify abundance-dist.py so that it takes multiple FASTA inputs"
We'll need to change how the histogram output filename is provided, tho.

[2015-06-02 11:31] ctb commented on #1055
Check for, fix, write tests for, update docs for:

- [ ] normalize-by-median
- [ ] split-paired-reads
- [ ] load-into-counting
- [ ] filter-abund
- [ ] trim-low-abund
- [ ] load-graph
- [ ] normalize-by-median
- [ ] extract-long-sequences
- [ ] extract-paired-reads
- [ ] fastq-to-fasta
- [ ] sample-reads-randomly

Maybe not needed for streaming, since it's fundamentally a two pass algorithm:
- [ ]

[2015-06-02 11:33] drtamermansour commented on #1036
I would like to highlight the importance of this problem. The current exome dataset I am working with for variant calling has 22% of its reads counting Ns. Different aligners and variant calling software would behave differently with such ambiguous reads.

[2015-06-02 11:46] ctb commented on #1036
My thinking has been that, going forward, we should pass Ns on unchanged as much as possible; it doesn't seem like it should be our job to "fix" them.  @drtamermansour do you have a specific recommendation for what to do about Ns in the output, as opposed to counting them/not counting them internally?

[2015-06-02 11:50] drtamermansour commented on #1036
Totally agree. This is not the job of diginorm. Subsequent trimming or
error correction modules should handle this.

On Tue, Jun 2, 2015 at 6:46 AM, C. Titus Brown <notifications@github.com>
wrote:

[2015-06-02 11:56] ctb commented on #1036
On Tue, Jun 02, 2015 at 04:50:41AM -0700, Tamer Mansour wrote:

I'm skeptical that ANYTHING should be done automatically in the case of
filtering before variant calling!

[2015-06-02 12:01] drtamermansour commented on #1036
Yes. This is what I mean. I am saying that khmer as a package could provide
other solutions for further pre-processing.

On Tue, Jun 2, 2015 at 6:56 AM, C. Titus Brown <notifications@github.com>
wrote:

[2015-06-02 12:41] standage commented on #1055
I did this for `normalize-by-median.py` at PyCon. See #882. Verified on the command line and with `test_normalize_by_median_stdout` in `test_scripts.py`, and updated the docs, which is reflected in the usage statement and RTD.

[2015-06-02 17:43] proteasome commented on #970
@mr-c thx.   enjoyed contributing at PyCon sprint, hope to do more.    just recently (~week ago) received email about being listed as a contributor.   somehow misplaced it.  could you resend?  thx -en

[2015-06-02 22:02] ctb opened #1060 "Consider enhancing community contributability"
c.f. specific suggestions here: http://www.linux.com/news/software/applications/832555-how-to-find-the-best-open-source-project-for-you

[2015-06-02 22:11] ctb opened #1061 "Fix pypi page"
https://pypi.python.org/pypi/khmer

- [x] ged-lab to dib-lab
- [x] ged.msu.edu to ivory.idyll.org/lab/

[2015-06-03 11:14] ctb commented on #1055
Excellent, thanks @standage!

[2015-06-03 11:17] ctb commented on #1055
Uh, let me revise that - you did it for *output*, not *input*, @standage :)

[2015-06-03 11:20] ctb commented on #1036
Just to follow through on this a bit more: there are three issues.

1. How do we handle reads containing Ns internally?
2. How do we transform reads containing Ns by default?
3. What options do we provide for transforming Ns in reads for those who want to do so?

The answers so far seem to be:

(1) is what we're discussing in this issue;

(2) is "we do as little as possible";

(3) is open to discu

[2015-06-03 13:32] standage commented on #1055
:100:

[2015-06-03 14:09] ctb opened #1063 "Add links to publication collections"
* biological uses outside of the group: http://www.ncbi.nlm.nih.gov/sites/myncbi/1ruvipqAmaMkN/collections/48107393/public/
* tools building on khmer concepts: http://www.ncbi.nlm.nih.gov/sites/myncbi/1ruvipqAmaMkN/collections/48101567/public/
* papers in collaboration with our group: http://www.ncbi.nlm.nih.gov/sites/myncbi/1ruvipqAmaMkN/collections/48107445/public/

We can also add links to the

[2015-06-03 15:11] Blahah commented on #1063
Sadly, capturing tool citations is ridiculously hard. Publishers could make it easier but they choose not to. We've made some tools at ContentMine and could do some data mining to find probably 95% of the khmer citations. Here's a taste:

[code]

So, 59 papers possibly citing khmer in just the open access subset of Europe Pubmed Central, give or take a couple of false positives. Full list of title

[2015-06-03 22:25] ctb opened #1065 "Add "do normalization too" option to trim-low-abund"
Maybe?

[2015-06-04 13:03] ctb commented on #1063
On Wed, Jun 03, 2015 at 08:11:29AM -0700, Richard Smith-Unna wrote:

Does your "20% of biomedical literature" statement hold for these results, too?
(Thanks!)

[2015-06-04 13:20] Blahah commented on #1063
Yes, the 20% figure is approximately right for the Europe PMC dataset.

[2015-06-05 11:24] kdmurray91 commented on #1058
This is an issue at my end, if you have the same issue, see the above comment, and install `setuptools-git`.

[2015-06-05 11:24] #1058 closed

[2015-06-05 17:57] bocajnotnef commented on #768
Closing--resolved by https://github.com/dib-lab/screed/issues/29

[2015-06-05 17:57] #768 closed

[2015-06-05 20:37] ctb commented on #820
- [ ] Is it mergable?
- [ ] Did it pass the tests?
- [ ] If it introduces new functionality, is it tested?
- [ ] Is it well formatted? Look at `make pep8`, `make diff_pylint_report`,
  and `make doc` output. Use `make format` and manual fixing as needed.
- [ ] Is it documented in the ChangeLog?
- [ ] Was a spellchecker run on the source code and documentation after
  changes were made?

@bocajnotn

[2015-06-07 06:27] SreeHarshaRamesh opened #1068 "Build fail on Windows"
I'm getting the following error on trying to build using gnu make for windows:
[code]

[2015-06-07 10:44] ctb commented on #1068
Hi, I'm afraid we don't support Windows at all!

best,
-titus

On Sat, Jun 06, 2015 at 11:27:35PM -0700, Sree Harsha Ramesh wrote:

--
C. Titus Brown, ctbrown@ucdavis.edu

[2015-06-07 11:21] ctb commented on #820
Closed by https://github.com/dib-lab/screed/pull/43

[2015-06-08 18:17] mr-c commented on #970
@proteasome You are very welcome!

[2015-06-08 20:04] #1068 closed

[2015-06-08 21:46] mr-c commented on #437
Fixed in #1048

[2015-06-08 21:46] #437 closed

[2015-06-08 21:55] ctb commented on #1037
fixed by #1048.

[2015-06-08 21:55] #1037 closed

[2015-06-08 22:27] ctb opened #1073 "change DEFAULT_DESIRED_COVERAGE to 20 in normalize-by-median"
We set it to 10 in #91, but... 20 is where we've done most of our tests so it's a known-good default. We'll find a data-driven way to set it later :)

[2015-06-09 14:20] ctb opened #1074 "Investigate RRR encoding for our Bloom filters (and CountMin Sketches?)"
From Sequence Bloom Trees, http://biorxiv.org/content/early/2015/03/26/017087, ref 17:

[17] Rajeev Raman, Venkatesh Raman, and S. Srinivasa Rao. Succinct indexable dictionaries with applications to encoding k-ary trees and multisets. In Proceedings of the Thirteenth Annual ACM-SIAM Symposium on Discrete Algorithms, SODA ’02, pages 233–242, Philadelphia, PA, USA, 2002. Society for Industrial and A

[2015-06-09 15:28] #1047 closed

[2015-06-09 16:32] mr-c commented on #820
screed.description needs to be removed still, see https://github.com/dib-lab/screed/pull/43#issuecomment-110318857

[2015-06-09 19:43] ctb opened #1076 "Update whatsnew for changes to normalize-by-median.py"
ref #1057

[2015-06-09 19:44] bocajnotnef commented on #1076
see also #1006

[2015-06-09 19:44] ctb commented on #1076
While we're at it, fix --fault-tolerant in the docstring.

[2015-06-09 19:45] bocajnotnef commented on #1076
see also: https://github.com/dib-lab/khmer/pull/1031

[2015-06-09 19:45] bocajnotnef commented on #1076
(which is apparently where the `whatsnew` lives)

[2015-06-09 19:56] bocajnotnef commented on #1006
so, for stage 2: Shall I push to develop the skeleton @camillescott provided in the last round (https://github.com/dib-lab/khmer/pull/1057#issuecomment-109082444)? That would seem to be the logical next step IMO.

CC @ctb

[2015-06-09 19:59] ctb commented on #1006
On Tue, Jun 09, 2015 at 12:56:20PM -0700, Jake Fenton wrote:

No, leave it for now, IMO. I've reached normalize-by-median exhaustion,
and honestly @camillescott needs to get the threading stuff in before
we do much more (see #655 and #656)

[2015-06-10 15:44] #358 closed

[2015-06-10 20:34] mr-c opened #1079 "[screed] soften sqlite3 dependency"
For those Python installs w/o sqlite3 compiled in.

From @standage

[code]

[2015-06-11 06:55] mr-c commented on #970
https://github.com/dib-lab/screed/pull/45 addresses points #1 & #2

[2015-06-11 12:17] ctb commented on #1006
Done in #1057 and #1010.

[2015-06-11 12:17] #1006 closed

[2015-06-11 12:17] ctb commented on #988
Done in #1057 and #1010.

[2015-06-11 12:17] #988 closed

[2015-06-11 12:18] ctb commented on #462
The specific behavior in this issue can be dealt with by doing `-o - >> old_output_file`. Closing.

[2015-06-11 12:18] #462 closed

[2015-06-11 19:23] mr-c opened #1082 "screed 0.9 release"
- [x] rc-2 passed checklist
- [x] rc-2 passed acceptance tests with khmer master branch
- [x] write release notes & merge them
- [x] cut the release
- [x] advertise it

[2015-06-11 19:46] mr-c commented on #1082
Release notes at https://github.com/dib-lab/screed/releases/edit/untagged-7e3cc0d8cf3381e6a4a9

Any feedback @ctb, @luizirber @camillescott ?

[2015-06-11 19:47] mr-c commented on #1082
- [ ] update docs with new lab info?

[2015-06-11 19:48] luizirber commented on #1082
Can I edit the draft? The title still says 0.8

[2015-06-11 19:54] luizirber commented on #1082
@mr-c already edited it. Fixed title and also "known issues". Otherwise LGTM!

[2015-06-12 00:20] #1082 closed

[2015-06-12 02:54] luizirber commented on #116
I stumbled upon this, I guess it can be closed?

[2015-06-12 03:39] mr-c commented on #116
Sure

[2015-06-12 03:39] #116 closed

[2015-06-12 10:38] ctb commented on #847
For 2.0,

- [ ] make -p default;
- [ ] upgrade extract-paired-reads to properly handle streaming input and specification of output files;
- [ ] in the error message that results from -p, mention that extract-paired-reads can be used to fix;

@camillescott @mr-c the alternative here is to add an option to split-paired-reads to sideline or trash orphans. I think this makes the script too complicated

[2015-06-12 10:43] ctb commented on #820
- [ ] remove screed.description from screed
- [ ] remove 'parse_description=False' from throughout the code base.

Removal of parse_description=False can be done as part of 2.0 easily enough...

[2015-06-12 11:05] ctb opened #1084 "Write recipes for interleaving, splitting, and extracting PE/SE reads."

[2015-06-12 18:16] mr-c opened #1087 "weird version problem is back"
[code]

https://readthedocs.org/builds/khmer/2954559/

[2015-06-12 19:56] ctb commented on #46
All scripts/code now handles this properly; in particular, annotate_partitions is tested in `test_scripts.py:test_extract_partitions_fq()`. Closing.

[2015-06-12 19:56] #46 closed

[2015-06-12 19:57] ctb commented on #51
#1035 proposes using the MiniFloat standard to do this.

[2015-06-12 19:59] ctb commented on #87
I've decided this is, in general, a horrible idea. See https://github.com/dib-lab/khmer/pull/1057#issuecomment-108999754 for full rationale.

[2015-06-12 19:59] #87 closed

[2015-06-12 20:07] ctb commented on #760
Specific issue fixed in https://github.com/dib-lab/screed/pull/38 but more discussion may be needed :).

[2015-06-12 20:07] ctb commented on #108
Closing in favor of discussion on #760.

[2015-06-12 20:07] #108 closed

[2015-06-12 20:09] ctb commented on #69
This code will probably be refactored dramatically in the next few months; see, for example, #655. Closing as irrelevant.

[2015-06-12 20:09] #69 closed

[2015-06-12 20:14] ctb commented on #93
No longer of interest.

[2015-06-12 20:14] #93 closed

[2015-06-12 20:16] ctb commented on #144
No longer claimed.

[2015-06-12 20:17] ctb commented on #163
Not being worked on by anyone; closing.  Also see: https://github.com/dib-lab/nullgraph

[2015-06-12 20:17] #163 closed

[2015-06-12 20:21] ctb commented on #234
On the roadmap ('oxli'), but deferred for now. Closing.

[2015-06-12 20:21] #234 closed

[2015-06-12 20:21] ctb commented on #321
Remaining components of this issue should be moved to a new issue :)

[2015-06-12 20:23] ctb commented on #373
On the checklist.

[2015-06-12 20:23] #373 closed

[2015-06-12 20:25] ctb commented on #394
Conversation continued (with more specificity) in #1036. Closing this 'un; we're not handling IUPAC anytime soon :)

[2015-06-12 20:25] #394 closed

[2015-06-12 20:36] mr-c commented on #394
Should we have a separate list of requested but ignored features?

[2015-06-12 20:36] mr-c commented on #394
Or there could be a label we could apply 'not-planned'

[2015-06-12 20:38] ctb commented on #394
Surely the search function can be used for this?

[2015-06-12 20:39] mr-c commented on #394
Right, it would be https://github.com/dib-lab/khmer/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed+label%3A%22not+planned%22+

[2015-06-12 20:50] ctb commented on #394
-0

[2015-06-13 00:21] mr-c opened #1091 "misc documentation updates"
This list is a bit old and not all entries may make sense. Moved over from https://github.com/dib-lab/khmer/issues/321
- [ ] add a subtitle
- [ ] document our documentation conventions
- [ ] building on the above: use the Sphinx unix manual page builder to build and ship manual pages for each script
- [ ] for each part: list intended audiences and expectations
- [ ] merge the following chapters el

[2015-06-13 00:21] mr-c commented on #321
Remaining components moved to #1091.

[2015-06-13 00:21] #321 closed

[2015-06-13 13:18] ctb commented on #343
--force (#399) resolves this issue.

[2015-06-13 13:18] #343 closed

[2015-06-13 13:19] ctb commented on #347
This could easily be integrated into #1050, actually. Hmm.

[2015-06-13 13:22] ctb commented on #372
I think this needs to be documented, but I'm happy with the approach we've taken in the last few releases (more people who merge/nominal signoff by someone else, release manager has emergency merge privileges but they should be used sparingly).

[2015-06-13 13:23] ctb commented on #470
ping @bocajnotnef - where are we?

[2015-06-13 13:26] ctb opened #1092 "Change 'fastp' to 'partitioned fasta/fastq' in sandbox/sweep-files and sweep-reads"
See #493.

[2015-06-13 13:27] #493 closed

[2015-06-13 13:29] ctb commented on #530
Unable to replicate, unused script; if it comes up again, we'll look at it :)

[2015-06-13 13:29] #530 closed

[2015-06-13 13:33] ctb opened #1093 "Verify that n_occupied etc. numbers are correct and saved in both countgraph & nodegraph"
See discussion in #429.

- [ ] functions should be inspected and tested;
- [ ] we need to save these functions in countgraph and nodegraph

[2015-06-13 13:33] ctb commented on #1093
(Since file formats are changing a lot, we could do this for 2.0 perhaps.)

[2015-06-13 13:35] ctb commented on #634
Out of scope for the project, at this point. We've run multiple hackathons and all has been good, so I think I will close until it comes up in the wild.

[2015-06-13 13:35] #634 closed

[2015-06-13 13:40] ctb opened #1094 "Complain on graph creation when k-mer size requested is > 32"
See #636; right now, the error message given for

     scripts/normalize-by-median.py -k 35 data/100k-filtered.fa

is:

      terminating with uncaught exception of type khmer::khmer_exception: Supplied kmer string doesn't match the underlying k-size.

which is not very clear :).

Could be added as part of #1050?

[2015-06-13 13:42] ctb commented on #636
ksize upgrade in #624; core issue is #60. Punted error message fix to #1094.

[2015-06-13 13:42] #636 closed

[2015-06-13 13:43] ctb commented on #640
Fixed in #663.

[2015-06-13 13:43] #640 closed

[2015-06-13 13:45] ctb commented on #645
Fixed; see #728 and linked issues.

[2015-06-13 13:45] #645 closed

[2015-06-13 13:47] ctb commented on #728
More or less done (#785, #1044) and the naming scheme stuff is punted to #872.

[2015-06-13 13:47] #728 closed

[2015-06-13 13:48] ctb commented on #769
Needs to be verified.

[2015-06-13 13:49] ctb commented on #657
#1036 is relevant (how to handle Ns).

[2015-06-13 13:50] ctb commented on #673
Addressed by adding a bunch of stuff (broken_paired_reader etc) to utils.py so it's now useful :)

[2015-06-13 13:50] #673 closed

[2015-06-13 13:52] ctb commented on #695
Need more specifics; closing 'til then.

[2015-06-13 13:52] #695 closed

[2015-06-13 13:53] ctb commented on #746
Fixed in #1053.

[2015-06-13 13:53] #746 closed

[2015-06-13 13:54] ctb commented on #763
Fixed in #763 and elsewhere.

[2015-06-13 13:54] #763 closed

[2015-06-13 13:54] ctb commented on #786
Closed by #789.

[2015-06-13 13:54] #786 closed

[2015-06-13 13:57] ctb commented on #802
Fixed in #785.

[2015-06-13 13:57] #802 closed

[2015-06-13 18:31] mr-c commented on #763
@ctb #763 is fixed in #763? :-)

[2015-06-13 18:34] ctb commented on #763
;)

[2015-06-13 18:36] mr-c commented on #769
ReadParser reads do correctly refer to 'quality' instead of 'accuracy'

Reads from FASTA files still have an 'accuracy' attribute (an empty UTF string).

[code]

[2015-06-13 18:44] mr-c commented on #645
Using ipython I'm not see how to make a new ReadParser read from Python...

[2015-06-13 18:45] mr-c commented on #634
Okey dokey.

[2015-06-13 18:47] ctb commented on #645
Please go ahead and file a new issue, then, with more specifics about what's needed. More important IMO is #769.

[2015-06-13 18:48] mr-c commented on #645
We should make exposing the read object part of #769 then as that is all
the same code area.

On Sat, Jun 13, 2015 at 11:47 AM C. Titus Brown <notifications@github.com>
wrote:

--
Michael R. Crusoe: Programmer & Bioinformatician crusoe@ucdavis.edu
<mcrusoe@msu.edu>
The lab for Data Intensive Biology; University of California, Davis
https://impactstory.org/MichaelRCrusoe http://twitter.com/biocruso

[2015-06-13 18:56] ctb commented on #645
I would like to see a specific use case, so -0 on just including it to round things out. So far we have no need to create a Read object in Python that I can see, and until we no longer depend on screed we have access to screed.Record().

[2015-06-13 19:01] bocajnotnef commented on #470
I think we're set here unless anyone has any new pain points on the subject. The lack of additional comments would indicate otherwise, so I'm closing this.

[2015-06-13 19:01] #470 closed

[2015-06-13 19:02] ctb commented on #470
great thx

[2015-06-13 19:10] ctb opened #1095 "add recipes for count-kmers and count-kmers-single to khmer-recipes"
See #983.

[2015-06-13 19:10] ctb opened #1096 "Move core loop code for count-kmers into C++-land"
See #983.

[2015-06-13 19:31] ctb opened #1097 "Update command-line option defaults for khmer 2.0"
- [x] abundance-dist-single: -t and --csv should become default
- [x] abundance-dist: --csv should become default
- [x] count-median.py: --csv should become default
- [x] count-overlap.py: --csv => default
- [x] filter-abund-single.py: -t => default
- [x] load-into-counting.py: -t => default, maybe summary info too?
- [x] split-paired-reads, -p => default (see #847)

[2015-06-13 19:31] ctb commented on #1097
(It's not just about updating default,s actually -- there should be no option to turn off --csv or -t, in fact.)

[2015-06-13 19:48] mr-c opened #1098 "can't make new ReadParser read object from Python"
See the conversation at https://github.com/dib-lab/khmer/issues/645#issuecomment-111739214 and onwards

[2015-06-13 19:54] ctb commented on #1098
Use case?

--
Titus Brown, ctbrown@ucdavis.edu

[2015-06-14 08:25] mr-c commented on #1087
Seems to be solved by #1089, #1086

[2015-06-14 08:25] #1087 closed

[2015-06-14 12:06] ctb opened #1099 "Sporadic error occurring in threaded tests"
[code]

@luizirber could you take a look at it? I can't reproduce it on demand but it happens one in every ~20 test runs.

[2015-06-14 12:11] ctb commented on #1099
And maybe related? Never seen this one before :)

[code]

[2015-06-14 22:06] #519 closed

[2015-06-14 22:09] mr-c commented on #1076
@bocajnotnef #1031 has landed

[2015-06-15 10:30] ctb opened #1102 "add recipes for read handling to khmer-recipes"
extract-paired-reads, split-paired-reads, and interleave-reads are becoming useful... also could showcase the streaming stuff a bit.

[2015-06-15 20:00] mr-c opened #1103 "rename default file extensions to match new nomenclature?"
As documented in https://github.com/dib-lab/khmer/blob/doc/binaryformats/doc/dev/binary-file-formats.rst we have too many names for the same things:

1. countgraph/countinghash/count-min sketch with file extension 'ct' (counting table)

2. nodegraph/HashBits/bloom filter with file extension 'pt' (presence table)

We could

a) use the name countgraph consistently and name the files '.cg' and likewi

[2015-06-15 21:41] ctb commented on #1103
No particular attachment to .pt and .ct; those were made up by @mr-c and
are inconsistently applied in any case :).

I still have a sentimental attachment to .kh; maybe .kg, khmer-graph?

Just .graph would probably be too confusing.

We will be switching to countgraph and nodegraph internally, and
I expect other types of graphs to make their way into khmer in the
future, but not clear on exactly w

[2015-06-15 22:29] Blahah commented on #1103
Given that these are going to be non-standard file extensions, wouldn't the most user friendly thing be to make them descriptive? Like maybe `.count_table` and `.presence_table`?

Living as we do in a utopian world of tab-completion, is there a benefit to having them be two letters?

[2015-06-16 00:36] kdmurray91 commented on #1103
My brainstorming:
- Consistency FTW. +1 for `.ng` and `.cg`.
- Avoid clashes: http://filext.com doesn't list any major extension clashes for either `.cg`, `.ct`, `.ng` or `.pt`. So no preference from this angle.
- I like @Blahah's suggestion (sans underscores, I'm *very* lazy, and we don't have underscores/camel case in the names of the data structures). But I also think that most people are comfo

[2015-06-16 12:37] ctb commented on #1103
On Mon, Jun 15, 2015 at 05:36:39PM -0700, Kevin Murray wrote:

+1 on the last suggestions.

We're not exposing oxli to the outside world for 2.0, note, so we have some
time.

[2015-06-18 23:15] qingpeng opened #1105 "update khmer on anaconda"
https://anaconda.org/ged/khmer

The 1.1 version has some dependencies issues.
It is better to update it to newer version if it is not a big trouble.

[2015-06-19 02:46] luizirber commented on #1105
Relevant wiki link: https://github.com/dib-lab/khmer/wiki/Conda-Support

@tpn how do we access this channel?

[2015-06-19 04:09] luizirber commented on #594
Related: https://github.com/tobami/codespeed/
(found via [this reproducible paper][1], which uses [ReBench][2] for benchmarking. ReBench has support to submit data to codespeed).

[1]: https://github.com/smarr/selfopt-interp-performance/tree/papers/zero-overhead-mop
[2]: https://github.com/smarr/ReBench

[2015-06-19 16:48] bocajnotnef opened #1107 "make diff-cover runs huge tests which breaks on small memory machines"
[code]

hotfix for master was to disable huge tests on `make test`--not sure if that's optimal in this case

[2015-06-19 17:15] mr-c commented on #1107
I was looking into this yesterday. There's some weird version detail that also matters. Running coverage on Athyra only takes a couple hundred megabytes of memory. Yet the CI server and others consume many gigabytes in the same situation..

[2015-06-19 21:57] ctb commented on #1073
Fixed by #1081.

[2015-06-20 02:06] mr-c commented on #615
Fixed by #809

[2015-06-20 02:06] #615 closed

[2015-06-20 02:09] mr-c commented on #1105
In the developer docs is a more flexible solution

[code]
From http://khmer.readthedocs.org/en/latest/dev/getting-started.html

Does this meet the need?

[2015-06-22 15:34] bocajnotnef opened #1109 "Some tests have grown too memory hungry"
re: gitter conversation starting nearish https://gitter.im/dib-lab/khmer?at=5584b7e73039387b1577f66a

some of the tests have gotten to the point where they take several gigs of ram and disk and ~20s to complete. Since they test edge cases it's excessive to have to run these constantly.

**Proposed/general consensus:** we should implement some new testing tags ("large" and "huge") and have the "hug

[2015-06-22 20:15] mr-c opened #1110 "tests.test_labelhash.test_load_wrong_filetype fails under Py3.3"
https://travis-ci.org/mr-c/khmer/jobs/67897026

[2015-06-23 00:27] ctb opened #1112 "Replace 'hashsizes' with 'tablesizes' at the CPython & Python layers"
...to better match C/C++ behavior, plus preferred usage.

[2015-06-23 02:44] kdmurray91 commented on #1109
@bocajnotnef no further thoughts, but +1 for two sets. And I'd say +1 to two makefile targets.

Additionally, I'm happy to run vaguely regular build/test runs on our CI server here, which runs debian Jessie, and also can run things on a Fujitsu supercomputer (Centos 6.X based, with Intel's `cc` and GCC). I kinda already do this with a subset of the C++ API, or at least it's integration with [kWIP]

[2015-06-23 06:09] kdmurray91 commented on #1109
Side note: the `coverage` call doesn't have `--attr=!huge` in the coverage targets of the makefile.

[2015-06-23 14:40] ctb opened #1114 "Make graphalign return all possible paths, in order of score."
For both debugging and Science, it would be interesting if the read aligner could yield multiple paths, starting with the best possible and then going down from there.  I would imagine that some kind of generator approach would be a natural fit, since you clearly don't want to return a set of all possible paths :)

Not having fully internalized the read aligner code, I don't have a sense for what

[2015-06-23 17:36] ctb opened #1115 "Put together a demo for streaming through trimmomatic"
(I would like to benchmark)

Streaming into trimmomatic should be fairly easy with named pipes using wget from ENA.

Streaming from trimmomatic into broken-paired format (for e.g. diginorm) will require some programming - we need to pull from the paired outputs simultaneously while inserting orphans on an as-available basis.

[2015-06-23 17:41] ctb opened #1116 "Think about a non-binary scoring model for the read aligner"
Right now we differentiate between trusted and untrusted, but we'd like to have the option to have multiple steps (down to a stepwise granularity of 1 :) for various purposes, including haploid/diploid and strain variation recognition.

@fishjord any pointers or suggestions from the literature? TIA!

[2015-06-23 22:53] bocajnotnef opened #1117 "Implementing --max-mem and auto'd hashtable agrs"
Related to: #1050, #390, #1106, #732

Currently: @ctb is implementing --max-mem in #1050 where, given a memory ceiling, automagically calculates graph sizes

#1106 also has methods for automagically calculating graph sizes given number of unique kmers, memory ceiling and/or desired FP rate.

So, my question: is it worth including the methods added in #1106 more widely if #1050 is going to address

[2015-06-23 22:59] ctb commented on #1117
On Tue, Jun 23, 2015 at 03:53:21PM -0700, Jake Fenton wrote:

Question: from reading through #1106 it looks to me like all of your methods
require some information (desired FP rate, or number of k-mers) along with
desired memory usage.  Is that correct?

[2015-06-23 23:00] bocajnotnef commented on #1117
Yes. Specifically, number of kmers paired with either desired FP or desired memory.

[2015-06-23 23:02] ctb commented on #1117
On Tue, Jun 23, 2015 at 04:00:45PM -0700, Jake Fenton wrote:

So in that case I see no conflict in the feature sets.  I think #1050 will
be (is already) a sound platform on which to build in your additional
functionality.  No?

[2015-06-23 23:03] ctb commented on #1117
And, more explicitly, #1050 is much more about refactoring and cleanup than it is about new functionality, while #1106 is adding some useful new features. So again, no conflict.

[2015-06-23 23:04] bocajnotnef commented on #1117
Ah, fair point. From my reading of #1050 it looked like --max-mem took care of some of what #1106 was made to accomplish

[2015-06-23 23:05] ctb commented on #1117
On Tue, Jun 23, 2015 at 04:04:21PM -0700, Jake Fenton wrote:

Do you still feel that way? :)

[2015-06-23 23:06] bocajnotnef commented on #1117
Nope.

[2015-06-24 11:05] standage commented on #1115
Has anyone contacted Tony about the possibility of supporting interleaved input? Hard to overestimate the number of hours, electrons, and taxpayer dollars that would be saved if my colleagues and I did not have to convert back and forth in my QC pipelines.

[2015-06-24 14:32] ctb opened #1118 "Update screed description for 1.0 release"
Currently the description is:

I would suggest:

We are pleased to announce the release of screed xxx.  Screed is a biological sequence parsing
and storage/retrieval library for DNA and protein sequences. It's designed to be lightweight and easy to use from Python.

[2015-06-24 14:47] ctb commented on #1117
Great - can you outline a new plan of attack?

[2015-06-24 16:47] ctb opened #1119 "When opening a badly formatted FASTA file, ReadParser error is unclear."
When running load-into-counting on a badly formatted FASTA file, I get:

[code]

This error message seems to be coming from the zlib library (!?)

[2015-06-24 16:47] ctb commented on #1119
We should get:

   Could not parse reads.fa file

[2015-06-24 18:12] bocajnotnef commented on #1117
Right, so, new plan: implement new args (perhaps using a subcommand structure?) that take in no. of kmer and (fp rate or max mem), perhaps pulling from --max-mem if it's set. Using the algorithms that're being added to oxli in #1106 we'll then automagically get the rest of the parameters.

[2015-06-24 20:40] ctb opened #1120 "Allow for skipping of pysam tests"
Also see https://github.com/dib-lab/khmer/pull/1019#discussion_r30709115

cc @bocajnotnef

[2015-06-24 23:32] mr-c commented on #363
http://dx.doi.org/10.6084/m9.figshare.1461837

[2015-06-24 23:32] #363 closed

[2015-06-25 17:02] bocajnotnef commented on #1120
Any way we could build a

[code]

kinda thing?

[2015-06-25 17:50] ctb commented on #1120
+1

[2015-06-26 14:34] ctb opened #1123 "test_normalize_by_median.test_normalize_by_median_report_fp takes too long"
Let's see if we can find a shorter test for the same basic functionality, even if we leave this test in for 'big' or 'huge' tests.

[2015-06-26 17:59] bocajnotnef commented on #896
fixed by https://github.com/dib-lab/screed/pull/31, closing #896

[2015-06-26 18:01] #896 closed

[2015-06-28 17:35] ctb commented on #390
Added in #1106.

[2015-06-28 17:37] ctb commented on #1117
I would start by taking into account desired FP rates, and allow for specification of N alone (at which point  max memory usage is automatically calculated from the default FP rate).

For diginorm, fp of 0.1 is acceptable. For load-graph, I would go with .01.

[2015-06-29 03:00] bocajnotnef commented on #1107
see also #1109

[2015-06-29 03:00] bocajnotnef commented on #1005
@ctb Thoughts on this, since said release is supposedly in the works?

[2015-06-29 03:01] bocajnotnef commented on #1117
I assume I should allow for overriding of FP rates, but use a default value and not require that one be set?

[2015-06-29 03:04] bocajnotnef commented on #1117
Also, from reading the relevant issues and comments (specifically https://github.com/dib-lab/khmer/issues/732#issuecomment-70554583) I'm taking this to mean we'll take in a specified N and M to set a good hash size, but given an unset M we default to estimating based off of what we think a good FP rate is--Yes?

[2015-06-29 03:19] ctb commented on #1117
All sounds good.

--
Titus Brown, ctbrown@ucdavis.edu

[2015-06-29 03:57] bocajnotnef commented on #1117
@ctb Alright, I'm back to feeling like I'm duplicating work. I skimmed through the docs for #1050 (specifically https://github.com/dib-lab/khmer/pull/1050/files#diff-f774d7b19ba2beb15a8f5a125c400abeR8) and then glanced through your additions to khmerags and it seems a lot like the functionality I've proposed is essentially already in place, albiet without FP rate handling.

If anything the stuff I

[2015-06-29 04:10] ctb commented on #1117
Know N, want M set automatically to minimum.

Know M, fix M, want it to fail when fp is going to be too high.

Both are valid use cases that require knowing N. All good.

[2015-06-29 04:10] bocajnotnef commented on #1117
Okay. Makes sense, understanding acquired. Thanks.

[2015-06-29 14:28] ctb opened #1124 "Change setup.cfg to have stop=FALSE"
Back When, when setup.cfg was put into place to provide default parameters, `-x`/stop=TRUE was set as default.  This was more or less chosen randomly.

It has been bugging me increasingly ever since, for a few reasons:

* it is very rare for me to break dozens of tests at once, but it is quite common to break one test intentionally (which then stops the test running) while breaking three tests uni

[2015-06-29 14:49] ctb opened #1125 "some tests leak stdout, which is Bad."
[code]

and

[code]

and

[code]

and

[code]

[2015-06-29 14:50] ctb commented on #1125
(yes, yes, mea culpa. but I didn't want to deal with it at the time :)

[2015-06-29 15:26] ctb commented on #732
Updates for @macmanes:

`-M/--max-memory-usage` was merged in #1050. Automatic memory determination based on k-mer numbers is being worked on in #1117.

Streaming is still in progress, but fixed read name handling, broken-paired read handling, and explicit naming of output files has been updated through many of our scripts (see #763 and #759). I'm sure there's loose ends but we will try to identif

[2015-06-29 17:45] mr-c commented on #1124
I also hate this default. +1 to dropping the line

[2015-06-29 18:01] mr-c commented on #755
Done #750

[2015-06-29 18:09] mr-c opened #1127 "readaligner: allow k-mers unique to query to be part of an alignment"

[2015-06-29 18:11] mr-c opened #1128 "v2.0 planning"
- [x] issue sweep
- [x] start release notes
- [x] update `whats-new.rst`
- [x] think on what else we want to prioritize while we are breaking all the things

[2015-06-29 20:46] bocajnotnef commented on #1125
Ooh, low hanging fruit.

I'll nab this. (Mostly because that leak is annoying the crap outta me.)

[2015-06-29 20:48] bocajnotnef opened #1129 "There are two test_diginorm_basic_functionality_4()'s in the diginorm test suite"
https://github.com/dib-lab/khmer/blob/master/tests/test_normalize_by_median.py#L569
https://github.com/dib-lab/khmer/blob/master/tests/test_normalize_by_median.py#L600

Fix: in the second one, change the "4" to a "5"

[2015-06-30 04:35] ctb opened #1130 "update Zhang, Awad, Brown citation for semi-streaming to point at PeerJ preprint"

[2015-06-30 05:50] kdmurray91 opened #1131 "Tests are leaking a file"
Speaking of leaky tests,  I just noticed a test is creating files in the root directory and not deleting them. I'll investigate further and post back when I know...

The files are:
[code]

[2015-06-30 05:52] kdmurray91 commented on #1131
rough git bisection indicates the behaviour was introduced in #1085

[2015-06-30 06:39] kdmurray91 commented on #1131
A proper `git bisect` pins e29ce1a7b5610017cb0fcae6454f37cc79791e42 as the commit at which the files appear. Which is somewhat strange, but it looks as though the default output file is created even if we have specified a filename on the CLI.

[2015-06-30 06:54] kdmurray91 commented on #1131
The title was not intentionally passive-aggressive :smile:

[2015-06-30 14:12] ctb commented on #1005
As per #961, load-graph was replaced by the contents of build-graph; there is no build-graph script. If you're proposing to now go back in and rename load-graph to build-graph, please make a case for it in a new issue :).

[2015-06-30 14:12] #1005 closed

[2015-06-30 14:24] #1131 closed

[2015-06-30 14:58] luizirber commented on #1109
An interesting exercise: http://threebean.org/blog/speeding-up-that-test-suite/

[2015-06-30 15:15] bocajnotnef commented on #1124
Closing #1124, changes merged

[2015-06-30 15:15] #1124 closed

[2015-06-30 15:37] bocajnotnef commented on #1125
Additionally, this test is leaking into the main directory (~/git/khmer):
`tests.test_scripts.test_extract_paired_reads_4_output_files ... FAIL`

[2015-07-01 03:06] bocajnotnef commented on #1125
Hmm. Strike my last, doesn't appear to be leaking anymore.. Weird.

[2015-07-01 16:04] #1073 closed

[2015-07-03 20:51] standage opened #1140 "Warning message about improperly interleaved pairs"
I'm looking at some rice data (SRA accession ERR612477), and I get an `improperly interleaved pairs` message for the first read pair when running `normalize-by-median.py`. I don't see any formatting issues with the read IDs (see first two pairs below). Any idea what may be causing this error message?

By the way, I pip installed khmer 1.4.1 on a Fedora machine.

[code]

[2015-07-03 20:56] standage commented on #1140
Hmm, I get this when running `split-paired-reads.py`.

[code]

Is this format non-standard?

[2015-07-04 02:20] kdmurray91 commented on #1140
`fastq-dump` somewhat mangles the header line. I use `--defline-seq='@$sn/$ri' --defline-qual '+'`, which fixes the issue. If you want the accession in there too, I'd do `--defline-seq='@$sn/$ri $ac'`.

[2015-07-04 14:29] ctb commented on #1140
@standage I believe @SherineAwad fixed this in #1088, which will be part of the 2.0 release - a quick test applying split-paired-reads.py to your data above suggests that it is indeed fixed. Let us know if you find that it is not so. @kdmurray91 does your comment still apply?

[2015-07-04 19:41] ctb opened #1141 "Turn off default hashtable/graph size output on unique-kmers.py"
So... finally got around to running `unique-kmers.py`, and noticed that by default this outputs a bunch of info about hashtables and so on.  This isn't a good default option, IMO; people will want to count k-mers without necessarily doing anything else. Moreover, there's no way to turn it off.  I think we should have it off by default, and then provide an option to turn on bloom filter/countmin sk

[2015-07-04 19:44] bocajnotnef commented on #1141
All good points. I can fire up a new pull for this soon.

[2015-07-05 09:38] kdmurray91 commented on #885
@mr-c, I've started work on this again. It would be great if at some point when you had time we could discuss this on gitter (preferably live). I have a few questions around the patch queue and debian-ising `lib/Makefile`.

[2015-07-05 10:19] mr-c commented on #885
Sweet. I've re-opened Gitter on my laptop & installed the client on my phone. I'm in the UCT+01:00 timezone until July 12th.

As for the packaging, I'm going to cut a release candidate of 2.0 today; lets use that for now.

[2015-07-05 12:16] mr-c opened #1142 "collect_high_abundance_kmers partially removed"
#1044 removed the CPython function `hashtable_collect_high_abundance_kmers` which is used by `sandbox/find-high-abund-kmers.py`.

Unless someone objects, after three days I am going to remove this script and the underlying C++ function in `lib/counting.cc`

[2015-07-05 13:37] ctb commented on #1142
On Sun, Jul 05, 2015 at 05:16:34AM -0700, Michael R. Crusoe wrote:

It appears to have been removed from the CPython API already.

[2015-07-05 13:44] mr-c commented on #1142
Yep, but not the C++ API nor from all sandbox scripts.

[2015-07-05 14:29] mr-c opened #1143 "[lib/labelhash.hh:112]: (error) Memory is allocated but not initialized: c"
@camillescott @ctb  is this a false positive?

[2015-07-06 02:29] bocajnotnef commented on #1129
Closing #1129, fixed by #1137

[2015-07-06 02:29] #1129 closed

[2015-07-06 02:30] bocajnotnef commented on #1125
Closing #1125, fixed by #1137

[2015-07-06 02:30] #1125 closed

[2015-07-06 03:47] bocajnotnef opened #1146 "hashtable arg estimation functions may be wrong"
see #1106 #1117

[code]

TL;DR: Estimation funcs say we'll have an FP of  0.100049378972
Script says we have an FP of 45.698

One of those algorithms is horribly wrong.

~~@ctb @luizirber I have no idea how the math behind any of these functions work--Advice, please?~~

@camillescott  gave enlightenment--pondering required.

[2015-07-06 05:06] ctb opened #1147 "kfile.check_valid_file_exists() should return silently if it's a FIFO"
see logic in kfile.check_input_files() for example.

As it is, running `normalize-by-median` on a FIFO warns that the FIFO is empty.

[2015-07-06 07:05] kdmurray91 commented on #885
Brainfart checklist, which will probably be added to:

- [ ] we should set SONAME in the shared object
- [ ] makefile flags USE_EXTERNAL_{ZLIB,LIBBZ2,SEQAN} would be helpful in `lib/makefile`, and possibly also the root makefile
- [ ] We should ensure that `lib/Makefile` accepts the dpkg-buildflags environment variables.

[2015-07-06 08:18] mr-c commented on #885
Yes, lets put the headers in `oxli/something.hh`.
When compiling the CPython module you can use system zlib & bz2 by tweaking `setup.cfg`
Stock seqan does not yet work with us (we had to patch 1.4.x and 2.x has issues)

[2015-07-06 08:46] kdmurray91 commented on #885
#1148 contains the upstreamed changes

[2015-07-06 09:14] kdmurray91 opened #1149 "`-DVERSION` should be renamed `-DOXLI_VERSION` or similar"
From #885, #1148 and gitter discussion between @mr-c and myself

[2015-07-06 09:16] kdmurray91 opened #1150 "Pop some `-Wall -Wextra`-induced warnings in `lib/`"
#1148 introduces the `-Wextra` flag, to which the gods of old code reacted with a more verbose build :smile:

[2015-07-06 09:17] mr-c commented on #1149
Or we replace it with an autogenerated file included from `khmer.hh` which would also solve #805

[2015-07-06 09:28] kdmurray91 commented on #1150
also `-Wundef`, though that's mostly seqan-related

[2015-07-06 09:32] kdmurray91 commented on #805
This would also be a great help for making a `FindKHMER.cmake` helper file, which I am to do eventually

[2015-07-06 12:18] standage commented on #1140
@ctb @SherineAwad I get this when I `make test` on the latest master (OS X Yosemite).

[code]

[2015-07-06 13:52] bmpvieira opened #1152 "Wrong python interpreter in OSX version"
All *.py files have ```#!/Users/mcrusoe/build/bin/python```

### Steps to reproduce

[code]

[2015-07-06 14:01] ctb commented on #1152
On Mon, Jul 06, 2015 at 06:52:49AM -0700, Bruno Vieira wrote:

Hi Bruno, thanks for the note - this is definitely not true of the scripts in
the git repo, so somewhere along the way the shebang must be getting updated
inappropriately.  Could you paste in the output from what you're running,
if you get a chance?

@mr-c any thoughts?

--titus
--
C. Titus Brown, ctbrown@ucdavis.edu

[2015-07-06 16:04] SherineAwad commented on #1140
Hi @ctb and @standage

I tested the sample sequence, and it doesn't work. There is another bug I will handle. Thanks.

[2015-07-06 18:22] SherineAwad commented on #1140
@standage  @ctb
Sorry, something was wrong with my virtual env.
Now, checking the sample sequence  with interleave-reads, it works. Will go through errors thrown from other scripts you mentioned.

[2015-07-06 19:02] mr-c commented on #1152
Wacky, they are indeed that way in the OS X wheel at https://pypi.python.org/packages/2.7/k/khmer/khmer-1.4.1-cp27-none-macosx_10_10_intel.whl#md5=70d6d4f31fcbb5292fd27ce5819ed4f8

I don't have access to an OS X machine right now to investigate, unless @camillescott can figure out why I can't ssh to our development imac.

[2015-07-06 19:40] luizirber opened #1153 "Use only one tool for Python code reformatting"
Currently we use `pep8` for checking for PEP 8 errors and `autopep8` for automatic formatting. `autopep8` is catching more errors than `pep8`, so sometimes `make pep8` doesn't report any errors, but `make format` will change the code.

We can unify and use only `autopep8` by modifying the `pep8` Makefile target to:
[code]
but this only shows a diff with the errors, not an explanation of the error

[2015-07-06 21:32] ctb opened #1154 "Handle borked-but-obvious FASTQ formats with an option"
See https://github.com/lh3/bfc/issues/8#issuecomment-116166794 for motivation.

I would propose something like this:

* add a named argument to broken_paired_reader that automatically assumes that sequences with identical prefixes (lhs?) are pairs;
* update interleave-reads, split-paired reads, and extract-paired-reads to take appropriate command line arguments;
* in the process, have those script

[2015-07-07 03:53] kdmurray91 commented on #885
Today's questions:

- [ ] Should `make install` copy/append `lib/magic` somewhere? Or shall we leave that to `dh_override_auto_install` in `d/rules`?

[2015-07-07 09:13] kdmurray91 commented on #885
Known issues w/ current debian package ([see here](https://anonscm.debian.org/cgit/debian-med/khmer.git/log/?h=daube/libkhmerdev))

- [ ] Need to package `pkgconfig` file
- [ ] Change shared lib package to `libkhmer2`, as that's what it will be when we release it.
- [ ] Need to package `lib/magic`

I suggest we add to this list as we find them

[2015-07-07 09:17] mr-c commented on #885
Re: `lib/magic` Let's just solve this for Debian via `debian/rules`. `/etc/magic` is from the `file` package; `/usr/share/doc/file/README.Debian` tells us how to install our own magic as package maintainers.

[2015-07-07 09:18] mr-c commented on #885
I've install `zlib1g-dev` on `ci.oxli.org`

[2015-07-07 09:21] mr-c commented on #885
+1 for `liboxli` & `python3-khmer`

[2015-07-07 10:05] mr-c commented on #885
You can make a README.Debian for the lib package for now, should be upstreamed to khmer later.

[2015-07-07 10:53] kdmurray91 commented on #885
Todo:

- [ ] Readme.debian for `liboxli*` packages
- [ ] Check the magic installation and removal works
- [ ]  Is it worth having a base package,`khmer-common`, for the magics? And having all packages depend on that? (from commit message of debian repo)

[2015-07-07 11:02] mr-c commented on #885
magic file can go in oxli-common, yep

On Tue, Jul 7, 2015 at 11:53 AM Kevin Murray <notifications@github.com>
wrote:

--
Michael R. Crusoe: Programmer & Bioinformatician crusoe@ucdavis.edu
The lab for Data Intensive Biology; University of California, Davis
https://impactstory.org/MichaelRCrusoe http://twitter.com/biocrusoe

[2015-07-07 18:36] ACharbonneau opened #1156 "Documentation problem: Installing & Running khmer"
I believe that I have the listed requirements (http://khmer.readthedocs.org/en/latest/user/install.html):
Python 2.7.6 (default, Sep  9 2014, 15:04:36)
[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.39)] on darwin

but I can't get the "Run the tests" section to work.

I get:
$ nosetests khmer --attr '!known_failing'

$ pip2 install khmer[tests]

$ nosetests khmer --attr '!known_failing'

$ pip2

[2015-07-07 18:37] ctb commented on #1156
On Tue, Jul 07, 2015 at 11:36:51AM -0700, Amanda Charbonneau wrote:

Try 'pip2 install nose' and let us know if that works - thanks!

best,
--titus

[2015-07-07 18:45] luizirber commented on #1156
Sometimes the PATH is not updated, try to `deactivate` and `source khmerEnv/bin/activate` again and `nosetests` should be available.

[2015-07-08 11:22] kdmurray91 commented on #1038
this was fixed in #1043, closing

[2015-07-08 11:22] #1038 closed

[2015-07-08 20:21] luizirber opened #1160 "Refactor save/load code"
There is a lot of copy-and-paste on the save/load code over {labelhash,hashbits,counting,subset,hashtable}.cc. From a quick glance it seems most of it can be moved to hashtable.cc

[2015-07-08 21:32] ACharbonneau commented on #1156
deactivated/reactivated as per Luiz; did 'pip2 install nose' as per Titus...not sure if this is the expected result:

$ nosetests khmer --attr '!known_failing'

[2015-07-08 21:43] luizirber commented on #1156
Can you check if
`$ nosetests khmer --attr '!known_failing,!huge'`
works? If so, we probably need to update the instructions...
(I think the `huge` tests don't work on OSX)

[2015-07-08 21:54] ACharbonneau commented on #1156
I told Crusoe I would field test all of the documentation :)
And I am on a Mac. So:

$ nosetests khmer --attr '!known_failing,!huge'

With an extra space:
$ nosetests khmer --attr '!known_failing, !huge'

Expected result?

[2015-07-09 14:20] ctb opened #1162 "Add a note about the '--force' option when exiting on disk space errors etc."
See http://lists.idyll.org/pipermail/khmer/2015-July/000736.html - we should mention `--force` explicitly.

[2015-07-09 19:32] bocajnotnef commented on #1147
I'll get this.

[2015-07-09 19:33] bocajnotnef commented on #1153
Is there something preventing us from using the same version of pep8 as autopep8, as @mr-c suggested?

[2015-07-09 19:36] bocajnotnef commented on #1156
@ACharbonneau Try `nosetests tests --attr '!known_failing, !huge'`, please.

[2015-07-09 19:54] luizirber commented on #890
A very hacky way to do it over only what changed on the branch `my-branch`, compared to `master`.

[code]
I tried some process substitution, but it failed, part of the file was missing. If it worked, 3rd and 4th lines could be just one:
` $ codespell.py <(git diff master..my-branch)`

I think we should run this as part of the Jenkins khmer-pullrequest job.

[2015-07-09 20:09] bocajnotnef commented on #890
@datasourcery Status on this?

[2015-07-09 20:24] ACharbonneau commented on #1156
Sorry, I can't get this to format in a useful way, so I also attached an image:

E
======================================================================
ERROR: Failure: ImportError (No module named tests)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/Users/Amanda/testKhmer/khmerEnv/lib/python2.7/site-packages/nose/loader.py", li

[2015-07-09 20:54] bocajnotnef commented on #1156
Hrm. That's odd. What directory are you in? khmer's root?

On Thu, Jul 9, 2015, 16:24 Amanda Charbonneau <notifications@github.com>
wrote:

[2015-07-09 20:57] luizirber commented on #1156
This is installed through pip, @bocajnotnef , so there is no khmer's root.

[2015-07-09 21:22] bocajnotnef commented on #1156
Ahh.

On Thu, Jul 9, 2015, 16:57 Luiz Irber <notifications@github.com> wrote:

[2015-07-09 22:15] luizirber commented on #1153
@bocajnotnef  updating pep8 won't solve the issue, since pep8 is not reporting the error anyway.

[2015-07-10 13:37] ctb opened #1166 "kfile.check_space_for_hashtable only examines the current directory..."
...not the location where we actually want to save the hashtable. This is broken behavior.

[2015-07-10 14:47] ctb opened #1167 "Get rid of kfile.check_space call in load-into-counting"
load-into-counting doesn't output anything other than a counting graph, so this check is unnecessary.  Also see #1166.

[2015-07-10 19:31] bocajnotnef commented on #825
Closing #825, fixed by #901

[2015-07-10 19:31] #825 closed

[2015-07-10 19:45] bocajnotnef commented on #1167
Taking this (and #1166)

[2015-07-10 19:45] bocajnotnef commented on #1166
Taking this

[2015-07-10 20:05] bocajnotnef opened #1169 "Argparse arg naming inconsistencies throughout codebase"
https://github.com/dib-lab/khmer/blob/master/scripts/trim-low-abund.py#L86
vs
https://github.com/dib-lab/khmer/blob/master/oxli/build_graph.py#L34

We should settle on a single thing; I nominate `output_filename`'

@mr-c @luizirber @mr-c @camillescott thoughts?

[2015-07-10 20:12] ctb commented on #1169
On Fri, Jul 10, 2015 at 01:05:36PM -0700, Jake Fenton wrote:

Why not have the controlling script specify the directory/location to
check in this case?

[2015-07-10 20:13] bocajnotnef commented on #1169
we'd have to add an arg to the function which just seems excessive when it already takes in the `args` object from the controlling script.

[2015-07-10 20:15] ctb commented on #1169
On Fri, Jul 10, 2015 at 01:13:02PM -0700, Jake Fenton wrote:

presumably this happens elsewhere in the codebase - maybe look through and see
whether it looks like the proposed global standardization causes problems
anywhere.

or, replace 'args' with a list of the directories being considered.

[2015-07-10 20:17] bocajnotnef commented on #1169
we rely on `_calculate_tablesize` which requires the args object (to determine if args.max_memory_usage is set, which we could work around I suppose); otherwise +1 to the list.

[2015-07-13 19:47] ctb commented on #1169
did you look through the codebase to see whether standardizing on names in `args` makes sense?

[2015-07-13 20:01] ctb commented on #1167
`git grep check_space\( scripts | cut -d: -f 1` yields the following files which this check should not be in:

[code]

so it should be taken out of all of them, @bocajnotnef  - thx!

[2015-07-13 20:54] camillescott opened #1171 "Master has tests failing"
#1145  got merged in with borked tests:

[code]

The problem being the `do_sanity_checking` function (https://github.com/dib-lab/khmer/blob/master/oxli/functions.py#L100) not being updated with the changed names from this PR.

Please fix @bocajnotnef, and folks, let's make sure we're testing on clean environments before merging.

[2015-07-13 22:08] bocajnotnef commented on #1171
Wilco.

Sorry, folks. Don't know how I missed that.

On Mon, Jul 13, 2015, 16:54 Camille Scott <notifications@github.com> wrote:

[2015-07-13 22:45] bocajnotnef commented on #1167
Ah, didn't realize that extended beyond load. (as in, that it was equally
unnecessary in those files.)

Will remove.

On Mon, Jul 13, 2015, 16:01 C. Titus Brown <notifications@github.com> wrote:

[2015-07-14 13:46] bocajnotnef commented on #1171
Closing #1171, resolved by #1172

[2015-07-14 13:46] #1171 closed

[2015-07-14 13:56] ctb commented on #1140
@standage @SherineAwad did we ever figure out what was happening? I think everything is working for me and @SherineAwad...

[2015-07-14 20:06] ACharbonneau commented on #1156
I'm assuming this means that the nosetests still aren't working.
Does this mean that khmer is likely installed incorrectly? Or just that the testing modules are?
And is there an alternative way to make sure that khmer is installed as expected?

I don't want to attempt to test subsequent documentation with a borked install.

[2015-07-15 01:43] mr-c commented on #1156
@ACharbonneau Thank you for testing!

Can I see the output of
[code]

[2015-07-15 14:31] standage commented on #1140
@ctb @SherineAwad Still getting the same error on OS X Yosemite (multiple machines). Tests pass fine on one of our lab's Fedora VMs.

[2015-07-15 14:49] standage commented on #1140
@ctb @SherineAwad Actually, the script seems to be working fine both on Fedora and Mac OS X: but the test is still failing on OS X.

[2015-07-15 14:59] ACharbonneau commented on #1156
Hey Michael! The instructions suggest that I should be running the tests from the main directory, and that's where I ran these, but I've also attempted all the tests from inside the khmerEnv directory with the same results. ls of khmerEnv is appended

$ echo $PWD

$ echo $PATH

$ ls

$ pip show khmer

$ pip show nose

$ cd khmerEnv/ ; ls

[2015-07-16 02:33] kdmurray91 commented on #1140
@standage that test is known to be failing on OS X, see #1046.

[2015-07-16 12:16] ctb commented on #1046
Note, this doesn't fail on OS X 10.9.5, Python 2.7.2.  But my laptop is a bit odd.  I do have access to some other more up-to-date OS X machines, will give it a try.

[2015-07-16 12:22] kdmurray91 commented on #1046
Curiouser and curiouser...

Our lab mac box just got re-built so I will try on that. It's running yosemite, whatever version that is (not a mac man, myself).

[2015-07-16 12:24] ctb commented on #1027
Not yet fixed - see comments in #1088.  The right-hand side needs to be checked properly.

[2015-07-16 12:26] ctb commented on #1146
What was the enlightenment? :)

[2015-07-16 12:28] ctb commented on #1143
I don't see anything relevant to this at lib/labelhash.hh line 112.  Is this referring to something in `check_and_allocate_label`? Looks like legit code to me.

[2015-07-16 13:08] kdmurray91 commented on #1027
PR to fix is #1173

[2015-07-16 17:48] bocajnotnef commented on #1146
wiki article on how bloom filters worked.

[2015-07-16 18:31] bocajnotnef commented on #1169
I believe it does--especially if we're getting in the habit of tossing `args` objects about to do information gathering/checking on them.

increases modularity of the scripts and would also probably make it easier to migrate to an oxli-like API.

[2015-07-16 18:33] bocajnotnef opened #1174 "Normalize-by-median makes .keep files for stuff it skips"
[code]

[2015-07-16 18:42] bocajnotnef commented on #1167
`load-into-counting` has a call to `check_space_for_hashtable` but not `check_space`--I left the hashtable call in.

[2015-07-16 18:48] luizirber commented on #1169
Explicit is better than implicit, we are using only three arguments from the `args`. Why not refactor the function to take these three arguments instead?

[2015-07-16 19:50] mr-c commented on #1169
+1 for never passing the args object around

On Thu, Jul 16, 2015 at 11:48 AM Luiz Irber <notifications@github.com>
wrote:

--
Michael R. Crusoe: Programmer & Bioinformatician crusoe@ucdavis.edu
The lab for Data Intensive Biology; University of California, Davis
https://impactstory.org/MichaelRCrusoe http://twitter.com/biocrusoe

[2015-07-16 20:09] mr-c commented on #1143
Yeah, the code shifted a bit; now line 105. I thought the same thing. Guess I'll mail the cppcheck people

[2015-07-16 20:34] ctb commented on #1169
On Thu, Jul 16, 2015 at 12:50:50PM -0700, Michael R. Crusoe wrote:

Mmmh, good general rule, but I support passing in 'args' for functions in
khmer_args.  Consider the future situation in which we want to make use of a
passed in # of k-mers and false positive rate!  But outside of khmer_args,
sure, let's not do it.

--titus

[2015-07-16 20:38] bocajnotnef commented on #1169
hm. and I just about finished refactoring everything to play nice without
having access to an args object. Oops.

So--throw `args` around inside of khmer_args (and bits of kfile, since
that's usually the portal to khmer_args)?

On Thu, Jul 16, 2015 at 4:34 PM C. Titus Brown <notifications@github.com>
wrote:

[2015-07-16 20:40] ctb commented on #1169
On Thu, Jul 16, 2015 at 01:38:52PM -0700, Jake Fenton wrote:

Well, throw it up in the PR and we'll see how it looks.

Dunno about kfile.

--t

[2015-07-16 23:02] bocajnotnef commented on #1174
this is evidently intended behaviour.

I broke a test.

[code]

[2015-07-16 23:02] #1174 closed

[2015-07-17 00:14] #1147 closed

[2015-07-18 01:21] bocajnotnef commented on #1013
+1 for having this formally documented

[2015-07-18 17:40] bocajnotnef commented on #1162
Ooh, this can go in #1170!

Well, it should go in there, anyway.

[2015-07-18 19:34] ctb commented on #97
moved ourselves to Davis to avoid ;)

[2015-07-18 19:34] #97 closed

[2015-07-18 19:34] ctb commented on #101
This is dealt with in a general way by https://peerj.com/preprints/890/.

[2015-07-18 19:34] #101 closed

[2015-07-18 19:37] ctb commented on #145
All good; no contributor form needed.

[2015-07-18 19:37] #145 closed

[2015-07-18 19:39] ctb commented on #169
Done in #978.

[2015-07-18 19:39] #169 closed

[2015-07-18 19:40] ctb commented on #194
@bocajnotnef status update? This is done, no?

[2015-07-18 19:41] ctb commented on #231
Could be done along with #144, which also involves updating extract-partitions.

[2015-07-18 19:48] ctb commented on #1141
Fixed by #1145.

[2015-07-18 19:48] #1141 closed

[2015-07-18 19:51] ctb opened #1179 "Deal appropriately with --unique-kmers argument"
The addition of `-U/--unique-kmers` should not have applied to *all scripts* (see https://github.com/dib-lab/khmer/pull/1126/files#diff-2ebccdb74ba5df72b22cff1bd70d9696R63) if it was going to be ignored by all of them!  We should either make it work for all scripts (which should be easy after #1050, no?) or move the parameter addition into the one bit of code that uses it on `oxli/functions.py`.

[2015-07-18 19:53] ctb commented on #1179
If we make it work for all scripts, this will fix #347.

[2015-07-18 19:54] ctb commented on #390
Fixed by #1126.

[2015-07-18 19:54] #390 closed

[2015-07-18 19:58] ctb commented on #1097
load-into-counting / report_total_kmers should be on by default.

[2015-07-18 20:00] ctb commented on #609
Fixed in #491.

[2015-07-18 20:00] #609 closed

[2015-07-18 20:03] ctb commented on #662
Fix: remove test_no_collision() from test_counting_single.py -- https://github.com/dib-lab/khmer/blob/master/tests/test_counting_single.py#L19

[2015-07-18 20:06] ctb commented on #733
I believe this is now done, after #759 and ensuing. Will double check before 2.0.

[2015-07-18 20:07] ctb commented on #760
This is fixed, no? Double-check for 2.0.

[2015-07-18 20:15] ctb commented on #907
Fixed by #1137.

[2015-07-18 20:15] #907 closed

[2015-07-18 20:17] ctb commented on #980
Confirm fix for 2.0; close.

[2015-07-18 20:18] ctb commented on #993
Moved into #1167.

[2015-07-18 20:18] #993 closed

[2015-07-18 20:19] ctb commented on #1009
Is this officially done @luizirber @mr-c? Is 2.6 support gone with 2.0?

[2015-07-18 20:20] ctb commented on #1014
Inspired #1036; discuss there.

[2015-07-18 20:20] #1014 closed

[2015-07-18 20:22] ctb commented on #1094
Fixed in #1050.

[2015-07-18 20:22] #1094 closed

[2015-07-18 20:23] ctb commented on #1084
Dup #1102.

[2015-07-18 20:23] #1084 closed

[2015-07-18 20:25] ctb commented on #1120
Will be fixed by #750 (see #1121).

[2015-07-18 21:08] bocajnotnef commented on #668
testing; case: can't write to `/home/root` (surprise)

[code]

[2015-07-18 21:10] bocajnotnef commented on #668
scenario: mounted SD card to `/home/root` as root--still don't have write permissions:

[code]

[2015-07-19 05:48] mr-c commented on #1009
We still claim Python 2.6 compatibility in the docs; however I don't think that is true anymore.

[2015-07-19 05:49] mr-c commented on #668
What is this `/home/root` business about?

[2015-07-19 14:28] bocajnotnef commented on #668
It didn't exist before the testing. I `mkdir`'d it--for some reason it
seemed like the most logical place? I switched to a directory in /tmp
later.

On Sat, Jul 18, 2015, 22:49 Michael R. Crusoe <notifications@github.com>
wrote:

[2015-07-19 14:33] ctb commented on #1097
What about readstats? Reminder.

[2015-07-19 14:35] ctb commented on #1097
Also note normalize-by-median report_fp change.

[2015-07-19 14:39] ctb commented on #668
So in any case this doesn't seem to have anything to do with the original error that @mr-c reported.

[2015-07-19 14:55] ctb commented on #1093
- [ ] tests needed for n_unique_kmers() in countgraph;
- [ ] _n_unique_kmers need to be added to save() and load() functions
- [ ] save() and load() functions should be unit tested a bit, too.

[2015-07-19 15:00] ctb commented on #1076
Fixed in #1139.

[2015-07-19 15:00] #1076 closed

[2015-07-19 15:05] ctb commented on #1123
"Fixed" by #1135.

[2015-07-19 15:05] #1123 closed

[2015-07-19 15:06] ctb commented on #1012
Added in #1031.

[2015-07-19 15:06] #1012 closed

[2015-07-19 15:08] ctb commented on #1009
Updated doc/user/install.rst in #1180.

[2015-07-19 15:16] ctb commented on #1179
Oh, and I found a reference to args.unique_kmers in scripts/normalize-by-median.py - this should be moved into khmer_args.py, and the warning message starting with `WARNING: You are loading a saved k-mer table from...` should be updated.

[2015-07-19 15:17] ctb commented on #1179
Note the argument optimization language should change to `counting table size will NOT be set automatically.` as per https://github.com/dib-lab/khmer/pull/1126/files#r34570761.

[2015-07-19 15:25] ctb commented on #980
Confirmed!

[2015-07-19 15:25] #980 closed

[2015-07-19 15:29] ctb commented on #733
Relevant to the following scripts, which should all handle broken-paired input properly:

- [ ] extract-paired-reads.py
- [ ] interleave-reads.py
- [ ] normalize-by-median.py
- [ ] sample-reads-randomly.py
- [ ] split-paired-reads.py
- [ ] trim-low-abund.py

[2015-07-19 15:30] ctb commented on #733
So it all looks good, with the caveat that split-paired-reads is still being modified in #847 to deal with orphaned reads.

[2015-07-19 15:30] #733 closed

[2015-07-19 15:31] ctb opened #1181 "Document broken-paired-reads behavior for 2.0"
See #733 for list of relevant scripts.

[2015-07-19 15:46] ctb commented on #820
Fixing for khmer in #1180.

[2015-07-19 16:07] ctb commented on #760
Fixed by dib-lab/screed#38; more discussion in #976.

[2015-07-19 16:07] #760 closed

[2015-07-19 16:19] bocajnotnef commented on #668
I was testing against the possibility that it was the lack of write permissions that caused the error.

[2015-07-19 18:47] Winterflower commented on #464
@SchwarzEM are you still working on this or can I pick it up?

[2015-07-19 18:51] SchwarzEM commented on #464
On Jul 19, 2015, at 2:47 PM, Camilla <notifications@github.com> wrote:

     By all means, please do pick it up!  Thanks.

--Erich

Erich Schwarz
Senior Research Associate
Cornell University
Department of Molecular Biology and Genetics
Biotechnology, Room 351
Ithaca, NY   14853-2703
Web: http://www.emstech.org
E-mail: ems394@cornell.edu
Phone: 626-394-7078

[2015-07-20 14:08] ctb commented on #504
Hah! This was fixed in #1010 and #1057 (or thereabouts). Adding test for it in #1180.

[2015-07-20 14:08] #504 closed

[2015-07-20 14:23] luizirber commented on #1035
I've started working on a minifloat implementation, based on the `half` float implementation from [openexr][1] (and exploring C++11, [unit testing][2] and [dependency management][3]).
Repo: http://github.com/luizirber/minifloat

[1]: https://github.com/openexr/openexr/blob/91015147e5a6a1914bcb16b12886aede9e1ed065/IlmBase/Half/half.h
[2]: https://github.com/philsquared/Catch
[3]: https://biicode.co

[2015-07-20 17:08] bocajnotnef commented on #668
So, have tried in ~, `/mnt/research/ged` and `/mnt/scratch/ged-testing/` and cannot reproduce the issue

That is, it's working.

I'm using `tests/test-data/test-large.fa` as my source.

[2015-07-20 17:50] mr-c commented on #668
Cool. Is this with the new fix for checking the free space in the target
directory instead of the current directory?

On Mon, Jul 20, 2015 at 10:08 AM Jake Fenton <notifications@github.com>
wrote:

--
Michael R. Crusoe: Programmer & Bioinformatician crusoe@ucdavis.edu
The lab for Data Intensive Biology; University of California, Davis
https://impactstory.org/MichaelRCrusoe http://twitter.com/biocr

[2015-07-20 17:52] bocajnotnef commented on #668
Actually no, I did all my testing off of master which doesn't have the fix implemented--That is, I was unable to reproduce the issue.

[2015-07-20 17:53] mr-c commented on #668
Can you reproduce using the the HPCC's version of khmer via `module load
khmer` ?

On Mon, Jul 20, 2015 at 10:52 AM Jake Fenton <notifications@github.com>
wrote:

--
Michael R. Crusoe: Programmer & Bioinformatician crusoe@ucdavis.edu
The lab for Data Intensive Biology; University of California, Davis
https://impactstory.org/MichaelRCrusoe http://twitter.com/biocrusoe

[2015-07-20 18:35] bocajnotnef commented on #668
Nope. Home, /mnt/research and /mnt/scratch all appear to be writable. (Which is interesting since `module load khmer` gives me khmer 1.3, which shouldn't have any schmancy fixes)

[2015-07-20 21:28] ACharbonneau commented on #1091
Can I just add to this list?
- [ ] scripts folder README refers me to non-existant file "See ../doc/scripts.txt for basic documentation."

[2015-07-20 21:33] bocajnotnef commented on #668
will be fixed by #1170

[2015-07-20 21:51] mr-c commented on #1091
Yes, thanks! Also happy to hear if any items on the above list no longer make any sense

[2015-07-20 23:20] bocajnotnef commented on #1179
I'll get this sorted once #1170 lands.

[2015-07-20 23:23] bocajnotnef commented on #994
@souravsingh Status on this?

[2015-07-20 23:23] bocajnotnef commented on #737
Ooh, doc writing. I can hammer this out.

[2015-07-21 00:08] mr-c opened #1185 "move docstrings from _khmer.cc to khmer/__init__.py"
Easier to write and will help pylint, pep257 and friends

[2015-07-21 06:59] souravsingh commented on #994
I have read the documentation.I don't know where should I start?

[2015-07-21 13:46] ctb commented on #994
Hi @souravsingh, how far have you gotten into the getting-started docs? Have you built khmer and succeeded in running the tests, and did they pass (i.e. not complain)?

[2015-07-21 22:57] ctb commented on #1166
Fixed in #1170.

[2015-07-21 22:57] #1166 closed

[2015-07-21 22:57] ctb commented on #1167
Fixed in #1170.

[2015-07-21 22:57] #1167 closed

[2015-07-21 22:59] ctb commented on #1179
#1170 has landed. ;)

[2015-07-21 22:59] ctb commented on #1169
Closing for now, with #1170. Maybe it will rear i's ugly head again later.

[2015-07-21 22:59] #1169 closed

[2015-07-21 23:15] bocajnotnef commented on #1179
Hooplah!

On Tue, Jul 21, 2015 at 6:59 PM C. Titus Brown <notifications@github.com>
wrote:

[2015-07-22 00:18] ctb opened #1188 "Standardize long form of -o to be consistent across scripts/"
We currently use --out and -output, variously.  I don't care which we use.

Note the use of --output-first, --output-dir, etc. Not sure we should do anything about that.

[2015-07-22 01:26] ctb opened #1189 "Make load-graph create the specified filename directly, without adding a .pt."

[2015-07-22 01:54] ctb commented on #1055
Fixing in #1186.

[2015-07-22 02:30] bocajnotnef opened #1190 "Document OS X Python bug and submit a minimal test case"
debugging led by @mr-c revealed the error plauging the OSX builder is in fact a python bug, solved by upgrading stock python (2.7.6) using python.org's 2.7.10

The problem appeared to be that the exception message was optimized out. We attempted to work around this by explicitly setting the exception text in read_parsers.cc instead of using the default constructor.

so, to do:

 - [x] install pyth

[2015-07-22 07:58] kdmurray91 commented on #1190
@bocajnotnef  [pythonz?](https://github.com/saghul/pythonz)

[2015-07-22 12:40] ctb commented on #393
Streaming fixes & tests in #1186; this will finish off most of the straightforward practical issues.

[2015-07-22 17:10] bocajnotnef commented on #1190
Ooh, I like.

@mr-c would that work for a jenkins environment?

[2015-07-22 17:22] mr-c commented on #1190
- [ ] split test into two: one that looks for the exception and the other that tests for the specific value exception message
- [ ] add a `@attr` to the second test to prevent running on OS X
- [ ] make a PR for the above while the rest of this issue is being investigated

[2015-07-22 17:47] bocajnotnef commented on #1190
Workaround  up in #1192

[2015-07-22 19:12] bocajnotnef commented on #1190
python.org python 2.7.7 also passes.

Whee

[2015-07-22 20:01] ljcohen commented on #998
I am working on this issue.

[2015-07-22 20:26] bocajnotnef commented on #1190
python.org python 2.7.6 passes

What version of python ships with OSX, you ask? Why, 2.7.6 of course!

[2015-07-22 23:16] mr-c commented on #1190
@kdmurray91 alas pythonz compiles new Python; we are interested in testing the various binary distributions of Python

Since python.org's Python doesn't have the issue I declare this to be a problem with Apple's customization.

A very enterprising person could:
- [ ] construct an irreducible test case and file a bug

[2015-07-22 23:22] mr-c commented on #1162
Closed in #1170

[2015-07-22 23:22] #1162 closed

[2015-07-23 00:47] mr-c commented on #1156
Huh, looks like you have a valid installation of khmer and that your virtualenv works.

Running `nosetests khmer --attr '!known_failing,!linux'` from any directory while the virtualenv is active should work (as long as there isn't a directory named 'khmer' inside that directory).

Here is the expected output:

[code]

[2015-07-23 18:16] bocajnotnef opened #1195 "Automatic file name hoopla"
So, with #747 coming along @ctb brought up an issue:

currently, we have no logic in place to automatigally add `.gz` or `.bz` to filenames in such things as normalize-by-median

If we're to add such handling, how would it deal with a `.keep` file from normalize? `data.keep.fq.gz` or `data.fq.keep.gz` or...?

In a similar theme, automagical output naming/compression based on input naming/compressi

[2015-07-23 18:24] ctb commented on #1195
thanks, @bocajnotnef.

My opinions:

* compression should be auto-detected on input and applied to output, unless
  specifically forced to be something (nada/gz/bz2);

* fasta/fa/fastq/fq should be moved to the end of output filenames, so
  'data.fq' => 'data.keep.fq', with whatever compression endings are
  appropriate;

Other issues:

* not sure what '-o' should automatically do - probably be un

[2015-07-24 13:23] ctb opened #1197 "create a single 'make' target that does most checks"
runs tests, runs pep8, etc. etc.

[2015-07-24 21:24] bocajnotnef commented on #1188
+1 for 'output'

I touch most of these files in #747 anyway--I could add it into that PR

[2015-07-24 21:25] bocajnotnef commented on #1189
Could also be done in #747

[2015-07-24 21:26] ctb commented on #1188
On Fri, Jul 24, 2015 at 02:24:31PM -0700, Jake Fenton wrote:

I would wait until #1186 and #1180 are merged; those are going to be somewhat
painful already for you in #747...

[2015-07-24 21:28] bocajnotnef commented on #1188
Mm, good point.

On 07/24/2015 05:26 PM, C. Titus Brown wrote:

[2015-07-24 21:34] ctb commented on #1189
+1

[2015-07-24 21:35] ctb commented on #1189
Note there will be a few docs and quite a few test changes :)

[2015-07-25 00:47] bocajnotnef commented on #790
`--quiet` appears to be an arg within `normalize-by-median`--It's part of the hasbits arg stuff; when run it eliminates warning / diagnostic output:

[code]

but keeps progression/status output:
[code]

Is this the desired behavior, or should --quiet entirely suppress output?

[2015-07-25 00:51] bocajnotnef commented on #973
Will assess post #747

[2015-07-25 14:24] ctb opened #1198 "Try out forgetful Bloom filters"
Via @camillescott:

http://dprg.cs.uiuc.edu/docs/fbf_cac15/fbfpaper-2.pdf

[2015-07-25 14:27] ctb commented on #973
On Fri, Jul 24, 2015 at 05:51:22PM -0700, Jake Fenton wrote:

It's tied to https://github.com/dib-lab/2014-streaming/, so I'd like to
take it.

[2015-07-25 14:30] ctb commented on #790
Interested in what @bede has to say, but my thought is all non-error output (including warnings) should be suppressed. Ideally this could be built on top of #1024 but I think adding a -q to all scripts sooner is a good idea, esp if we can do it before 2.0.

Suggested approach would be to provide 'debug', 'info', 'warning', and 'error' handles or functions and replace all current print() statements

[2015-07-25 16:45] bocajnotnef commented on #973
Alright.

On Sat, Jul 25, 2015, 07:27 C. Titus Brown <notifications@github.com> wrote:

[2015-07-25 16:47] bocajnotnef commented on #790
+1 to all, including standalone PR

On Sat, Jul 25, 2015, 07:30 C. Titus Brown <notifications@github.com> wrote:

[2015-07-27 14:51] ctb commented on #1198
One interesting random (that's not directly about FBF) is to adapt this idea/cascading bloom filters to solve pre-memory allocation problem. Briefly,

* create default (small) size BF/CMS;
* when it hits a particular FP (10%?), create another larger one, position that one after the first for lookups;
* chain up to max memory usage desired;
* when FP rate of largest possible one hits a particular t

[2015-07-27 16:31] bocajnotnef commented on #790
Would it be worth having `--quiet` and `--silence`, where quiet surpresses info/debug and silence surpresses all?

[2015-07-27 17:29] bocajnotnef opened #1199 "Add Oxli to all QA maketargets"
oxli is absent from the pep257 maketarget, and possibly others

[2015-07-27 17:35] bocajnotnef commented on #790
investigating https://docs.python.org/2/library/logging.html

[2015-07-27 17:36] ctb commented on #790
On Mon, Jul 27, 2015 at 10:35:03AM -0700, Jake Fenton wrote:

please? don't?

[2015-07-27 17:38] bocajnotnef commented on #790
Alright. Fallback plan is to check for `args.quiet` and redirect `sys.stderr` to `os.devnull`

[2015-07-27 17:40] bede commented on #790
I'm sorry for the delay... I'd suggest either `--quiet` or `--silent` but not both. I don't know enough about logging, but the stdlib logging module isn't exactly revered! Sounds good @bocajnotnef

[2015-07-27 18:44] bocajnotnef commented on #790
So:

info is for status/informational output--is surpressed by quiet, written to stderr

warning is for non-critical problems; normalize-by-median encountering bad files, etc., written to stderr, can be surpressed?

critical is for things that break the program, never suppressed?

debug is for informational output that can be useful in output, is written to stdout, not surpressed?

[2015-07-27 19:56] luizirber commented on #790
On Mon, Jul 27, 2015 at 1:36 PM, C. Titus Brown <notifications@github.com>
wrote:

Hmm, is rolling a new Logger interface any better than using the stdlib
logging stuff?

[2015-07-27 20:40] ctb commented on #790
On Mon, Jul 27, 2015 at 12:56:52PM -0700, Luiz Irber wrote:

Yep.  Especially if we keep it minimal and grow it only as we need it.

[2015-07-27 22:50] bocajnotnef commented on #737
Closing #737, resolved by #1184

[2015-07-27 22:50] #737 closed

[2015-07-27 23:05] mr-c commented on #1130
Fixed in #1180

[2015-07-27 23:05] #1130 closed

[2015-07-27 23:05] mr-c commented on #1009
Fixed in #1180

[2015-07-27 23:05] #1009 closed

[2015-07-27 23:05] mr-c commented on #820
Done.

[2015-07-27 23:05] #820 closed

[2015-07-27 23:06] mr-c commented on #274
Done in #1180

[2015-07-27 23:06] #274 closed

[2015-07-27 23:42] mr-c commented on #1024
http://netlogger.lbl.gov/software might be good

[2015-07-28 14:37] camillescott commented on #1024
I just checked out netlogger, it looks quite bloated / poorly documented / confusing. After considerably more googling than I expected this to require, I came across an old but dead simple library that seems to do what we need. The one line description:

ie, *exactly* what we need. That there are so few solutions for this use-case is actually rather startling, and the general advice is "wrap a C++

[2015-07-28 15:04] ctb opened #1201 "Some missing files shouldn't be --force -able"
`abundance-dist.py` says:

[code]

umm, no, it really can't :). @bocajnotnef can you take a look?

[2015-07-28 15:23] bocajnotnef commented on #1201
Sure. Though it could be useful if we later discover a bug in our
check--like the directory free space check in cwd.

On Tue, Jul 28, 2015, 08:04 C. Titus Brown <notifications@github.com> wrote:

[2015-07-28 16:11] ctb commented on #1201
On Tue, Jul 28, 2015 at 08:23:14AM -0700, Jake Fenton wrote:

*that particular* input file *must exist* and cannot be forced.  There will
simply be an error later on if it's not available.

[2015-07-28 16:59] bocajnotnef commented on #1201
Fix in #1202

[2015-07-28 17:37] mr-c commented on #890
@bocajnotnef have at it!

[2015-07-28 18:18] mr-c commented on #1201
I thought we added the `--force` option to allow for the situation when our code screwed up and the file was really there?

[2015-07-28 18:23] ctb commented on #1201
On Tue, Jul 28, 2015 at 11:18:51AM -0700, Michael R. Crusoe wrote:

Well, it's a good question...  I've never run into that situation; for me, the
--force option is good for size checks (file size is perceived as 0 b/c of
weird file type, or file system too full) or whatnot.  But I have yet to
see a situation where 'necessary file does not exist' is survivable, IIRC.

[2015-07-28 23:11] bocajnotnef commented on #1181
Would this just go in `whats-new-2.0`?

[2015-07-28 23:31] mr-c commented on #1024
+1 to cx-logging

[2015-07-28 23:31] mr-c commented on #1024
Also, that's a standard 3 clause BSD license, same as us.

[2015-07-29 00:02] luizirber commented on #1024
Seems to be updated here: https://bitbucket.org/anthony_tuininga/cx_logging/

On Tue, Jul 28, 2015 at 7:31 PM, Michael R. Crusoe <notifications@github.com

[2015-07-29 00:08] mr-c commented on #1120
Done

[2015-07-29 00:08] #1120 closed

[2015-07-29 00:36] #700 closed

[2015-07-29 00:36] #1055 closed

[2015-07-29 12:58] ctb commented on #1024
-1 on doing anything more about an external logging package before 2.0,
y'all. Let's get this release out.

[2015-07-29 13:01] ctb commented on #1181
Yep. But leave it for now; changes yet to come... (split-paired-reads #1164 changes)

[2015-07-29 13:34] ctb opened #1205 "Streaming I/O in khmer, looking forward from 2.0"
An update of #700 --

As of 2.0, we now support streaming I/O of uncompressed data via stdin/stdout (see #1055 for the list of scripts).

Issues that remain to be tested and clarified going forward from 2.0:

- [ ] how and when do we support gzip/bzip streamed output (ref #747, which adds flags for output)?
- [ ] what kinds of compression can we support on input? (this may be limited; see discussi

[2015-07-29 13:51] ctb opened #1206 "Stream all the things - streaming algorithms in khmer"
An update of #393 --

As of khmer 2.0, we support streaming I/O at the command line level, for many scripts (see #1205). w00t!

Also, with the introduction of `trim-low-abund.py`, two of our basic algorithms have a streaming or semi-streaming implementation (also see PeerJ preprint, https://peerj.com/preprints/890/) - diginorm and k-mer abundance trimming.  Error correction is also easy to impleme

[2015-07-29 13:52] #393 closed

[2015-07-29 20:13] ctb commented on #1188
Note, we may want to consider reserving -o as *always* meaning --output or whatever (so change --output-dir to be -d or something).

[2015-07-29 20:15] ctb commented on #1179
ping @bocajnotnef

[2015-07-29 20:17] bocajnotnef commented on #1179
Yup, this is up next after I finish current stuff.

On Wed, Jul 29, 2015 at 4:15 PM C. Titus Brown <notifications@github.com>
wrote:

[2015-07-29 20:31] ctb commented on #975
Resolution from talking with @mr-c: will probably add a JSON output flag, as per `load-into-counting`. Punting to 2.0+.

[2015-07-29 20:33] ctb commented on #974
See #975.

[2015-07-29 20:33] ctb commented on #372
@mr-c to formalize in documentation.

[2015-07-29 20:36] ctb opened #1210 "Update copyright headers for 2.0 release."
Most core khmer files will now be mixed MSU / UC Regents; should also consider what constitutes significant contribution for copyright purposes.

[2015-07-29 20:46] ctb commented on #1179
Ping wrt #1117.

[2015-07-29 20:49] ctb commented on #1195
Helps to fix problems related to #81, inconsistent and incomplete output file naming.

[2015-07-29 20:50] ctb commented on #1195
Note: this issue should *not* be planned for 2.0 as per conversation with @mr-c. In particular, I would like to make sure that the protocols make sense with whatever automatic file naming we do.

[2015-07-29 20:53] ctb commented on #732
We will revisit this and post new issues after the 2.0 release!

[2015-07-29 21:47] bocajnotnef commented on #1117
Should I go ahead and add this into all scripts that create a hashtable? And if so, what FP should I use for them?

[2015-07-29 22:54] ctb commented on #1117
On Wed, Jul 29, 2015 at 02:47:40PM -0700, Jake Fenton wrote:

For now, go with a default FP rate of 0.15 at max, but provide a way to
override it in the function call.

Please change only 1-2 scripts, then let's take a look before doing any more...

[2015-07-29 23:13] bocajnotnef commented on #1117
Currently, this is implemented in build/load-graph and normalize, so we have 1-2.

[2015-07-29 23:23] ctb commented on #1117
Where? In #1179?

[2015-07-29 23:24] ctb commented on #1117
Where? In what pull request?

[2015-07-29 23:27] ctb commented on #1205
This may be of interest to @bocajnotnef.

[2015-07-29 23:34] bocajnotnef commented on #1117
https://github.com/dib-lab/khmer/pull/1126

[2015-07-29 23:37] mr-c commented on #1032
@ctb What's the decision?

[2015-07-29 23:37] bocajnotnef commented on #1205
proof of concept test for streaming gzip and bzip'd data out of (and I think into) fastq-to-fasta in #747, so in theory once we make sure all the relevant scripts can handle compression we should be good to go. This is to say, there aren't any (forseen) major roadblocks to streaming compression *out*

I'm slightly less willing to speculate on input, but that shouldn't be too difficult to test, the

[2015-07-29 23:39] ctb commented on #1032
On Wed, Jul 29, 2015 at 04:37:26PM -0700, Michael R. Crusoe wrote:

GraphLabels.

[2015-07-30 14:13] ctb opened #1211 "Document reserved/standard command line options in dev docs"
I'm thinking -x, -N, -M, -U, -k, and maybe -q deserve to always mean the same thing on any script.

[2015-07-30 14:39] ctb commented on #1117
OK, well, let's start a new pull request :).  Here are a few requested changes:

* change `do_sanity_checking` name to `check_fp_rate`
* should this function only be called if -U is set? For now, I think so...
* change `oxutils` shortname to `oxfuncs`, since it's `oxli.functions' you're importing.
* get rid of "optimization" language in comments - it's automatic argument picking, not optimization

[2015-07-30 17:37] mr-c commented on #1211
+1

[2015-07-30 17:42] mr-c commented on #1190
The test case at https://github.com/dib-lab/khmer/commit/34502900472a009754fa1921b9afae68a5b52a2f#diff-0e869b7a17ce1f9ac85bc00b330c804fR327 triggers the bug

[2015-07-30 17:45] mr-c commented on #1156
@ACharbonneau Would you like to debug this interactively over Google Hangouts some time?

[2015-07-30 17:59] mr-c commented on #1152
Thank you @bmpvieira for your report. Using a newer version of setuptools and pip fixed the problem. The upcoming 2.0 release of khmer will not have this issue.

[2015-07-30 18:02] bocajnotnef commented on #1117
The desired_fp rate varies from script to script, which is why we currently call it on a script-by-script basis--that said, it shouldn't be too hard to pass that along to create_countgraph.

[2015-07-30 18:02] mr-c commented on #1146
@bocajnotnef  Is this still an issue?

[2015-07-30 18:03] ACharbonneau commented on #1156
That would be great if you have the time @mr-c. Otherwise I was going to see if I could get @ctb to look at it during NGS. I can make time anytime next week except Monday from 4-6 and Tuesday 3-5 (EST)

[2015-07-30 18:03] #1142 closed

[2015-07-30 18:04] mr-c commented on #1140
What's the status of this issue?

[2015-07-30 18:05] bocajnotnef commented on #1146
Unsure--Need to do further investigating.

On Thu, Jul 30, 2015 at 2:02 PM Michael R. Crusoe <notifications@github.com>
wrote:

[2015-07-30 18:05] mr-c commented on #1119
@ctb Is this still a problem?

[2015-07-30 18:07] mr-c commented on #1115
:100:

[2015-07-30 18:08] mr-c commented on #1114
A generator would be tough as you don't know the best path until the end. Would require a bit of new plumbing as 'not-best' paths are discarded as we go.

[2015-07-30 18:09] mr-c commented on #1109
This is fixed

[2015-07-30 18:09] #1109 closed

[2015-07-30 18:09] mr-c commented on #1107
This is fixed

[2015-07-30 18:09] #1107 closed

[2015-07-30 18:10] mr-c commented on #1105
@qingpeng does https://github.com/dib-lab/khmer/issues/1105#issuecomment-113696030 work for you?

[2015-07-30 18:12] mr-c commented on #1103
@ctb is this needed now that we've started to drop auto file extension adding for our file types?

[2015-07-30 18:13] mr-c commented on #1099
Ping @luizirber  :-)

[2015-07-30 18:19] ctb commented on #1103
I think it becomes an issue only for documentation.

--
Titus Brown, ctbrown@ucdavis.edu

[2015-07-30 18:19] mr-c commented on #1060
Here are the specifics I was able to extract from that article

- [ ] specify the project’s mission
- [ ] link to openhatch.org listing & update it
- [ ] demonstrate that we value non-code contributions

[2015-07-30 18:20] mr-c commented on #1152
That is to say, when I create the wheel using a newer version of setuptools and pip the wheel did not embed the local path. 'Twas not your error!

[2015-07-30 18:20] mr-c commented on #1152
- [ ] make wheel Py2/Py3 universal via `setup.cfg`
[code]

[2015-07-30 18:23] mr-c commented on #1046
See #1190 for an explanation. Fixed via workaround

[2015-07-30 18:23] #1046 closed

[2015-07-30 18:25] bocajnotnef opened #1213 "Compression for working file in trim-low-abund?"
We set aside stuff in a file, then go back to that file, pull things from it and then write to output. Currently, the aside_file isn't compressed--Should it be?

[2015-07-30 18:27] mr-c commented on #1030
@kdmurray91 and I have talked about a partial step towards this: making `liboxli` (also known as khmer's lib/*.{cc,hh}) be just another library that the CPython code is linked against. It would give us more flexibility in modifying the build and avoid many of the setuptools weirdness that we have to work around (compiling C++ code with gcc instead of g++ for example).

[2015-07-30 18:27] mr-c commented on #1029
Ping @kdmurray91  :-)

[2015-07-30 18:28] mr-c commented on #1027
Given that #1173 has been merged is this still an issue?

[2015-07-30 18:30] mr-c commented on #1016
I think this is done, yes @kdmurray91 ?

[2015-07-30 18:40] luizirber commented on #1099
I couldn't reproduce them yet, I'll try it on OSX when I get access to it...

On Thu, Jul 30, 2015 at 2:13 PM, Michael R. Crusoe <notifications@github.com

[2015-07-30 19:25] luizirber commented on #689
I'm maintaining the exact cardinality counting with sparsehash implementation at https://github.com/luizirber/2014-hll-counter/blob/b11fb3f536ab654021bb8ce914fa07a9404b3b3e/src/unique_kmers.cc
(there is also a very crude Makefile for compiling it using libkhmer.a)

[2015-07-30 22:03] mr-c commented on #1011
@ctb Is this done?

[2015-07-30 22:06] mr-c commented on #1213
Ping @ctb

[2015-07-30 22:12] mr-c commented on #904
Done in #1180

[2015-07-30 22:12] #904 closed

[2015-07-30 22:14] mr-c commented on #884
- [ ] add to known issues list and close

[2015-07-30 22:19] mr-c commented on #853
@ctb ping? :-)

[2015-07-30 22:19] mr-c commented on #841
@SherineAwad Is this still an issue?

[2015-07-30 22:20] mr-c commented on #833
@luizirber status?

[2015-07-30 22:21] mr-c commented on #832
See also #1185 for reasons to not have docstrings in CPython land

[2015-07-30 22:27] mr-c commented on #1099
Do you want an account on the Dev Imac?

On Thu, Jul 30, 2015 at 11:40 AM Luiz Irber <notifications@github.com>
wrote:

--
Michael R. Crusoe: Programmer & Bioinformatician crusoe@ucdavis.edu
The lab for Data Intensive Biology; University of California, Davis
https://impactstory.org/MichaelRCrusoe http://twitter.com/biocrusoe

[2015-07-30 22:30] mr-c commented on #777
Fixed in #945

[2015-07-30 22:30] #777 closed

[2015-07-30 22:32] #755 closed

[2015-07-30 22:33] mr-c commented on #743
@ctb https://github.com/dib-lab/khmer/issues/743#issuecomment-76225989 is relevant to our meeting today

[2015-07-30 22:39] mr-c commented on #722
This is no longer a problem (though pip won't run correctly if the virtualenv has a space in the path)

[2015-07-30 22:39] #722 closed

[2015-07-30 22:40] mr-c commented on #668
Fixed in #1170

[2015-07-30 22:40] #668 closed

[2015-07-30 22:45] mr-c commented on #657
Fixed in #814

[2015-07-30 22:45] #657 closed

[2015-07-30 22:46] mr-c commented on #627
These code fences are no more; closing

[2015-07-30 22:46] #627 closed

[2015-07-30 22:50] mr-c commented on #1156
7PM EST on Monday or 6PM EST on Tuesday works for me

[2015-07-31 00:55] kdmurray91 commented on #1016
Ah, the original bug was fixed, but comprehensive tests never got made. But i think that is in another issue, so this is done. Closing

[2015-07-31 00:55] #1016 closed

[2015-07-31 00:56] kdmurray91 commented on #1029
Ahh, forgot about this. Is anyone going to mind if this is a post-2.0 issue?

[2015-07-31 00:58] kdmurray91 commented on #1140
This should be fixed by #1173, is that true @standage (your comment above suggests it is true)

[2015-07-31 01:02] mr-c commented on #1016
Thanks!

On Thu, Jul 30, 2015 at 5:55 PM Kevin Murray <notifications@github.com>
wrote:

--
Michael R. Crusoe: Programmer & Bioinformatician crusoe@ucdavis.edu
The lab for Data Intensive Biology; University of California, Davis
https://impactstory.org/MichaelRCrusoe http://twitter.com/biocrusoe

[2015-07-31 01:02] mr-c commented on #1029
Already tagged post-2.0 :-)

[2015-07-31 06:34] kdmurray91 commented on #885
Another checklist!

- [ ] @mr-c  to force-push to master from `big-rebase`. on git.debian.org
- [ ] import 2.0rc2 tarball (and `push --all` / `push --tags` :smile:)
- [ ]  pop all the lintian warnings
- [ ]

[2015-07-31 13:17] ACharbonneau commented on #1156
Monday at 7 then.

[2015-07-31 13:33] ctb commented on #1011
Fixed in #1180.

[2015-07-31 13:33] #1011 closed

[2015-07-31 13:35] ctb commented on #1097
Partial dup of #1011, which is now closed.

[2015-07-31 13:36] ctb commented on #1213
This issue originated in https://github.com/dib-lab/khmer/pull/747#issuecomment-126424173 - it's a "punt to issue".

[2015-07-31 13:57] ctb commented on #689
#1198 may also be a way to implement dynamic memory allocation (see comment above, https://github.com/dib-lab/khmer/issues/689#issuecomment-105630754)

[2015-07-31 14:04] ctb opened #1215 "Dynamic scaling of core data structures"
The default NodeGraph/CountGraph code requires preallocation of a fixed amount of memory, which cannot then be increased later.  People don't like this - it's a UX issue that causes a lot of confusion.

As of 2.0, we have both the `--max-memory-usage` and `--unique-kmer command line options in all scripts, which means at least its down to a single parameter setting that makes sense to intermediate

[2015-07-31 14:08] ctb opened #1216 "Meta issue for user experience upgrades in 2.0+"
This is an update and a rewrite of #732, user experience upgrade discussion (pre-2.0) - this issue is for 2.0+.  Please discuss additions to this list in the comments; item-specific thoughts go in the item-specific issues.

1. Better automatic filename naming/filename defaults. Tracked & discussed in #81.

2. Dynamic scaling of core data structures. Tracked and discussed in #1215.

3. Enable k > 3

[2015-07-31 14:08] ctb commented on #732
UX issues ported to #1216.

[2015-07-31 14:08] #732 closed

[2015-07-31 14:28] ctb commented on #1027
Testing against @standage examples, it's fixed by #1173.

[2015-07-31 14:28] #1027 closed

[2015-07-31 14:29] ctb commented on #1114
On Thu, Jul 30, 2015 at 11:08:17AM -0700, Michael R. Crusoe wrote:

Random thought - what if we *started* with the best path and looked for
next-worst path?

[2015-07-31 14:30] ctb commented on #1119
Yeppers.

[code]

[2015-07-31 14:46] mr-c commented on #1114
As in: do the alignment, record the best path; redo the alignment and stop
just prior to that outcome?

On Fri, Jul 31, 2015 at 7:29 AM C. Titus Brown <notifications@github.com>
wrote:

--
Michael R. Crusoe: Programmer & Bioinformatician crusoe@ucdavis.edu
The lab for Data Intensive Biology; University of California, Davis
https://impactstory.org/MichaelRCrusoe http://twitter.com/biocrusoe

[2015-07-31 14:47] ctb commented on #1114
On Fri, Jul 31, 2015 at 07:46:20AM -0700, Michael R. Crusoe wrote:

That's one way - I was thinking that if we started with best path, we
might be able to find close but not as good paths easily.  But ... maybe
not.

[2015-07-31 18:01] bocajnotnef opened #1217 "Bz2file as a requirement for khmer (and screed)"
https://github.com/dib-lab/khmer/pull/747#discussion_r35978071

Actually curious on why we don't use the python bz2 library
https://docs.python.org/2/library/bz2.html

[2015-07-31 18:25] mr-c commented on #1217
bz2 doesn't support streaming in Python2

[2015-08-01 13:35] ctb commented on #450
Here's a list of things that would need to be done to move multi-rename.py into `scripts/`, as per http://khmer.readthedocs.org/en/latest/dev/scripts-and-sandbox.html -- there may be more, this is from a first pass.

- [ ] start using argparse for argument parsing;
- [ ] add a get_parser function for automatic documentation extraction;
- [ ] add script to doc/user/scripts.txt;
- [ ] add --version,

[2015-08-01 16:23] ctb commented on #1188
Update: I've changed the short form of `--output-dir` to `-d` in #1164, for both interleave-reads and split-paired-reads.

[2015-08-02 17:19] SherineAwad commented on #450
@CTB thanks and no problem at all. I will make a new PR for moving multi-rename.py to scripts.

[2015-08-03 17:56] bocajnotnef commented on #1199
Fix in #1218

[2015-08-03 17:59] bocajnotnef commented on #505
Added in #747, closing #505

[2015-08-03 17:59] #505 closed

[2015-08-03 17:59] bocajnotnef commented on #1189
Fixed in #747, closing #1189

[2015-08-03 17:59] #1189 closed

[2015-08-03 18:44] bocajnotnef commented on #1110
This does not appear to still be an issue, according to the multipy builder.

Ran the test locally under python 3.4.3 and it went through just fine.

[2015-08-03 22:35] bocajnotnef opened #1219 "Tracking pylint errors in tests/*"
It seems silly that we'd track pylint errors within the testing code--I think pep8 takes care of our formatting needs in that area, and running pylint checks on `tests/*` is just giving us literally thousands of errors that we aren't reacting to anyway.

I vote we disable CI tracking/make diff_pylint_report'ing in tests/* for sanity purposes and focus on removing pylint stuff from the scripts, etc

[2015-08-03 22:35] bocajnotnef commented on #1219
ref #1178

[2015-08-03 23:02] bocajnotnef commented on #662
Fix in #1220

[2015-08-03 23:14] mr-c opened #1221 "add '!linux,!huge' to user install docs"

[2015-08-03 23:45] ACharbonneau commented on #1156
nosetests tests --attr '!known_failing, !huge, !linux'

#fixed

[2015-08-03 23:45] #1156 closed

[2015-08-04 13:02] ctb opened #1223 "Verify that khmer-recipes still work with latest 2.0 changes"
This is for @ctb to do, once the code base has settled down a bit.

[2015-08-04 13:04] ctb opened #1224 "Can scripts --help display helpful developer information?"
I think it would be nice if we could use --help to point people at date of release and github location for core script logic.  This could be particularly useful if and when we oxlify the scripts, at which point the core script logic will not be in a tremendously obvious place.

[2015-08-04 14:03] ctb opened #1225 "Write a utility function for copying test data into a temp directory"
This is a common code pattern in our test code:

    infile = utils.get_temp_filename('test.fq')
    shutil.copyfile(utils.get_test_data('paired-mixed-2.fq'), infile)

We could make this a one-liner quite easily...

Suggested approach:

* write a function in khmer_tst_utils called `copy_test_data(testfile)`.
* refactor into some tests.
* ask for review.

[2015-08-04 14:06] ctb opened #1226 "Create a new test file 'test_read_handling.py`"
`test_scripts` is getting pretty large and unwieldy; might be time to take all of the tests for interleave-reads, split-paired-reads, and extract-paired-reads and put them in a new file.

[2015-08-04 20:57] bocajnotnef commented on #1199
Closing #1199

[2015-08-04 20:57] #1199 closed

[2015-08-04 21:02] #1110 closed

[2015-08-04 21:05] ctb commented on #1063
For me to do for 2.0 release; see also #853.

[2015-08-04 21:11] bocajnotnef commented on #662
Closing #662

[2015-08-04 21:11] #662 closed

[2015-08-04 23:06] bocajnotnef commented on #1061
The page doesn't say anything about python3

(I don't know if we care, just thought I'd point it out)

[2015-08-04 23:09] bocajnotnef commented on #890
Closing #890

[2015-08-04 23:09] #890 closed

[2015-08-05 14:12] ctb opened #1227 "Update installation instructions for people without root"
http://khmer.readthedocs.org/en/latest/user/install.html

in particular, we should point out that HPC/shared server users may be able to use virtualenv to install things.

[2015-08-05 16:49] ctb commented on #1188
In-meeting decision: `-o/--output`. Fixing globally (for scripts/ at least) in #1164.

[2015-08-05 16:59] ctb commented on #847
Closed by #1164.

[2015-08-05 16:59] #847 closed

[2015-08-05 17:00] ctb commented on #1097
What wasn't fixed in #1180 is fixed in #1164.

[2015-08-05 17:00] #1097 closed

[2015-08-05 17:00] ctb commented on #1188
Fixed in #1164.

[2015-08-05 17:00] #1188 closed

[2015-08-06 13:46] ctb commented on #27
Also relevant: #60, k > 32, being implemented in #624.

[2015-08-06 13:54] ctb opened #1229 "Graph traversal upgrades"
Eloquent appeal lifted from top of #1080 by @camillescott:

"[I looked at] some graph traversal stuff, which I was immediately reminded is ridiculously rage-inducing for even the simplest tasks in the current implementation. This is a WIP for ripping out all that repeated code and producing a more maintainable and generalizable set of traversal functions; given that "...& graph traversal FTW" is t

[2015-08-06 13:55] ctb opened #1230 "Meta issue for technical upgrades in 2.0+"
This is a meta issue for technical upgrades/enhancements to khmer in the 2.0+ series. Please discuss additions to this list in the comments; item-specific thoughts go in the item-specific issues.  (There is some overlap with the items in #1216, user experience.)

Note: please don't put awesome new science upgrades here.  That goes elsewhere :).

1. Dynamic scaling of core data structures. Tracked

[2015-08-06 17:36] mr-c commented on #1032
Done in #1209

[2015-08-07 17:02] ctb opened #1232 "Can we remove -x and -N options from -h and doc/user/scripts.txt output?"
With the new -M and -U we don't need them any more and I think we would prefer they be hidden.

ping @mr-c

[2015-08-07 17:10] ctb commented on #1232
Yes - http://stackoverflow.com/questions/11114589/creating-hidden-arguments-with-python-argparse

@mr-c can I add this to #1214?

[2015-08-07 17:26] #1179 closed

[2015-08-07 17:26] ctb commented on #1117
Fixed in #1214.

[2015-08-07 17:26] #1117 closed

[2015-08-07 17:27] ctb commented on #1146
Addressed in #1214.

[2015-08-07 17:27] #1146 closed

[2015-08-07 19:12] #872 closed

[2015-08-07 19:42] mr-c commented on #1232
+1 for hiding

We also need to update `whats-new.rst` due to #1214

[2015-08-07 20:33] mr-c commented on #1128
I did a manual releasetest on OS X using python.org's 3.3 and 3.4 release and all was well

[2015-08-07 20:33] mr-c commented on #1112
fixed in #1209

[2015-08-07 20:33] #1112 closed

[2015-08-07 20:33] #1032 closed

[2015-08-07 20:35] mr-c commented on #1128
remaining code changes
- [ ] Remove get_kadian_count functionality. #1034
- [ ] Verify that n_occupied etc. numbers are correct and saved in both countgraph & nodegraph #1093
- [ ] Save _n_occupied and _n_unique_kmers in Hashtable descendants... maybe? #1194

Rest are documentation only

[2015-08-07 23:08] mr-c commented on #1061
@bocajnotnef python3 will be listed when v2.0 is released: https://github.com/dib-lab/khmer/blob/master/setup.py#L155

[2015-08-07 23:17] mr-c commented on #1063
Done in #1222

[2015-08-07 23:22] mr-c commented on #598
Fixed in #1222

[2015-08-07 23:39] mr-c commented on #610
Fixed in #1222

[2015-08-08 01:14] ctb opened #1233 "Rename Hashbits and CountingHash at C++ level"
The C++ version of #1209, for post 2.0

[2015-08-08 04:16] ctb commented on #1128
- [ ] update whats-new with fixed bug from #1194 / 15651da, in which number of unique k-mers reported had been systematically underestimated by CountingHash/Countgraph (so, e.g. load-into-counting unique k-mers reported was generally significantly underestimated)