[2015-08-08 14:44] ctb opened #1234 "Suppress n_tables/tablesize information in report_on_config"
With our switch to -U/-M options in 2.0, we are now giving too much confusing info by default on graph creation.  Suggest suppressing this info unless '--verbose' is specified.

#790/`--quiet` is relevant.

[2015-08-08 14:47] ctb commented on #1232
See also #399 for `--force` and `--expert` flag settings.

[2015-08-08 14:48] ctb commented on #1232
I'm actually +/- 0 on this, since it turns out the official argparse way to do this is to replace the help message with argparse.SUPPRESS - so now there's no user-accessible docs on what -x and -N do.  That's probably OK for 2.0 but down the road I'd like to add something where advanced users can ask for all possible args, and get sensible help on them... will require argparse hacking tho.

[2015-08-08 23:13] ctb commented on #1223
Done in https://github.com/dib-lab/khmer-recipes/commit/2795a7fcbb16b52b6fd0b9bc91aab2ce1c892644 - just the change to CSV output in abundance-dist.py affected the recipes.

[2015-08-08 23:13] #1223 closed

[2015-08-09 20:52] bocajnotnef commented on #1219
Appears this is already in #326, closing

[2015-08-09 20:52] #1219 closed

[2015-08-09 20:53] bocajnotnef commented on #326
+1 for disabling much of these warnings

[2015-08-09 23:41] #1093 closed

[2015-08-10 17:38] bocajnotnef commented on #1224
Why wouldn't we have this in the docs? --help seems like it should be used for userspace stuff.

[2015-08-10 18:03] bocajnotnef commented on #144
I can take this on if extract-partitions still needs a refactor.

[2015-08-10 18:27] bocajnotnef commented on #1226
I'll handle this.

[2015-08-10 21:21] luizirber opened #1239 "unique-kmers: option to stream out sequences"
`--stream-out` option was [added][1] on #1053. It is somewhat clear, but not so concise.

Other scripts use `-o -`, but in `unique-kmers` context it doesn't sound right, because the output of the script is the # of unique kmers (and it is covered by `-R outfile`).

Should we stick with it for future scripts, or do we need a better short/long option combination?

@ctb

[1]: https://github.com/dib-l

[2015-08-11 15:23] ctb commented on #144
On Mon, Aug 10, 2015 at 11:03:57AM -0700, Jake Fenton wrote:

please!

[2015-08-11 19:24] mr-c commented on #1232
Bumping to 2.0+

[2015-08-11 20:21] bocajnotnef opened #1242 "Dead link in docs"
http://angus.ged.msu.edu.s3.amazonaws.com/88m-reads.fa.gz from https://github.com/dib-lab/khmer/blob/master/doc/user/blog-posts.rst is dead.

ping @ctb

[2015-08-11 21:56] mr-c commented on #997
Fixed in #1231

[2015-08-11 21:56] #997 closed

[2015-08-11 22:14] mr-c commented on #614
Fixed in #1222

[2015-08-11 22:17] mr-c commented on #620
Fixed in #1222

[2015-08-11 22:20] mr-c commented on #1013
Fixed in #1222

[2015-08-11 22:20] mr-c commented on #660
Fixed in #1222

[2015-08-11 22:23] mr-c commented on #719
Fixed in #1222

[2015-08-11 22:25] mr-c commented on #884
documented in #1222

[2015-08-11 22:35] mr-c commented on #1007
Fixed in #1222

[2015-08-11 22:35] mr-c commented on #1034
Fixed in #1194

[2015-08-11 22:35] #1034 closed

[2015-08-11 22:35] mr-c commented on #1181
@ctb  ping

[2015-08-12 01:02] mr-c commented on #1128
- [ ] wait for DOI from F1000?

[2015-08-12 01:27] mr-c commented on #1128
- [ ] update file magic

[2015-08-12 17:27] bocajnotnef opened #1243 "Add example test to "quick guide to testing" docs"
perhaps with a short breakdown of how the rest works; assert, runscript, tempdirs etc.

[2015-08-12 17:29] bocajnotnef commented on #1221
wil be fixed by #1241

[2015-08-12 20:10] mr-c opened #1244 "streamline author management"
- [ ] export existing database of author info to a structured text file
  - [ ] fields for first and last name parts, ORCID, affiliation, public email address
- [ ] add instructions on how to add oneself to that file
- [ ] write scripts that output/update author list
- [ ] add authorship update to the checklist
- [ ] adapt existing Makefile targets to audit the above (with list of opt-outs)

Mega

[2015-08-12 20:10] mr-c commented on #1244
@mr-c has a spreadsheet that has current author information

[2015-08-12 20:36] #1063 closed

[2015-08-12 20:36] #598 closed

[2015-08-12 20:37] #610 closed

[2015-08-12 20:37] #614 closed

[2015-08-12 20:37] #620 closed

[2015-08-12 20:37] #1013 closed

[2015-08-12 20:37] #660 closed

[2015-08-12 20:37] #719 closed

[2015-08-12 20:37] #1007 closed

[2015-08-12 20:55] bocajnotnef opened #1246 "Make Jenkins auto-retest on "could not check out" failure"
the "could not check out" failure happens annoyingly often and is resolved by asking jenkins to "retest this please"

Would be great if it kicked itself into a retest

[code]

[2015-08-12 21:46] bocajnotnef commented on #1229
@camillescott Is this resolved?

[2015-08-12 21:55] camillescott commented on #1229
Only partially.
On Aug 12, 2015 2:46 PM, "Jake Fenton" <notifications@github.com> wrote:

[2015-08-13 02:27] ljcohen opened #1248 "test_load_graph_multithread() in test_scripts.py finds different unique k-mers"
Working on https://github.com/dib-lab/khmer/issues/998, using this command:

default args:

(ran ~ 20 x) displayed 4 different unique k-mers in stdout:

When change args to -T 1,only one unique k-mer (ran ~20x):

OS info:

[2015-08-13 12:10] ctb commented on #1224
On Mon, Aug 10, 2015 at 10:38:39AM -0700, Jake Fenton wrote:

I have the only slightly subversive goal of enabling people to quickly
and easily find the code behind the script they're running.

[2015-08-13 13:28] ctb commented on #27
The cityhash library (https://code.google.com/p/cityhash/) might be worth looking at.

[2015-08-13 14:40] ctb opened #1249 "Determine system memory automatically and offer suggestions?"
I noticed that MEGAHIT (https://github.com/voutcn/megahit) has the following output --

[code]

I'm not sure we want to do this - it seems potentially problematic for HPC & queuing environments! - but would be nice to provide it as an option, maybe.

[2015-08-13 14:55] ctb opened #1250 "Look into upgrading README and/or using Description of a Project schema"
See conversation at https://twitter.com/mkramer/status/631559419168489472. @melodykramer suggests:
1. In plain language, what is this project and what does it do?
2. Who made this project?
3. Who is the audience for this project?
4. How do I set this project up on my own machine?
5. How do I test this project to make sure it works?
6. Who has adapted this project and can I see screenshots or examp

[2015-08-13 15:17] luizirber commented on #27
"CityHash provides hash functions for strings. It has been superseded by [FarmHash][2]. Further updates to CityHash are fairly unlikely."

There is also [xxHash][1].

[1]: https://github.com/Cyan4973/xxHash
[2]: https://code.google.com/p/farmhash/

[2015-08-13 17:10] bocajnotnef commented on #144
Looking at the CI coverate ( http://ci.oxli.org/job/khmer-master/418/label=linux/cobertura/_default_/scripts_extract_partitions_py/ ) I'm seeing near-compelte coverage on extract-partitions, so I'm just going to go ahead with the refactor.

[2015-08-13 19:10] mr-c commented on #1250
FYI, our  PyPI page gets us DOAP for free. We could also ship it directly.

[2015-08-13 19:11] mr-c commented on #1249
Now that `-M` has landed it could be a nice alternative to not running at all. There should be a warning printed, though.

[2015-08-13 19:12] mr-c commented on #1246
Agreed! Lets start by chasing this with upstream. I don't know if it has been properly reported to them or not.

[2015-08-13 19:14] mr-c commented on #1239
how about `--stream-seqs` or `--stream-records`?

[2015-08-13 19:15] mr-c commented on #1234
Do you want this for 2.0?

[2015-08-13 19:19] #1217 closed

[2015-08-13 19:20] mr-c commented on #1224
This is a great idea, +1

[2015-08-13 19:23] mr-c commented on #618
For example, `normalize-by-median.py` passes all of these except for #2

[2015-08-13 19:31] mr-c commented on #1242
I've found a copy on Athyra:

`/home/LYORN_HOME/ftp/public/titus/88m-reads.fa.gz`

[2015-08-13 21:08] mr-c commented on #1248
Right, this sort of thing has been brewing for a while. It *could* be due to the probabilistic nature of the Count-Min Sketch or it could be a threading bug. @luizirber @camillescott may have insights to share

[2015-08-13 21:43] mr-c commented on #885
- [ ] install `oxli` into `/usr/bin/`

[2015-08-14 01:39] mr-c commented on #1221
Fixed in #1247

[2015-08-14 01:39] #1221 closed

[2015-08-14 15:21] ctb commented on #1248
On Thu, Aug 13, 2015 at 02:08:58PM -0700, Michael R. Crusoe wrote:

Having dug around in that code recently (and now simplified it), it shouldn't
be happening if the code was working the way I understood it to work.  So
there's almost certainly a bug... Thanks, @ljcohen!

Let's take a look through the issue tracker to find you a new bug
to chase while we figure this out :)

[2015-08-14 15:28] ctb commented on #1234
no need for 2.0

[2015-08-14 15:29] ctb commented on #1239
On Thu, Aug 13, 2015 at 12:14:00PM -0700, Michael R. Crusoe wrote:

+1 stream-records

[2015-08-14 15:33] ctb commented on #144
On Thu, Aug 13, 2015 at 10:10:13AM -0700, Jake Fenton wrote:

For testing on this kind of thing, I would like to ask that (prior to merge)
we:

* identify a few different data sets to run the through do-partition etc.
  (the ones in data/ are probably ok)
* run extract-partitions, old version
* run extract-partitions, new version
* make sure results are bytewise identical, OR that we understand

[2015-08-14 15:59] bocajnotnef commented on #144
Okay. Sounds good.

On Fri, Aug 14, 2015, 08:33 C. Titus Brown <notifications@github.com> wrote:

[2015-08-14 17:34] bocajnotnef commented on #144
Ran a modified variant of the "partitioning large datasets" ( https://khmer.readthedocs.org/en/v1.4.1/user/partitioning-big-data.html#running-on-an-example-data-set ) over the 25k Casava reads in /data, using master's extract-partition and the refactored version. Diffing the dist files and the group files show's they're the same.

[2015-08-14 17:36] bocajnotnef commented on #144
(modified script here for reference: https://gist.github.com/bocajnotnef/0bd649939c60a7b7ed72)

[2015-08-14 18:32] ctb commented on #144
On Fri, Aug 14, 2015 at 10:34:10AM -0700, Jake Fenton wrote:

cool - can you add some tests (perhaps md5sum?) that flag differences without
necessarily storing all the reads?

[2015-08-14 19:09] bocajnotnef commented on #144
Wouldn't that require rerunning the full work flow on the data regardless,
in order to test the differences?

On Fri, Aug 14, 2015, 11:32 C. Titus Brown <notifications@github.com> wrote:

[2015-08-14 19:19] mr-c commented on #144
This could be a less often run test that Jenkins does post merge. You could
also drop a comment in the relevant scripts inviting developers making
changes to run the tests manually.

On Fri, Aug 14, 2015, 12:09 Jake Fenton <notifications@github.com> wrote:

--
Michael R. Crusoe: Programmer & Bioinformatician crusoe@ucdavis.edu
The lab for Data Intensive Biology; University of California, Davis
htt

[2015-08-14 19:31] ctb commented on #144
On Fri, Aug 14, 2015 at 12:09:46PM -0700, Jake Fenton wrote:

yes, but it's pretty fast on 25k, no?

[2015-08-14 20:35] ctb commented on #1226
Ripping this from @bocajnotnef's hands and giving it to @ljcohen.

[2015-08-14 20:38] ljcohen opened #1253 "create link to latest version at top of previous versions of documentation"
backstory: @ACharbonneau and I were reading previous version of documentation and doing wrong things before realizing we were in the wrong version

[2015-08-15 01:42] kdmurray91 opened #1254 "[RFC] Putting version numbers into .info files?"
Do you think it could be valuable to write the precise version of khmer used to generate a {Count,Node}graph into the corresponding `.info` files? I came across some old files and wanted to know which version of khmer had created them, but this isn't recorded in the info files AFAICT.

[2015-08-15 10:38] mr-c commented on #1254
Yes!

[2015-08-15 11:23] mr-c commented on #1253
Adding a link to "latest" is easy. A link that says "this isn't the latest!!" isn't straightforward.

[2015-08-15 12:07] ctb opened #1256 "load-into-countgraph rename messes up multiple versions."
If you have an older version of khmer, and you install 2.0-pre, load-into-counting runs the old version and load-into-countgraph runs the new version.

More generally, we need to discuss script *renaming* in a top level issue.  All of our documentation and examples - much of it not linked into khmer directly - depends on these script names.

I'm -1 on changing script names at this point in the rel

[2015-08-15 12:15] ctb commented on #1256
The underlying logic behind the -1 is user focused, BTW - changing command line options is frustrating for users but necessary sometimes (and a major version # definitely is a good reason).  However, if we change the script name users don't know what script to look for, and they may accidentally run older versions that still import the newer package code.  There are probably other undesirable outc

[2015-08-15 17:32] ctb commented on #1256
Same with load-into-nodegraph rename. Commits 2d621f6 and fa75f9cb342.

[2015-08-15 17:51] ctb commented on #1256
Here are the commands to reproduce the bug that alerted me to this; run these on a blank Ubuntu 14.04
[code]

This last command fails with:
[code]

This seems broken to me - I didn't realize that pip didn't lock things to version (i.e. I would have expected load-into-counting.py to load the khmer library from 1.4.1).  But it also adds a reason to not rename scripts, I think.

An alternative to ren

[2015-08-15 17:53] ctb commented on #1256
(This is a blocker for 2.0.)

[2015-08-15 18:03] ctb commented on #1253
Could also point people at correct version for the script at the bottom
of the script help output.

Perhaps relevant: #1224.

[2015-08-15 18:06] ctb opened #1257 "do-partition fails on 25k.fq.gz"
`do-partition.py -k 21 xxx data/25k.fq.gz -M 1e8` yields this error:

[code]

[2015-08-16 05:23] kdmurray91 opened #1258 "Loading older Countgraphs causes `std::bad_alloc`"
Loading a counting hash created about a month ago with the current master causes a C++ ``std::bad_alloc`` exception to be thrown. My hunch is that this has something to do with the new field in the file format for the number of occupied bins. I don't have time to test this today but will do a git bisect on Monday if I get time and no-one beats me to it.

If my hunch is correct, then I'd advocate b

[2015-08-16 05:24] kdmurray91 commented on #1258
@ctb would this be a 2.0 blocker? If so I can do my best to debug it on Monday...

[2015-08-16 10:47] ctb commented on #1258
On Sat, Aug 15, 2015 at 10:23:37PM -0700, Kevin Murray wrote:

You're almost certainly correct.  @mr-c and I discussed it and decided not
to bump file version numbers multiple times in a release; maybe that should
be revisited.

[2015-08-16 12:37] macmanes opened #1259 "--max-memory-usage input"
It seems that `--max-memory-usage` should take the samtools-like human readable options, instead of what it does now. So, instead of `--max-memory-usage 4e10`, wouldn't `--max-memory-usage 8G` or `--max-memory-usage 400M` be easier for users to specify?

[2015-08-17 03:03] mr-c commented on #1257
I've fixed this in #1255

[2015-08-17 10:39] kdmurray91 commented on #1254
While we're at it, are there any other things that should go in there? Like dimensions, or k size?

[2015-08-17 10:40] kdmurray91 commented on #1254
And where other than `load-into-countgraph` would this be welcome?

[2015-08-17 12:45] macmanes opened #1261 "stream 2 pass diginorm broken?"
Hi Khmer team,

The 2 pass Diginorm using 2.0-rc3 does not seem to stream, specifically, it fails in `filter-abund.py` because the required countgraph does not exist.

[code]

[code]

`--force` does not actually work.

[2015-08-17 12:47] ctb commented on #1261
Yep, would need to use trim low abund in place of filter abund.

--
Titus Brown, ctbrown@ucdavis.edu

[2015-08-17 14:06] melodykramer commented on #1250
This discussion might also be of interest: https://github.com/18F/open-source-guide/issues/15#issuecomment-129455754

[2015-08-17 17:34] macmanes commented on #1261
Streaming 2 pass Diginorm FTW!

https://gist.github.com/macmanes/7d871c874906e1620f81

[2015-08-17 17:34] #1261 closed

[2015-08-17 18:30] macmanes commented on #1065
+2 for this functionality.

[2015-08-17 18:54] ctb opened #1262 "Extract processing classes from scripts and write tests for them"
Several scripts -- normalize-by-median and trim-low-abund (as of #1138), and perhaps others -- have classes that do interesting processing functions but are only tested at the script level. We should extract these classes into the khmer or oxli packages and test the heck out of 'em.

[2015-08-17 18:57] ctb opened #1263 "'make test' fails in virtualenv on Mac OS X"
With latest master (94d679f2e2):
[code]

[2015-08-17 18:58] ctb commented on #1263
Note, 'make' works just fine, so it's specifically 'make test'.

I can also run 'make' and then run 'nosetests' ok.

[2015-08-17 18:59] ctb opened #1264 "'nosetests' fail on Mac OS X"
with latest master (94d679f2e), Python 2.7.2,

```13.4.0 Darwin Kernel Version 13.4.0: Wed Mar 18 16:20:14 PDT 2015; root:xnu-2422.115.14~1/RELEASE_X86_64 x86_64.```

I get:

[code]

[2015-08-17 23:44] mr-c commented on #1263
Everything works fine on our test machine. The first message shows that your virtualenv isn't activated.

[2015-08-17 23:46] mr-c commented on #1264
Yep, that is an OS X Mavericks box so I'm not surprised.

[2015-08-18 00:38] ctb commented on #1263
The virtualenv is activated. This changed sometime in the last ~week.

[2015-08-18 00:43] ctb commented on #1263
039e5cc5f is broken; 28193b132a works (via git bisect).

[2015-08-18 01:02] macmanes opened #1265 "no streaming for load-into-counting.py?"
the command:

[code]

the error:
[code]

[2015-08-18 01:02] ctb commented on #1263
It's caused by a difference in Makefile - see SHELL=bash addition to the Makefile, which has the effect of resetting the virtualenv. So I suggest removing it, yes? (ISTR we found this a long time ago, not sure how to find it in the source tree.)

[2015-08-18 01:04] ctb commented on #1265
Try this with load-into-countgraph; this is an old version of khmer, and
you got messed up by the rename of the script.

See #1256 for an issue suggesting that this rename be undone.

--titus

[2015-08-18 01:11] ctb commented on #1264
039e5cc5f is broken; 28193b132a works (via git bisect). I'm sensing a trend (see #1263).

[2015-08-18 01:12] mr-c commented on #1263
Wacky. I'm trying to reproduce this locally. Where are you experiencing this?

[2015-08-18 01:14] ctb commented on #1263
On Mon, Aug 17, 2015 at 06:12:08PM -0700, Michael R. Crusoe wrote:

On my laptop.

[2015-08-18 01:15] ctb commented on #1264
There's too many files changed for me to figure out where this problem lies. It seems like a change that is probably unrelated to the commit, though... @camillescott?

[2015-08-18 01:16] mr-c commented on #1263
Which is running Mavericks, okay. I'll see about de-BASHing the Makefile & I'll add a note.

[2015-08-18 01:17] macmanes commented on #1265
Gotcha:

This seems to work.
[code]

More generally, how would end-user know this? Is there a guide somewhere that I am missing?

[2015-08-18 01:31] ctb commented on #1264
Oh, I see; this test is turned off in 'make test' but not in 'nosetests'. Not sure there's anything to be done about that.

[2015-08-18 01:35] mr-c commented on #1264
If you add `!linux` to the `-attr` line you can use `nosetests` still (that's what the Makefile does).

[2015-08-18 01:37] mr-c commented on #1265
@macmanes know about the rename or know about the support for streaming?

[2015-08-18 01:51] mr-c commented on #1256
Changing script names will happen eventually so I'm first going to address that issue.

This is a setuptools and not a pip bug. If one upgrades using pip it correctly uninstalls the older version first. We can add a `pip uninstall` loop to the beginning of the `make install` target to emulate the correct behavior.

[code]

[2015-08-18 01:53] mr-c commented on #1259
Howdy @macmanes!

This is a great idea, thank you for suggesting it. I've added it to the Milestone for the release after 2.0.

[2015-08-18 01:55] mr-c commented on #1254
All the metadata would be great, and all the scripts should eventually do this. See #676

[2015-08-18 01:56] mr-c commented on #1250
Thank you @melodykramer for linking to that conversation

[2015-08-18 01:58] mr-c commented on #1239
Fixed in #1252

[2015-08-18 01:58] #1239 closed

[2015-08-18 12:08] ctb commented on #1265
@macmanes there's a doc/whats-new-2.0 file that we'll link prominently upon release.

I'm going to close this in favor of #1256.

[2015-08-18 12:08] #1265 closed

[2015-08-18 12:10] ctb commented on #1256
On Mon, Aug 17, 2015 at 06:51:22PM -0700, Michael R. Crusoe wrote:

In the preferred future, we'll be replacing this with the oxli script
and subcommands (#389), which would be accompanied by a renaming of the
project.

[2015-08-18 12:11] ctb commented on #1264
On Mon, Aug 17, 2015 at 06:35:52PM -0700, Michael R. Crusoe wrote:

Yes, well, I know that ;). But since 'make test' wasn't working...

[2015-08-18 12:15] ctb commented on #618
@mr-c, what needs to be done here? I'm confused. We've addressed most of this in #1170 and I think we can probably just close this, unless specific tasks can be identified.

[2015-08-18 22:49] mr-c commented on #618
- [ ] add path to destination directory to `check_space` instead of using the directory of the input file to see if there is enough free space.

[2015-08-19 00:14] mr-c commented on #1256
Using a `diff`d output of `--help` against all the scripts in both the v1.4.1 and the current (c7c7606fd7c5d2fa92524028a2e3fbcf93de1caf) vesion, here are the backwards incompatible changes we have committed so far with respect to the command line interface:

`--min-tablesize` has been replaced with `--max-tablesize` in `abundance-dist-single.py`, `do-partition.py`, `filter-abund-single.py`, `find-

[2015-08-19 00:24] mr-c commented on #1256
Using a `diff`d output of `--help` against all the scripts in both the v1.4.1 and the current (c7c7606fd7c5d2fa92524028a2e3fbcf93de1caf) vesion, here are the backwards incompatible changes we have committed so far with respect to the command line interface:

`--min-tablesize` has been replaced with `--max-tablesize` in `abundance-dist-single.py`, `do-partition.py`, `filter-abund-single.py`, `find-

[2015-08-19 00:27] mr-c commented on #1256
`table`->`graph` renames were my idea, spurned on by the general rename going on in the code and the fact that so many other API breaking changes had occurred.

Ignoring those changes still leave 20 other API breaking changes between v1.4.1 and the current development version.

[2015-08-19 00:28] mr-c commented on #1256
I have already shown that users won't be impacted by the script renaming. We can send a note out alerting developers that they may be better served with a fresh virtualenv.

[2015-08-19 00:29] mr-c commented on #1256
I'm happy to add pass-through or `FYI` shims under the old names. This would likely also solve the problem some developers might run into.

[2015-08-19 00:38] mr-c commented on #1256
A PR to update the `whats-new-2.0.rst` docs with my findings above is forthcoming.

[2015-08-19 01:04] ctb commented on #1256
But the rename is still just pointless; if we were sticking with the scripts for a few more big versions, I might see a point, but causing user pain and massive documentation breakage solely for some fairly abstract notion of consistency that will massively change again within a year doesn't strike me as a worthwhile idea. It's tripped up two experienced users, as well, which points in a very diff

[2015-08-19 01:45] mr-c commented on #1256
I am sorry to hear that you think it was pointless, that I was making blythe assumptions about the competency of our users, and that I did this on a whim. I do agree that it is worthy of discussion which is what we are doing now.

I also agree that the oxli interface is more interesting but is outside of my scope at the moment.

To unblock the 2.0 release I've made a PR to undo this change. #1270.

[2015-08-19 23:52] mr-c commented on #1258
.Hey @kdmurray91, thank you for reporting this.

My understanding is that this will only affect those who have been using a non-released version.

There is a trade off between the development version having room to grow and break and keeping everything strictly stable.

Fundamentally I am okay with that.

[2015-08-20 00:25] mr-c commented on #1256
Fixed by #1270

[2015-08-20 00:25] #1256 closed

[2015-08-20 01:52] #1264 closed

[2015-08-20 01:55] kdmurray91 commented on #1258
Yep, and I'm OK with it too. I'll close it as a 'wont-fix' bug.

[2015-08-20 01:55] #1258 closed

[2015-08-20 01:56] kdmurray91 commented on #1258
Although, is it worth noting in the release notes? Just in case someone else has done similarly?

[2015-08-21 17:07] chvlyl opened #1271 "error about load_countgraph in count-kmers.py"
Hi,
    Thanks for this great software!
    I'm trying to get the kmer counts by using the following code:
    ```../../sandbox/count-kmers.py -o test_kmers_count.txt stamps-reads.ct ../../data/stamps-reads.fa.gz```
    However, I got an error
    ```AttributeError: 'module' object has no attribute 'load_countgraph'```

     Any idea how to solve this?
     Thanks for the help!

Best
Eric

[2015-08-21 17:59] chvlyl commented on #1271
I ran the above code in virtualenv. If I try install the khmer first by python setup.py install, then the error is gone.

[2015-08-22 15:54] mr-c opened #1272 "upgrade to latest versioneer release"
Will quiet some warnings

- [x] review Jenkins build log and address all version related warnings

[2015-08-23 14:23] ctb commented on #1271
On Fri, Aug 21, 2015 at 10:59:40AM -0700, Eric Z Chen wrote:

Hi Eric,

I'm guessing you had an older version of khmer hanging out in your virtualenv;
we've been making a lot of internal naming changes lately in preparation for
2.0, which is what's behind this error.  I'm not sure how to help fix the
more general issue other than to say that if you get these kinds of problems
*after* installation,

[2015-08-25 01:03] mr-c commented on #1263
Fixed in #1266

[2015-08-25 01:03] #1263 closed

[2015-08-25 04:44] drtamermansour opened #1273 "interleave-reads.py fails to run"
It throughs this exception

Traceback (most recent call last):
  File "/mnt/home/mansourt/env/bin/interleave-reads.py", line 6, in <module>
    exec(compile(open(__file__).read(), __file__, 'exec'))
  File "/mnt/home/mansourt/khmer/scripts/interleave-reads.py", line 26, in <module>
    import khmer
  File "/mnt/home/mansourt/khmer/khmer/__init__.py", line 13, in <module>
    from khmer._khmer impo

[2015-08-25 05:14] mr-c commented on #1273
If you've been following the latest development version I recommend deleting your virtualenv and making a new one.

[2015-08-25 05:15] mr-c opened #1274 "test-data/goodversion* not all good anymore"
and not all tested to be good.

Example:

[code]

[2015-08-25 05:18] mr-c opened #1275 "re-enable oxli script"
after the 2.0 release is out

[2015-08-25 07:27] drtamermansour commented on #1273
I upgraded to virtualenv 13.1.2 and also I had to use a more recent version of GNU on HPC (GNU 4.7.1 instead of the default GNU 4.4.5). Now it is working fine. Thank you

[2015-08-25 07:34] mr-c commented on #1273
I'm glad to hear that you got it resolved.

[2015-08-25 07:34] #1273 closed

[2015-08-25 21:12] mr-c commented on #1128
rc4 passes the BatLab tests on the supported platforms. As expected I had to remove Debian6, RHEL6, SL6, Ubuntu 12, and OS X 7 from the test list

[2015-08-25 22:46] mr-c commented on #1274
@ctb I can't get the `_build_testfiles()` to work; it just runs forever.

[2015-08-25 22:53] macmanes opened #1276 "split-paired-reads.py breaks with broken interleaved?"
Hi people,

I thought with `2.0-rc3+66.g94d679f` and `screed version 0.9` that all tools could take broken interleaved? Anyway, seems that `split-paired-reads.py` does not.. When processing files like this:

[code]

Then

[code]

I fail with

[code]

Indeed, the /1 pair is lost somewhere in the filtering process, but I thought that should be OK.

[code]

Note that I am not entirely confident that

[2015-08-25 23:11] mr-c commented on #1271
Thank you @chvlyl for your report. Sounds like you fixed your problem so I'm going to close this issue.

[2015-08-25 23:11] #1271 closed

[2015-08-25 23:21] macmanes commented on #1276
Here is the initial error I was talking about above. Processed identically.

[code]

truncated fastq from `dp.2pass.fq`:

[code]

original entry from `R1.fq`

[code]

[2015-08-25 23:25] mr-c commented on #1276
Agreed that whatever lead to the read having mismatched quality and sequence strings is a bug

[2015-08-25 23:26] mr-c commented on #1276
Try the following:

[code]

[2015-08-25 23:27] macmanes commented on #1276
I'm in the process of breaking down the pipe command string to see if I can narrow it down to something.. Also seeing if I can reproduce this in a smaller test dataset.

[2015-08-25 23:45] mr-c commented on #1276
*nod* Thanks

On Tue, Aug 25, 2015 at 4:27 PM Matt MacManes <notifications@github.com>
wrote:

--
Michael R. Crusoe: Programmer & Bioinformatician crusoe@ucdavis.edu
The lab for Data Intensive Biology; University of California, Davis
https://impactstory.org/MichaelRCrusoe http://twitter.com/biocrusoe

[2015-08-26 00:10] mr-c commented on #1257
Fixed in #1268

[2015-08-26 00:10] #1257 closed

[2015-08-26 21:17] mr-c opened #1277 "partitioning thread worker code is duplicated across two files"
from `do-partition.py` and `partition-graph.py`

[2015-08-27 01:35] kdmurray91 commented on #885
@mr-c do we still need `oxli` in `/usr/bin`? I though you'd nuked it for 2.0?

[2015-08-27 01:59] kdmurray91 commented on #885
Manually ran `gbp buildpackage` in a fresh `debian:unstable` docker container. Got a few strange test failures, but this could be do to with the docker container running as root:

[code]

The build itself worked fine.

[2015-08-27 05:42] mr-c commented on #885
Indeed, we don't need oxli in /usr/bin at this time.

[2015-08-27 05:43] mr-c commented on #885
Yeah, don't build as root :-)

[2015-08-27 05:46] mr-c commented on #1128
the `doc/run-corn-50m.sh` script still works in rc4

[2015-08-27 06:37] kdmurray91 commented on #885
Should we get rid of the `ruby-ronn` builddep by hand-crafting (or just git add-ing) the manpage?

[2015-08-27 08:17] kdmurray91 commented on #885
Another docker build, this time with an unprivileged user. Looks like a similar bug to the OSX lurgy in #1190, #1046 et al.

[code]

[2015-08-27 08:27] mr-c commented on #885
Yeah, I've been getting that in Debian testing and unstable for a while now.

On Thu, Aug 27, 2015, 01:17 Kevin Murray <notifications@github.com> wrote:

--
Michael R. Crusoe: Programmer & Bioinformatician crusoe@ucdavis.edu
The lab for Data Intensive Biology; University of California, Davis
https://impactstory.org/MichaelRCrusoe http://twitter.com/biocrusoe

[2015-08-27 12:38] ctb opened #1280 "khmer 1.4.1 is failing to install on Ubuntu 14.04"
I get:
[code]

when running the commands in http://khmer-protocols.readthedocs.org/en/ctb/mrnaseq/1-quality.html:

[code]

Odd, because I could have sworn they worked before. What am I missing? :)

[2015-08-27 17:06] mr-c commented on #885
I'm okay with the `ruby-ronn` build-dep.

[2015-08-27 20:55] ctb opened #1281 "doc/dev/getting-started.rst has become too complex and also seems wrong in places"
This is no longer friendly to new users at all!

Suggestions:
- move prerequisites/dependencies stuff to another section; much of this requires root, too, which needs to be discussed;
- think about moving the virutalenv stuff elsewhere;
- omit macports, homebrew, and conda stuff, or move it elsewhere;
- remove ccache stuff to an advanced section, or omit completely
- move squash stuff out of "gett

[2015-08-27 21:00] mr-c commented on #1281
Agreed! Punt to 2.0.1?

[2015-08-27 21:03] mr-c commented on #1280
I can reproduce this.

However `pip install khmer` or `pip install khmer==1.4.1` works for me

[2015-08-27 21:07] ctb commented on #1280
Those are not options for certain uses - in particular, when we need sandbox/.  Isn't

     python setup.py install

tested in the release process?

[2015-08-27 21:19] mr-c commented on #1280
It may be due to checking out from a branch instead of the tag. Honestly
you are better off downloading the tarball from the release page or pypi
(both include sandbox).

On Thu, Aug 27, 2015 at 2:07 PM C. Titus Brown <notifications@github.com>
wrote:

--
Michael R. Crusoe: Programmer & Bioinformatician crusoe@ucdavis.edu
The lab for Data Intensive Biology; University of California, Davis
https://

[2015-08-27 21:20] mr-c commented on #1280
We only test installing from artifacts like a tarball or PyPI in the
release test.

On Thu, Aug 27, 2015 at 2:19 PM Michael Crusoe <michael.crusoe@gmail.com>
wrote:

--
Michael R. Crusoe: Programmer & Bioinformatician crusoe@ucdavis.edu
The lab for Data Intensive Biology; University of California, Davis
https://impactstory.org/MichaelRCrusoe http://twitter.com/biocrusoe

[2015-08-27 21:29] kdmurray91 commented on #1190
Note that this bug or a similar one appears to affect Debian unstable too. See #885 for build logs etc.

Some gitter notes from @mr-c  and myself

[2015-08-27 23:00] mr-c commented on #1128
@ctb Looks like you're working on the acceptance tests. Shall I give that a try or wait for you?

[2015-08-27 23:01] ctb commented on #1128
On Thu, Aug 27, 2015 at 04:00:12PM -0700, Michael R. Crusoe wrote:

The ctb branch works fine through assembly, AFAICT.  Not planning to fix
the rest at the moment.

[2015-08-27 23:03] SherineAwad commented on #841
@mr-c No

[2015-08-27 23:15] #841 closed

[2015-08-27 23:34] ctb commented on #1276
On Tue, Aug 25, 2015 at 03:53:23PM -0700, Matt MacManes wrote:

Hi Matt,

after some discussion, we decided that there was no reasonable expectation
that split-paired-reads should handle broken-paired -- see

https://github.com/dib-lab/khmer/issues/847

for info.  The proper approach would be

interleave-reads | normalize-by-median | extract-paired-reads.py -s /dev/null | split-paired-reads

Neith

[2015-08-28 00:02] macmanes commented on #1276
sounds good - tho, the `--output-orphaned` flag that @mr-c suggested works perfectly...

[2015-08-28 18:05] mr-c commented on #1276
@macmanes Where do you recommend we augment our documentation to better explain this?

[2015-08-28 23:09] mr-c commented on #1242
Fixed in #1269

[2015-08-30 19:36] mr-c commented on #1274
@ctb can you assist or should this get bumped to post-2.0?

[2015-08-30 23:53] #884 closed

[2015-08-31 13:51] ctb commented on #1274
On Sun, Aug 30, 2015 at 12:36:28PM -0700, Michael R. Crusoe wrote:

I don't have time/focus to work on khmer for the near future.

[2015-09-01 18:43] #1242 closed

[2015-09-01 19:47] mr-c commented on #1156
Fixed in #1247

[2015-09-02 13:04] macmanes opened #1287 "fix broken interleaved"
Hi People,

Is there a way to fix broken interleaved files to 'intact interleaved'? I was thinking about something like `extract-paired-reads.py`, but with option to output interleaved (to the stdout) instead of to `.pe` and  `.se` file. I'm thinking about ways to stream, like this:

[code]

This actually works for BWA, because if nicely deals with broken interleaved, but most tools to not..

[2015-09-02 13:07] ctb commented on #1287
On Wed, Sep 02, 2015 at 06:04:59AM -0700, Matt MacManes wrote:

So you don't mean:

     "extract-paired-reads.py -p - -s /some/where/else -"

From the above, I'm thinking that you might mean a flag that lets
interleave-reads build a broken-paired file?  Or only output reads
that are actually properly interleaved?
--
C. Titus Brown, ctbrown@ucdavis.edu

[2015-09-02 13:19] macmanes commented on #1287
ok.. this works as intended.. streaming from raw reads, through trimming, to a BAM file. Hey, this streaming stuff is *REALLY* great!! ;)

[code]

[2015-09-02 13:19] #1287 closed

[2015-09-02 13:22] ctb commented on #1287
On Wed, Sep 02, 2015 at 06:19:26AM -0700, Matt MacManes wrote:

excellent :)

[2015-09-02 17:40] mr-c opened #1288 "BaTLab closed to new users, may need to find alternative later"

[2015-09-03 23:51] ctb opened #1291 "Split documentation off into new repository, khmer-docs?"
After 2.0 release, I'm thinking we should split the documentation off into its own repo and then try out the pull request hack:

http://felixge.de/2013/03/11/the-pull-request-hack.html

In that other repo, we could have branches that correspond to specific releases, with master corresponding to the latest master on khmer.  So v2.0 would be the docs for khmer v2.0, but they could be updated routine

[2015-09-04 16:49] mr-c commented on #1248
@ctb Is this "known-issues" worthy?

[2015-09-04 16:49] mr-c commented on #725
- [ ] file bug with the Jenkins team

[2015-09-04 16:50] mr-c commented on #370
@camillescott @ctb Does this need to go into the `known-issues` list? My understanding is that it doesn't impact script users, only Python/C++ API users.

[2015-09-04 16:52] mr-c commented on #266
@ctb Now that we've reworked the memory usage and switched to `--max-memory-usage` do you think this is resolved? I don't have a reproducible test case.

[2015-09-04 18:00] ctb commented on #1248
On Fri, Sep 04, 2015 at 09:49:16AM -0700, Michael R. Crusoe wrote:

yep.

[2015-09-04 18:27] camillescott commented on #1248
This should be resolved by #876 (and serve as extra incentive for me to get that merged)

[2015-09-04 18:50] #1210 closed

[2015-09-04 19:21] ctb commented on #370
no need

[2015-09-04 19:22] ctb commented on #266
On Fri, Sep 04, 2015 at 09:52:51AM -0700, Michael R. Crusoe wrote:

It's a rare enough bug that I think we need to see it again in the wild
before we worry anyone about it.  So +1 for closing.

[2015-09-04 19:35] #266 closed

[2015-09-04 22:12] mr-c commented on #1128
rc4 & rc5 cut; coverity scan has passed.

[2015-09-04 22:12] mr-c commented on #1128
rather, rc5 and rc6

[2015-09-04 22:50] mr-c commented on #1128
BaTLab tests passed

[2015-09-04 23:01] mr-c commented on #1128
the testpypi service isn't working for me and the acceptance testing is gated on Athyra being restored

[2015-09-05 20:37] mr-c commented on #1291
I am a fan of the pull request hack.

This would make the use of submodules tempting to keep the docs next to the code. How about just split them prior to each release? That way the docs are still alongside the code during development.

Alternatively you could enable this on the main repo without splitting and use the new [protected branches and required status checks](https://github.com/blog/2051

[2015-09-05 21:52] mr-c commented on #1128
Acceptance tests pass (rc6)

[2015-09-05 22:29] mr-c commented on #1128
testpypi now working for me under Debian Unstable & Ubuntu 14.04 (but not Debian Testing)

Alas it has surfaced another wrinkle with the script version test. Drafting a pull request now

[2015-09-06 03:07] camillescott opened #1294 "interleave-reads.py fails on non-standard sequence names"
Interleave fails when one of the files uses non-standard notation; this is because the script first checks if each name in the pair is valid to decide whether to append a /1 or /2, and then enforces that they create a valid pair. If one is not valid, the /1 or /2 is only append to it, and the enforcement fails, crashing the script.

A real-world example is when a set of indexing reads is produced.

[2015-09-07 18:23] mr-c commented on #1128
`--version` bug fixed in rc8, acceptance tests passed for rc8.

[2015-09-07 19:06] mr-c commented on #1061
Fixed as of v2.0-rc8: https://testpypi.python.org/pypi/khmer/2.0-rc8

[2015-09-07 19:06] #1061 closed

[2015-09-07 19:36] mr-c opened #1296 "README.rst & doc/index.rst duplicate a lot of content"
Often some piece of information will get updated in one location but not the other. Would be nice if there was less duplication.

Ideas:
- Have sphinx include the contents of README.rst when rendering doc/index.rst
- Have README.rst include not much more than a link to the docs

[2015-09-07 19:39] mr-c commented on #1294
Interesting. Out of curiousity, what is generating the '3:N:0:' notation?

[2015-09-07 21:59] ctb commented on #1280
Sorry, why was this closed?

[2015-09-08 03:30] mr-c commented on #1280
Sorry, I thought the work around was acceptable. Could be different due to 1.4.1 being created off a branch instead of master like we normally due. There is already an issue open to track upgrading to the latest versioneer release which may also fix the problem in the future.

[2015-09-08 07:28] camillescott commented on #1294
When barcode reads are reported. The barcode FASTQ file has the 2:N:0 notation, and the right reads have the 3:N:0 notation.

[2015-09-08 08:07] mr-c commented on #1294
Oh, then we should support that in the pairing check function.

On Tue, Sep 8, 2015, 00:28 Camille Scott <notifications@github.com> wrote:

--
Michael R. Crusoe: Programmer & Bioinformatician crusoe@ucdavis.edu
The lab for Data Intensive Biology; University of California, Davis
https://impactstory.org/MichaelRCrusoe http://twitter.com/biocrusoe

[2015-09-08 12:40] ctb commented on #1280
OK, may be fixed by #1272.

[2015-09-08 12:45] ctb commented on #1294
This is for Moleculo?

[2015-09-08 13:06] ctb commented on #1280
Also,

     git checkout v1.4.1
     make

fails with the same problem.

[2015-09-08 13:27] ctb opened #1298 "Unpaired reads file gets overwritten in some circumstances in khmer v1.4.1"
If -o is specified with -u, then the -u file is trashed.  Happens in khmer v1.4.1 for sure.

Following fix seems to work:

[code]

Not sure we should do anything about this, though, since 2.0 is coming out?

[2015-09-08 13:35] ctb commented on #1291
On Sat, Sep 05, 2015 at 01:37:20PM -0700, Michael R. Crusoe wrote:

-1 submodules; never heard anything good.

Keeping the docs up to date w/development is troublesome no matter how we do
it; I don't see a clean solution either way (in separate tree, or in same
tree).

Sounds like management overhead, -0 from me.

[2015-09-08 15:37] mr-c commented on #1128
And the release is out!

[2015-09-08 15:37] #1128 closed

[2015-09-08 16:04] mr-c commented on #1152
Fweh, made the mistake of repeating this problem. Turns out that PyPI won't let you re-upload a previously deleted file with the same name.

Luckily I was able to switch to the python.org Python v 2.7.10 which names the wheel with the infix 'macosx_10_6' instead of 'macosx_10_10`.

- [ ] update minimum setuptools version in `setup.py`
- [ ] update `doc/dev/release.rst` with minimum required versio

[2015-09-08 16:05] mr-c commented on #1152
@bmpvieira This should be fixed for khmer 2.0, I checked all three wheels by hand

[2015-09-08 16:43] mr-c commented on #1298
I guess we should write a test for this if it doesn't already exist.

[2015-09-08 16:44] mr-c commented on #1280
Oh, the branch comment was about how the 1.4.1 release was made, not your checkout procedure. If 1.4 doesn't fail then that would be diagnostic.

[2015-09-08 18:04] camillescott commented on #1294
@ctb The sequencing run in question is from a HiSeq, though it's entirely possible that other sequencing platforms will have nonstandard naming conventions, and I imagine some sequencing centers report differently (ie, they don't all report the indexing reads, or they rename sequences). Regardless, the "bonus" of cleverly fixing read names has lots of potential hangups, and seems a good target for

[2015-09-08 18:21] mr-c commented on #1294
+1 for both adding explicit support for HiSeq and the new option

On Tue, Sep 8, 2015 at 11:04 AM Camille Scott <notifications@github.com>
wrote:

--
Michael R. Crusoe: Programmer & Bioinformatician crusoe@ucdavis.edu
The lab for Data Intensive Biology; University of California, Davis
https://impactstory.org/MichaelRCrusoe http://twitter.com/biocrusoe

[2015-09-08 19:14] mr-c opened #1300 "khmer.tests.test_streaming_io.test_trim_low_abund_1 fails if current directory isn't writeable"
Probably adding `--tempdir /tmp` to the test will fix it

[2015-09-08 21:52] mr-c commented on #1291
To recap:

To enable the community to update the docs easier using the Pull Request Hack we are considering:

1. Separate docs repo with one branch per release and one branch for master
2. Same as #1 and the dev repo includes the docs via a submodule so that developers can update the docs as they make changes in the same PR
3. Separate docs repo only for released versions; development docs stay in

[2015-09-10 13:14] bmpvieira commented on #1152
Thanks @mr-c, I can confirm that this is fixed.

[2015-09-11 14:47] grassa opened #1303 "normalize-by-median.py doesn't support streaming IO"
eg:

(khmerEnv)cgrassa@lipm-cnode3:~/pan_genome/test$ cat test.c.il.fq | normalize-by-median.py -k 31 -M 800000000 -o test.norm.fq /dev/stdin

|| This is the script normalize-by-median.py in khmer.
|| You are running khmer version 2.0
|| You are also using screed version 0.7
||
|| If you use this script in a publication, please cite EACH of the following:
||
||   * MR Crusoe et al., 2015. http://d

[2015-09-11 14:51] ctb commented on #1303
Hi, please upgrade screed to 0.9 as well - this will fix.

If you could tell us how you are installing things we can amend our packages to detect this automatically - pip should have upgraded screed in the process, for example.

Thanks for the report!

--
Titus Brown, ctbrown@ucdavis.edu

[2015-09-11 16:11] grassa commented on #1303
Thanks for the quick response. I believe you. Oddly, my current setup seems to insist on importing screed 0.7. I'm not sure where its getting it from, though. I've tried uninstalling and installing screed in and out of the virtual environment, with and without sudo. The install messages all report that 0.9 is installed, but khmer always reports "|| You are also using screed version 0.7". I also fi

[2015-09-11 16:14] ctb commented on #1303
On Fri, Sep 11, 2015 at 09:11:24AM -0700, Chris Grassa wrote:

How odd!

try:

    print screed

right after the import, and it will tell you what file is being imported -- a
good way to find the location of screed 0.7.  Then go nuke that directory :)
(Or just chmod a-rwx it, maybe?)

[2015-09-11 16:28] grassa commented on #1303
thanks for the tip!
export PYTHONPATH=""
before launching the virtualenv made it work.

[2015-09-11 16:31] #1303 closed

[2015-09-11 16:33] ctb commented on #1303
great, thank you!

On Fri, Sep 11, 2015 at 09:31:07AM -0700, Chris Grassa wrote:

--
C. Titus Brown, ctbrown@ucdavis.edu

[2015-09-12 22:45] ctb opened #1305 "unique-kmers.py core dumps on empty input"
[code]

yields

[code]

[2015-09-14 23:14] luizirber commented on #1305
ReadParser was throwing a `StreamReadError` exception, I didn't catch it. PR on the way.

[2015-09-15 17:27] mr-c opened #1307 "enable building with address sanitizer"
https://en.wikipedia.org/wiki/AddressSanitizer

example @ http://bazaar.launchpad.net/~dmedia/degu/trunk/view/head:/setup.py

[2015-09-17 13:54] ctb commented on #1307
+1

[2015-09-18 09:43] jvollme opened #1308 "filter-abund.py returns AttributeError when using --gzip flag"
Hi,
I've just upgraded to khmer version 2.0 and was very happy about the ability of each pipeline component to read from and write to gzipped files.
This seems to work perfectly for "interleave-reads.py" and "normalize-by-median.py", however "filter-abund.py" aborts with the following error message:

Traceback (most recent call last):
  File "/work/home/jov14/tools/khmerEnv/bin/filter-abund.py", l

[2015-09-18 13:02] ctb commented on #1308
On Fri, Sep 18, 2015 at 02:43:14AM -0700, JohnVollmers wrote:

Thanks for reporting this - sounds like a bug!  If you can give us the
command line you're using it might help when we're trying to reproduce it
(although I think I can guess ;).

(Note that you can use gzip in a pipe with 'gzip -c'.)

[2015-09-19 13:03] ctb opened #1309 "sandbox/count-kmers.py file needs to be +x"
right now it's not executable. Oops!

[2015-09-19 18:48] ctb commented on #1308
Reproduced:

[code]

yields
[code]

[2015-09-21 04:07] reedacartwright opened #1311 "DOI is Broken"
The documentation currently lists "http://dx.doi.org/10.12688/f1000research.6924.1" as the DOI to the latest paper.  This DOI is currently resolving as "DOI not found."

[2015-09-22 22:44] ctb commented on #1311
On Sun, Sep 20, 2015 at 09:07:00PM -0700, Reed A. Cartwright wrote:

Hi Reed,

the DOI is reserved for the forthcoming paper, which has not yet made it
out from F1000 Research

thx,
--titus

[2015-09-23 02:29] reedacartwright commented on #1311
Thanks, Titus,
I'm undergoing my third-year review this year, and I'm trying to update my CV.

[2015-09-24 14:40] macmanes opened #1312 "No streaming for abundance-dist-single.py"
Using

[code]

called like this:

[code]

Get this error - :(

[code]

= bummer

[2015-09-24 14:44] ctb commented on #1312
Yes, this is a 2-pass algorithm.  No other way to do it.

[2015-09-25 13:35] ctb commented on #1311
The paper is finally available in non-peer-reviewed form: http://f1000research.com/articles/4-900/v1. Perhaps the DOI will resolve correctly soon :)

[2015-09-25 17:18] ctb commented on #1311
DOI working!

[2015-09-25 17:18] #1311 closed

[2015-09-25 17:26] ctb commented on #1312
It would be possible to generate an approximate k-mer abundance distribution in a single pass by counting k-mers from some initial number of reads and then collecting k-mers that occur later in the stream to count.  But, fundamentally, the khmer data structures don't (yet) support enumeration of k-mers which blocks a single-pass approach.  (#689 is kind of relevant)

[2015-09-25 17:31] #1309 closed

[2015-09-25 17:32] ctb commented on #1308
Fixed in #1310.

[2015-09-25 17:32] #1308 closed

[2015-09-27 23:28] ljcohen commented on #1226
removed all functions related to interleave-reads, split-paired-reads, and extract-paired-reads and made new file 'test_read_handling.py'

To-do: Figure out how setup.py works. What file should be modified so 'test_read_handling.py' is used for those tests instead of test_scripts.py?

Running ./setup.py with a removed function 'test_interleave_read_seq1_fq', so I know it won't work:

copying build

[2015-09-28 01:07] luizirber commented on #1226
We use [nose][1] to run our tests, and it should autodetect the new file and run the tests.

To run a specific test, you can use
`python setup.py nosetests --tests tests.test_scripts:test_interleave_read_seq1_fq`
you probably want to replace `tests.test_scripts:test_interleave_read_seq1_fq` with `tests.test_read_handling:test_interleave_read_seq1_fq`

[1]: https://nose.readthedocs.org/en/latest/

[2015-09-28 04:41] ljcohen commented on #1226
worked,thank you! Ran Jenkins and failed 1 tests with `./setup.py nosetests --tests tests.test_scripts:test_load_into_counting_autoargs_0`

[2015-09-28 18:02] ljcohen commented on #1226
merged #1315

[2015-09-28 18:02] #1226 closed

[2015-09-28 18:19] ljcohen commented on #1300
I will work on this.

[2015-09-28 19:08] macmanes commented on #724
I'll +1 the idea of being able to spit out a fasta file of kmers like `jellyfish dump` does. I assume this functionality does not currently exist. (?)

[2015-09-28 19:24] ctb commented on #724
@macmanes - see sandbox/count-kmers.py and sandbox/count-kmers-single.py.

[2015-10-07 02:36] rob-p opened #1318 "Installation can use wrong nosetests"
I was following the [khmer v2.0 install instructions](https://khmer.readthedocs.org/en/v2.0/user/install.html) on OSX 10.10.5.  Everything seems to work fine until the point when I actually try to run the tests:

[code]

After some fiddling around, it became clear that this is because the virtual environment was using the system install of `nosetests`, which was failing to find the `khmer` package

[2015-10-07 13:05] ctb commented on #1318
Thanks, Rob, we have to go through the install documentation more closely,
it seems!

The error is a known problem on Mac OS X.  Links when I get a chance.

best,
--titus

[2015-10-08 09:45] mr-c commented on #1318
@rob-p I'm glad you were able to fix the nosetest problem. As noted in the docs you linked to "If you are running an OSX system you should also add !linux to prevent linux-specific tests from failing."

So `khmerEnv/bin/nosetests khmer --attr '!known_failing,!huge,!linux'` should work. Perhaps we should make that more prominent?

[2015-10-10 23:03] souravsingh commented on #994
I have successfully built khmer and the tests passed successfully.

[2015-10-12 04:47] mr-c opened #1319 "Python type checking"
- [ ] add type annotations using PEP 484 stub files in parallel to `khmer/*.py` `scripts/*.py` `sandbox/*.py` https://www.python.org/dev/peps/pep-0484/#stub-files
- [ ] add Makefile target to check types https://github.com/JukkaL/mypy
- [ ] add this test to Jenkins

[2015-10-14 23:42] luizirber commented on #1319
Are there plans to submit it to [typeshed][1]?

[1]: https://github.com/python/typeshed

[2015-10-15 06:24] mr-c commented on #1319
It is a good idea, but not on my personal to-do list.

On Thu, Oct 15, 2015, 01:42 Luiz Irber <notifications@github.com> wrote:

[2015-10-24 15:09] ctb commented on #1035
hey @luizirber what is the prognosis for adding minifloat into khmer?

[2015-10-25 13:26] ctb opened #1320 "normalize-by-median fails with -o/--output when multiple input files are given"
In the main loop of normalize-by-median.py, the outfile is closed after each input file - this causes problems when there are multiple input files.  See code:

https://github.com/dib-lab/khmer/blob/53484edfaa5ff0f7c088e084b00f528d781d4c10/scripts/normalize-by-median.py#L403

To reproduce:

    scripts/normalize-by-median.py data/100k-filtered.fa  data/100k-surrendered.fa -o xxx

which yields:

[2015-10-25 13:30] ctb commented on #1320
(Reported by Marcelino Suzuki - thanx!)

[2015-10-28 19:25] #1320 closed

[2015-10-30 13:35] ctb commented on #1035
another question, @luizirber - do you know how to increment minifloats?

[2015-10-31 16:15] ctb opened #1322 "khmer 2.0 doesn't compile under g++ 4.4.7"
(This is the version of gcc/g++ installed on the MSU HPCC.)

I swapped out '-std=c++11' for '-std=gnu++0x' and got through most of the compilation, until:

[code]

which seems to be having problems with this code:

[code]

Can this be re-written in a more backwards-compatible way, @camillescott?

ref #1231

[2015-11-01 15:36] ctb commented on #1322
Turns out the HPC has a much updated version of GCC available under the GNU package --

[code]

[2015-11-01 15:36] #1322 closed

[2015-11-01 22:16] hyphaltip opened #1323 "unpaired read dataset generated when running collect-reads"
Running (master 53484edfaa5ff0f7c088e084b00f528d781d4c10 )
./khmer/sandbox/collect-reads.py -M 32e9 -C 100 reads-fq-bigmem.kh reads.merged.fq.gz -o reads-fq-bigmem.100x.fq

I always get a /1 pair but not a /2 for the last read set output -- I can trim it off manually after everything but I assume this is unintended behavior?

[2015-11-01 22:24] ctb commented on #1323
On Sun, Nov 01, 2015 at 02:16:14PM -0800, Jason Stajich wrote:

The script doesn't treat /1 or /2 specially, so I'm not sure why you'd get
a bias unless it was present in the data.  Does that make sense?

[2015-11-05 07:13] souravsingh commented on #1319
I would like to work on this.How Do I start?

[2015-11-05 18:18] mr-c commented on #1319
Hello Sourav,

Thank you for your offer to contribute. There is a checklist in the issue
description. I have not personally added type notation to Python code
before so I don't have any specific advice. I recommend following the
developer guidelines for this project, particularly the part about opening
a pull request early in the development process.

FYI: I am no longer working on this project as

[2015-11-06 07:58] kdmurray91 opened #1325 "{Count,Node}Graph Compression"
Hi all,

I'm raising a new issue to talk about compression of CountGraphs (and Nodegraphs, by extension). My tool [kwip](https://github.com/kdmurray91/kwip) heavily utilises countgraph IO, and you can really see the overhead of either, a), gzip decompression, or b), uncompressed IO. This lead me to implement #1018, which cuts down on this overhead significantly. However, that has languished a bit,

[2015-11-08 17:59] ctb commented on #1074
keyword: compression.

[2015-11-08 17:59] ctb commented on #1325
Hi @kdmurray91, I have very little useful to add :). I'm not personally wedded to the notion that it has to be an external process, although I think there are good reasons to keep the gzip compression working that way.  (Interesting side note - given streaming, it would be more efficient to pipe things to gzip/from gunzip than have it be implemented internally!)

Also see the RRR compression in #1

[2015-11-09 06:27] kdmurray91 commented on #1325
@ctb OK, cool. I definitely think that whatever is implemented here should complement rather than replace gzip or bzip.

I also agree that the is no real need to have the external compression requirement for this use case. However, this raises a file-format issue, as it would be good to have a "compression" field to indicate any compression that has been applied internally, as opposed to in some e

[2015-11-09 13:46] mr-c commented on #1325
Great plan. Kevin, will we be able to link dynamically to a separately
packaged library during packaging for Debian?

On Mon, Nov 9, 2015, 00:27 Kevin Murray <notifications@github.com> wrote:

[2015-11-09 13:48] kdmurray91 commented on #1325
@mr-c Given that zstd has been officially released, yes, I'll make a package for it too.

[2015-11-09 14:15] ctb commented on #1325
Sounds good!

[2015-11-18 04:24] qingpeng commented on #1322
I got kind of similar problem while I tried to install khmer2.0 on NERSC HPC with lower version gcc (4.6.3). (requiring C++11 feature which is not supported by gcc 4.6.x). ( see below)

It worked when I switched the gcc to 4.8.1.
Hope this helps.

=====
    gcc -fno-strict-aliasing -g -O2 -DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes -fPIC -DVERSION=2.0 -DSEQAN_HAS_BZIP2=1 -DSEQAN_HAS_ZLIB=1 -

[2015-11-18 17:25] camillescott commented on #1322
Yup, the new graph traversal features require GCC 4.7 -- there's a
discussion on it somewhere from back when I was implementing them.

On Tue, Nov 17, 2015 at 8:24 PM, Qingpeng Zhang <notifications@github.com>
wrote:

--
Camille Scott

Department of Computer Science
Lab for Data Intensive Biology
University of California, Davis

camille.scott.w@gmail.com

[2015-11-18 20:17] ctb opened #1327 "Look into on-disk structures for diginorm k-mer counting"
See motivation: https://github.com/dib-lab/dib-lab/issues/69

[2015-11-18 20:17] ctb commented on #1327
cc @drtamermansour

[2015-11-18 20:20] ctb commented on #523
Also see @drtamermansour reason for BAM support: https://github.com/dib-lab/dib-lab/issues/69

[2015-11-18 23:16] luizirber opened #1328 "test_fakelump_repartitioning failing with invalid iterator decrement"
There is an iterator error when running tests with debug information.

Info:
[code]

[2015-11-22 21:45] #1328 closed

[2015-11-26 00:22] luizirber commented on #1319
There is also a tool for stub generation:
https://github.com/o11c/stubtool

[2015-12-04 14:33] ctb opened #1331 "Develop a rubric for documentation completeness"
ref https://twitter.com/gvwilson/status/672782696121282561

[2015-12-29 15:44] ctb commented on #1322
From Chris Bills:

[code]

[2015-12-31 02:26] drtamermansour opened #1335 "make install-dependencies fails on HPC"
I get this exception:

Exception:
Traceback (most recent call last):
  File "/mnt/home/mansourt/env/lib/python2.7/site-packages/pip/basecommand.py", line 211, in main
    status = self.run(options, args)
  File "/mnt/home/mansourt/env/lib/python2.7/site-packages/pip/commands/install.py", line 305, in run
    wb.build(autobuilding=True)
  File "/mnt/home/mansourt/env/lib/python2.7/site-packages/pip

[2015-12-31 06:32] drtamermansour commented on #1335
More information:
I am trying to install the github version by cloning the repository. I am using the most recent version of virtualenv (13.1.2). Also I load GNU/4.7.1 because I know that the default GNU/4.4.5 does not allow khmer installation

[2015-12-31 07:43] drtamermansour opened #1336 "pip installation on HPC does not pass tests"
I installed khmer on HPC according to the guidelines on http://khmer.readthedocs.org/en/v2.0/user/install.html
The testing step failed with this error

ERROR: khmer.tests.test_scripts.test_check_space
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/opt/software/Python/2.7.2--GCC-4.4.5/lib/python2.7/site-packages/nose/case.py", line

[2016-01-03 06:11] drtamermansour commented on #1336
This was a temporary issue related to the home disk space of HPC. I communicated with with and issue was solved

[2016-01-03 06:12] #1336 closed

[2016-01-19 04:58] luizirber opened #1337 "Add codecov.io for coverage reports on GitHub"
(Still need an addon, though).

Discussion and examples:
https://github.com/cloudpipe/cloudpickle/pull/48#issuecomment-169821928

[2016-01-19 14:50] bede opened #1338 "How to debug 'Unpaired reads when require_paired is set!' ?"
I have a some interleaved reads which `normalize-by-median.py` doesn't like in paired end mode. They have been interleaved using `interleave-reads.py`
Command:
[code]
Error:
[code]
I've put these reads them through a paired read validation script and they pass. A small subset of the reads works fine. Is there a way to get Screed to report the culprit line(s)? How do I debug this issue? I've set th

[2016-01-19 14:51] ctb commented on #1338
On Tue, Jan 19, 2016 at 06:50:18AM -0800, Bede Constantinides wrote:

yes, something I've seen enough times myself to want to provide more debugging
info :)

I can give you some python code to run... what do you think would be useful
output? Just the names of the reads?

thx

[2016-01-19 14:52] bede commented on #1338
Woah that was fast! Yes please, do share @ctb

[2016-01-19 14:58] ctb commented on #1338
[code]

should print the offending reads - you can add 'require_paired=True'
to broken_paired_reader to have it raise an exception, and/or just
exit after the first print, too.

HTH! And let me know where the bug is... <sigh>

Come to think of it - I'm guessing it would be useful (to me, if no one else)
if khmer were to save the offending context to a file.  Hmm.

[2016-01-19 15:17] bede commented on #1338
Thanks Titus! I'm not seeing any reads reported by your script...

Any ideas?

normalize-by is definitely failing

[code]

[2016-01-19 15:24] ctb commented on #1338
On Tue, Jan 19, 2016 at 07:17:56AM -0800, Bede Constantinides wrote:

OK - one last thing to try. There's a bug in broken_paired_reader
where, if one sequence is shorter than k in length, it's ignored;
this triggers complaints about broken pairing.  Could it be that
some of your sequences have been truncated to be shorter than the
k you're using?

(There's an issue file for this that I can't find

[2016-01-19 15:28] bede commented on #1338
Ahah! I normally use trimmed/filtered reads but these are virginous, so I bet that's the issue. Will confirm after coffee.

[2016-01-19 15:52] bede commented on #1338
You were spot on – shortest read was 20bp. Dropped to 19-mers and all works.

Relevant issue:
'Test all scripts/ for appropriate behavior when len(read) < K'
https://github.com/dib-lab/khmer/issues/859

I've had a look at `utils.py`… It appears a fix might involve passing `min_length` to `check_is_pair()` ?
Sound plausible? I'll struggle more with the test I imagine.

[2016-01-19 15:55] bede commented on #1338
...I suppose the correct default in paired mode is to ditch both reads if the length of either read is < k

[2016-01-30 22:01] ljcohen opened #1340 "ERROR: sequence and accuracy strings must be of equal length"
What does this error mean? Any idea how I can fix it? Strange thing is that I'm running this on hundreds of files, but only got this error on one.

`ERROR: sequence and accuracy strings must be of equal length`

Ran across this thread from a few years back, but couldn't find an answer:
http://lists.idyll.org/pipermail/khmer/2013-November/000492.html

This was the command:
[code]
Output:
[code]

[c

[2016-01-30 22:17] ctb commented on #1340
There is a FASTQ record in which the quality string doesn't match
the length of the sequence in the record.  Probably caused by file corruption
of some sort.  How far through the file are you?

[2016-01-30 23:28] ljcohen commented on #1340
Yes, I see the problem now. Thank you. The last record of the orphans.fq has a short quality line (below).

In going back and looking at all the predecessor files, discovered this is from - at least - before ut output from Trimmomatic. Will go back and run again to see.

[code]

[2016-01-30 23:30] camillescott commented on #1340
I've had this happen with Trimmomatic in cluster environments; it doesn't
seem to handle disk errors properly, and will produce truncated files. It's
likely many reads are missing from the end as well.
On Jan 30, 2016 3:29 PM, "ljcohen" <notifications@github.com> wrote:

[2016-02-01 05:21] ljcohen commented on #1340
This has led to discovering another error in how files were named (couldn't find which raw fq to go back to run Trimmomatic), which is a whole separate issue having nothing having to do with khmer so will close this issue.

Am very glad to have gotten this error causing me to hunt back and look through all the files before getting too much farther into the assembly/analysis, so thank you!

[2016-02-01 05:21] #1340 closed

[2016-02-01 14:32] ctb commented on #1340
On Sun, Jan 31, 2016 at 09:21:06PM -0800, ljcohen wrote:

ummmm you're welcome?

[2016-02-04 07:00] ljcohen opened #1341 "normalize-by-median.py - ERROR: I/O operation on closed file"
Received the error below, looks similar to issue #1320. My original .fq file was combined from several runs to cut down on number of files to work with. Not sure if that makes a difference?

[code]
This was the original command:
[code]

[2016-02-04 14:56] ctb commented on #1341
Yes, this is the same as #1320; fixed in #1321.

[2016-02-04 14:56] #1341 closed

[2016-02-04 19:01] ljcohen commented on #1341
Got it, thank you. Installed development version and works now.

[code]

[2016-02-15 20:38] kdmurray91 commented on #1325
In the interest of having only one issue to forget about, I'm closing this. See the zstd PR (#1018) for further info.

Cheers,
K

[2016-02-15 20:38] #1325 closed

[2016-02-26 15:34] ctb opened #1344 "Prevent -N from being set higher than ~20"
People seem to pick parameters somewhat arbitrarily and there's never a good reason to go higher than 20!

(Although allow override with -f just in case.)

[2016-03-08 01:12] warthmann opened #1345 "set operations in khmer"
Hello,
I was wondering if you could implement set operations, such that khmer hashes (i.e., .ct.gz files) can be added, subtracted, joined and intersected, etc. that would be nice.

best
Norman

[2016-03-17 09:16] blubse commented on #407
I am working on this issue

[2016-03-17 10:04] blubse commented on #407
What exactly do we want here? I have looked into the code a bit and it looks like the scripts with multi-threaded test have one test with threading. Is this enough or do we want to run every test for the script with single and multi-threading?

[2016-03-20 17:22] blubse commented on #1259
I will work on this

[2016-03-20 18:00] mr-c commented on #1259
@blubse Great! Let us know if you have any questions.

[2016-03-24 17:07] blubse commented on #1259
Is it OK to use a library which is licensed under the MIT license?

[2016-03-24 17:14] ctb commented on #1259
@blubse should be ok, but in general we want to minimize dependencies. What library are you thinking of?

[2016-03-24 17:22] blubse commented on #1259
https://humanfriendly.readthedocs.org/ But If you don't want an extra library it should not take me too long to reimplement the needed function.

[2016-03-24 17:33] ctb commented on #1259
Happy to consider. We can also make it an optional dependency. Pure Python dependencies are much easier than not, too.

What is the full range of functionality you're thinking of here? I'm not even sure what samtools supports, frankly.

[2016-03-26 11:22] ctb opened #1347 "hashtable_count in _khmer.cc should take k-mer hashes as well as k-mer strings"
Right now, it only takes in k-mer strings.

[2016-03-26 13:21] ctb commented on #1345
Hi @warthmann,

we have unions on Nodegraph (see the update_from function), and could extend this functionality to Countgraphs.  I think intersections would be possible.  But, in general, you can't directly remove things from Bloom filters.

We'll put it on the feature list :)

[2016-04-03 13:24] ctb opened #1348 "Can Countgraph/Nodegraphs be pickled?"
Running into some issues that seem like they cannot --

[code]

[2016-04-04 22:40] luizirber commented on #1348
They can, but we need to implement `__reduce__` for our C++ classes:
https://docs.python.org/3/library/pickle.html#object.__reduce__

On Sun, Apr 3, 2016 at 6:24 AM, C. Titus Brown <notifications@github.com>
wrote:

[2016-04-07 16:40] ctb opened #1349 "Under Python 3, get_n_primes_near_x returns a float."
This should be changed to an integer, as in Python 2.

[2016-04-07 16:41] soundar-git commented on #1009
Python 2.6.6 is default on RHEL 6.7 server.  Do we have any enterprise support with this version to build? Please share the details.

[2016-04-07 16:55] ctb commented on #1009
Hi, @soundar-git, we don't have the resources to maintain compatibility across old versions of Python and GCC, I'm afraid. However, you can go with khmer 1.4.1 for most of the core functionality - see https://github.com/dib-lab/khmer/releases/tag/v1.4.1.

[2016-04-07 18:31] luizirber commented on #1349
Do you have a test case? Seems to work here:

Python 3.5.1 (default, Jan 11 2016, 11:34:42)
[GCC 4.2.1 Compatible Apple LLVM 7.0.2 (clang-700.1.81)] on darwin

[code]

[2016-04-07 19:46] luizirber commented on #1349
Oh, I see: if you give target as a float, it returns a float instead ([example][1]).

See https://github.com/dib-lab/khmer/compare/fix/1349 for a test case and possible solution.

[1]: https://github.com/ctb/sourmash/blob/a70e61808c7b3e739d152b1434c9666976fe607e/sourmash.py#L35

[2016-04-26 14:44] mooreryan opened #1352 "Estimates of runtimes for load-graph and partition-graph"
This isn't so much an issue as a question....

Are there estimates for how long the `load-graph.py` and `partition-graph.py` programs take to run?

I'm currently running `load-graph.py` on a sample with ~400 million unique 20mers which has been running for ~6300 cpu minutes.

If you have any way to estimate run time from experience or any other way that would be great.

[2016-04-26 15:05] ctb commented on #1352
Hi Ryan,

load-graph should not take that long. partition-graph ... is a different
story.

What are you trying to do and what process have you followed thus far?

best,
--titus

[2016-04-27 07:53] dkoslicki opened #1353 "khmer.hash_murmur3 returns 0 for sequences that are self complement"
It appears that khmer.hash_murmur3 always returns 0 for sequences that are reverse complement to themselves.

Note:

[code]

etc.

This may be due to something like line 179 of lib/kmer_hash.cc where a bitwise xor is performed on the hash of the sequence and its reverse complement.

[2016-04-27 14:29] ctb opened #1354 "what needs to be done to switch khmer over to using py.test?"
I'm pretty sure @luizirber knows the answer to this and already has it working...

[2016-04-27 15:10] luizirber commented on #1354
See #991

[2016-04-27 17:46] mooreryan commented on #1352
Sorry, I meant `normalize-by-median.py` not `load-graph.py`.... `normalize-by-meadian` and `partition-graph` are the ones taking the time.

Just trying out the diginorm + partitioning on some of my microbial fraction metagenomic libraries. I've been using [this](http://khmer.readthedocs.org/en/v2.0/user/partitioning-big-data.html?highlight=partition) and [this](http://khmer-protocols.readthedocs.o

[2016-04-27 17:49] luizirber commented on #1353
(in times like these I wish GitHub had /facepalm emojis...)

Yes, of course! I opened #1355 to work on it. As you can see the tests for mumur3 are very basic, thanks for pointing it out @dkoslicki!

[2016-04-27 17:51] ctb commented on #1352
Ahh!

OK.  We've been told of a bug in the past where normalize-by-median runs
forever.  This shouldn't happen, obviously (and in fact if it doesn't print
output pretty regularly, then it's stuck).   If you can reproduce this
bug reliably then I am very, very interested...

If you just want to get your data out,

* make sure you're using khmer v2.0
* try modifying the -x 25e9 parameter to be large

[2016-04-27 18:37] ctb commented on #991
Please go ahead and open a PR; nose is no longer being developed, and I guess we must move with the times :) :(

[2016-04-27 21:18] dkoslicki commented on #1353
Happy to help!

[2016-04-29 12:55] #1337 closed

[2016-05-08 09:56] mr-c commented on #1338
@bede I think keeping data is a better default than silently dropping data though that might be a complicated code path.

[2016-05-09 04:16] #1277 closed

[2016-05-10 19:06] standage opened #1359 "Syntax error in text_read_parsers"
I can reproduce the error below with the following configurations.

- Python 3.5, OS X
- Python 3.4, OS X
- Python 3.5, Ubuntu 16.04

[code]

Oddly enough, I don't see the error in Python 2.7 on OS X, and I get a different error for Python 2.7 on Ubuntu.

[2016-05-10 23:57] reedacartwright opened #1360 "Support paired-end reads to slice-reads-by-coverage"
`slice-reads-by-coverage` does not support paired-end reads.

The program should allow two input files and two output files to be specified and only output a pair if both reads have good coverage.  If one member of a pair has good coverage, it can be optionally sent to a third output file.

[2016-05-11 12:35] ctb commented on #1359
Should be fixed in #1361.

[2016-05-11 13:35] ctb opened #1362 "trim-low-abund ... --gzip -o <filename> creates invalid gz files"
Witness:

     % scripts/trim-low-abund.py data/25k.fq.gz  data/100k-filtered.fa --gzip -o xxx.gz
     % gunzip xxx.gz

     gunzip: data stream error
     gunzip: xxx.gz: uncompress failed

[2016-05-11 13:36] ctb opened #1363 "`trim-low-abund.py ... --gzip -o -` fails on Python 3"
Witness:

[code]

[2016-05-11 13:38] ctb commented on #1363
Similar issue elsewhere, may contain the relevant fix: https://github.com/tensorflow/tensorflow/issues/470

[2016-05-11 13:40] ctb commented on #1363
Note, works fine under Python 2.7.

[2016-05-11 13:52] ctb commented on #1362
Fixed in #1138 commit c73d03d54.

[2016-05-11 14:16] ctb commented on #1363
See https://stackoverflow.com/questions/4374455/how-to-set-sys-stdout-encoding-in-python-3 for actual fixes.

[2016-05-11 14:18] ctb commented on #1363
Fixed in #11138 by commit 8cdf2edfc0419.

[2016-05-11 16:27] ctb commented on #1363
Note to @luizirber this probably needs expert review.

[2016-05-11 16:32] hiraksarkar opened #1364 "Request for a c++ api example for new version."
Hi,
I am searching for a simple way (**in C++**) to build hash tables without specifying hash sizes, which would be C++ counter part of this,
ktable = khmer.new_ktable(6),
I understand that ktable is **removed** after version 1. In that case it would be great if there is something close to it (C++) in new versions. Thanks!

[2016-05-11 16:45] ctb commented on #1364
See #1365. You still have to specify the hash size but it can be computed as 4**k. It's fairly easy to fix up in the C++ interface if you end up using khmer; just poke us.

[2016-05-11 16:52] ctb commented on #1364
(We primarily use the C++ API via Python, but we are getting an increasing number of requests to clean it up. It can be a full priority until we have more developers, but more people => higher priority... :) cc @kdmurray91 @blahah.

[2016-05-11 17:27] #1359 closed

[2016-05-11 18:58] ctb commented on #1363
OK, this totally doesn't work. Working on it.

[2016-05-11 19:03] luizirber commented on #1363
We'll probably need something like this:
https://books.google.com/books?id=f7wGeA71_eUC&pg=PA163&lpg=PA163&dq=sys+stdout+detach&source=bl&ots=Xii20cj-Pl&sig=tyqjgQnUZfqdkaPMmLjHwskQ2-8&hl=en&sa=X&ved=0ahUKEwj4-aL9wNLMAhVP9mMKHSq4BUUQ6AEIVTAJ#v=onepage&q=sys%20stdout%20detach&f=false

I started rewriting `get_file_reader` as a context manager (so we can return `sys.stdout` to the original configura

[2016-05-11 19:12] ctb commented on #1363
OK. I think I may remove it from #1138 in the interests of getting that merged...

[2016-05-11 19:13] luizirber commented on #1363
:+1:

[2016-05-11 19:22] ctb commented on #1363
Working branch is #1367; has a test but no fix.

[2016-05-11 19:26] camillescott commented on #1363
I ran into a similar issue recently; it was fixed by changing mode of the file object. The culprit might be here: https://github.com/dib-lab/khmer/blob/master/scripts/trim-low-abund.py#L119

`wb` should probably just be `w`. Will test shortly.

[2016-05-11 19:31] standage opened #1368 "C++ I/O exception on Fedora 23"
I get the following issue when running `make test` with the current master on Fedora 23.

[code]

[2016-05-11 19:35] luizirber commented on #1368
I'm seeing similar errors with Arch Linux, seems to be a change on GCC 5
stdlib

On Wed, May 11, 2016, 12:31 PM Daniel Standage <notifications@github.com>
wrote:

[2016-05-12 01:36] ctb commented on #1362
Fix merged!

[2016-05-12 01:36] #1362 closed

[2016-05-12 01:38] ctb commented on #1065
Merged in #1138; see --diginorm and --diginorm-coverage options. Equivalence with normalize-by-median.py tested in tests/test_script_outputs.py.

[2016-05-12 01:38] #1065 closed

[2016-05-12 01:39] ctb commented on #1056
Merged in #1138; see option --single-pass.

[2016-05-12 01:39] #1056 closed

[2016-05-12 15:28] ctb commented on #1229
Graph traversal is being extended and expanded in #1351 and also https://github.com/spacegraphcats/spacegraphcats/, 'walk-dbg.py'.

[2016-05-12 15:29] ctb commented on #726
See new function `traverse_linear_path` in #1351, which is being used to create a compact DBG in https://github.com/spacegraphcats/spacegraphcats/, 'walk-dbg.py'.

[2016-05-12 16:41] ctb opened #1369 "Meta issue for lapsed subprojects"
As new people join the lab, I'd like to keep a running list of projects that are lying (scientifically) fallow so that they can take a look.

* graph based error correction, variant calling, abundance estimation - see http://ivory.idyll.org/blog/2015-wok-notes.html
* labelhash and pan-genome work - see http://ivory.idyll.org/blog/2015-wok-notes.html
* streaming partitioning and/or assembly;

[2016-05-12 16:42] ctb commented on #1369
* variant calling on diginormed data sets ( @drtamermansour )

[2016-05-15 02:13] ctb commented on #1347
Fixed in #1370 commit fc308127

[2016-05-16 03:17] luizirber commented on #689
A quick hack to check how `sparsetable` from sparsehash behave:

https://github.com/dib-lab/khmer/compare/feature/sparsehash

Notebook with the results (and plot):
https://github.com/dib-lab/khmer/blob/792d58c061e69adade744832ebc2dbd84350af51/bench/Benchmark.ipynb

Command for generating the output files (using pidstat)
[code]

So... The overhead is quite big, it ends up using almost double the me

[2016-05-16 13:17] ctb commented on #689
Hi @luizirber, this is sort of expected, right? Our existing approach is optimized for memory (first), and should be quite fast; it's going to take a lot of specific engineering to compete. But the API can be valuable.

[2016-05-16 19:26] #991 closed

[2016-05-16 20:06] luizirber commented on #1354
Done =]

[2016-05-16 20:06] #1354 closed

[2016-05-17 14:04] standage commented on #1140
Weird. I'm now seeing the following errors on Ubuntu 16.04 (Python 2.7 and 3.5), but not on Mac.

[code]

I'm still trying to wrap my mind around the error handling and passing between C++ and Python.

[2016-05-17 14:46] mr-c commented on #1140
@standage I see this sometimes on Debian 'sid' unstable, it seemed to be bugs in their Python compilation that I never tracked down. Seems that bug has made it into Ubuntu :-/

[2016-05-17 14:49] ctb commented on #1140
On Tue, May 17, 2016 at 07:46:43AM -0700, Michael R. Crusoe wrote:

Yep. I also see it on AWS VMs pretty regularly.

[2016-05-18 18:54] standage opened #1373 "Minor fixes for documentation needed"
- [x] The docs still refer in several places to `khmer/_khmermodule.cc` which, as far as I can tell, has been renamed to `khmer/_khmer.cc`.
- [x] Replace all references to readthedocs.org to readthedocs.io (see [this](http://blog.readthedocs.com/securing-subdomains/)).

Anything else?

[2016-05-18 19:08] standage commented on #1373
- [ ] Update the CPython checklist, replace `init_khmer` with `MOD_INIT`.

[2016-05-20 19:20] standage commented on #1373
- [ ] In 3-pass diginorm documentation, `--cutoff=1` should be at least `--cutoff=2`.

[2016-05-28 20:58] caitsydney commented on #1225
Working on this issue

[2016-05-28 22:09] camillescott commented on #1225
You might try following this pattern: https://github.com/camillescott/dammit/blob/master/dammit/tests/utils.py#L68

You'd have to add in support for multiple files and whatnot, but the `with TestData('data.fa', directory) as testdata: ...` pattern has been pretty nice for dammit's tests.

[2016-05-29 17:54] caitsydney commented on #1225
@camillescott - not sure I'm following. What's the benefit to doing this instead of just adding a `copy_test_data(testfile)` function to `khmer_tst_utils.py`? Is it because then we can use `with`?

[2016-05-29 21:53] luizirber commented on #1225
The `with` statement does the cleanup (deletes the temporary file after
usage).

On Sun, May 29, 2016 at 10:54 AM, Cait Sydney <notifications@github.com>
wrote:

[2016-06-01 14:01] ctb commented on #1225
The CLEANUPLIST mechanism is also fine to use & the code is simpler. I don't think it matters which one you use.

[2016-06-10 15:35] ctb opened #1378 "refactor consume_fasta function(s)"
We've had a challenging profileration of consume_fasta functions...

From @camillescott comment in labelhash.cc:

[code]

[2016-06-11 19:57] ctb opened #1379 "enable composition of graphs, with not, and, or"
e.g. it'd be nice to be able to "delete" nodes by masking them with a bloom filter/nodegraph, as I've been doing in https://github.com/dib-lab/khmer/pull/1372.

[2016-06-11 19:58] ctb commented on #1379
The composed graph(s) would probably have to be read only, of course.

[2016-06-13 00:08] ctb opened #1381 "filter-abund-single.py should support -o/--out"

[2016-06-13 00:19] ctb opened #1382 "filter-abund-single.py should support variable coverage trimming"
See the -V and -Z parameters on filter-abund

[2016-06-14 06:07] wwood opened #1384 "screed test failure"
Hi,

I'm attempting to package screed and khmer for GNU Guix. I came across this error when running the screed tests. On first glance, it seems the test is streaming in gzip data when the reader explicitly disallows it. So is this an expected failure? All the other tests pass.

This is with the 0.9 code from pypi.

[code]

Thanks,
ben

[2016-06-14 06:34] wwood commented on #1384
And on second glance I see that each of those two has `@attr('known_failing')` above it. So then all tests pass running `nosetests --attr '!known_failing'`. However, this is not what `python setup.py test` does. Perhaps this an issue or not, I'll let you maintainers decide. Thanks.

[2016-06-14 12:10] ctb commented on #1384
thank you for reporting this!

[2016-06-14 13:29] ctb opened #1385 "Add HLL preprint to unique-kmers.py"
biorxiv.org/content/early/2016/06/07/056846 should be mentioned in the 'info' output.

[2016-06-15 13:50] betatim commented on #1291
What is it we want to achieve with this?

On the idea of the PR hack: http://rfc.zeromq.org/spec:42/C4/ there is a lot of thinking in that document and I wonder if you need to adopt some of those ideas in addition to "give people commit rights".

From super small repos and bigger ones (like `nteract/nteract`) it seems that giving people commit access mostly leads to them not using it. IMHO you nee

[2016-06-17 16:13] standage commented on #1373
I did some experiments on the plane yesterday to confirm that `-C/--cutoff` behaves as expected: that is, < instead of ≤ as in the docs.

[2016-06-17 21:12] standage opened #1387 "`test_countgraph.py:test_load_truncated` core dumps in Fedora 23"
Walking through the function interactively, it's fine until the following.

[code]

I don't have much experience with C++ exception handling, and therefore not much intuition for what's happening at that level. At the Python level, it's clear that the the `load_countgraph` command is supposed to evoke some OS error, which Python is supposed to wrap and handle. Why this works on Jenkins and my lapt

[2016-06-20 13:49] ctb commented on #1387
@standage, I've noticed that more recent versions of gcc are better about
flagging certain kinds of issues, including memory leaks.  In this case it
doesn't look like that kind of issue, but by analogy it's likely to be
something version related :)

What version of gcc are you using?

Do you want some help tracking down the line number? You should be able to
do something like 'gdb python' and then

[2016-06-20 17:49] standage commented on #1387
5.3.1

How long does `where` typically take to print out the stack trace? The first dozen or so items print out very quickly and then the stack trace printing slows down considerably. I've run gdb several times, and each time I just quit the stack trace printing after 10-15 minutes / 50-60 items. Should I wait longer?

Here's a sample of what I see: looks much more like core Python code than khmer

[2016-06-20 18:23] ctb commented on #1387
On Mon, Jun 20, 2016 at 10:49:14AM -0700, Daniel Standage wrote:

I've never seen that. I have no idea!

You will see core Python code b/c we are a CPython library.

[2016-06-20 19:29] standage commented on #506
The following errors still remain.

(cppcheck version 1.67 on Debian jessie)
[code]

(cppcheck version 1.61 on Ubuntu 14.04)
[code]

I've poked around a bit, and it looks like these are mostly false positives. Should we use inline suppressions here?

[2016-06-20 19:30] ctb commented on #506
+1

[2016-06-22 19:25] standage commented on #506
Closing. See #1388.

[2016-06-22 19:25] #506 closed

[2016-06-22 21:02] standage opened #1389 "Conflicting messages from check_input_files and check_space_for_graph"
In reviving a dead PR (see #1343), I noted a conflict between `check_input_files` and `check_space_for_graph` in `kfile.py`. Both functions, upon failure, will emit a message instructing the user to override the default "safe" behavior of the function by using the `--force` option. This presents a problem for scripts that call both functions: a user cannot override "safe" behavior in one function

[2016-06-23 14:48] ctb commented on #1389
On Wed, Jun 22, 2016 at 02:02:11PM -0700, Daniel Standage wrote:

Yeah, '--force' turned out to be more complicated than we wanted :)

But, -0 on doing anything about it now; it seems rather rare that you will run
into either condition, much less a situation where both conditions hold but you
want to force only one of them and then have it fail on the second.

[2016-06-23 16:02] standage commented on #1389
Agreed that this is a low-priority issue.

[2016-06-23 23:39] #1254 closed

[2016-06-25 13:42] ctb opened #1391 "khmer docs builds failing"
https://readthedocs.org/projects/khmer/builds/

ht @mr-c

[2016-06-26 22:32] ctb opened #1393 "khmer v2.1 - next release after 2.0"
Notes:

With #1380 we will be adding --quiet to many scripts, so we need to increment minor version number.

[2016-06-27 13:52] #1381 closed

[2016-06-27 16:06] standage commented on #1391
This isn't related to the oxli.org domain renewal is it?

[2016-06-27 16:24] standage commented on #1393
We don't have a specific checklist or timeline slated for this release, do we?

[2016-06-27 17:24] ctb commented on #1391
No, it looks like ci.oxli.org itself is down; this is where @mr-c was
hosting his special sphinxcontrib module, I guess?

To get it working again, we need to adjust the install of:

sphinxcontrib-autoprogram==0.1.1-khmerdev-20140331

[2016-06-27 17:37] mr-c commented on #1391
I believe all the khmer specific changes were upstreamed in
sphinxcontrib-autoprogram

On Mon, Jun 27, 2016 at 1:24 PM, C. Titus Brown <notifications@github.com>
wrote:

--
Michael R. Crusoe
Community Engineer & Co-founder
Common Workflow Language project
https://impactstory.org/u/0000-0002-2961-9670
michael.crusoe@gmail.com
+32 (0) 2 808 25 58
+1 480 627 9108

[2016-06-27 17:38] ctb commented on #1391
cool, then it should just be a matter of fixing up the requirements!

(See

https://readthedocs.org/projects/khmer/builds/4143093/

for the specific details of the build failure.)

[2016-06-27 18:07] ctb commented on #1391
looks like it, @mr-c - https://bitbucket.org/birkenfeld/sphinx-contrib/src/4f83b4da94182a4145b2e1814766be610c19953c/autoprogram/sphinxcontrib/autoprogram.py?fileviewer=file-view-default

[2016-06-27 20:31] #1391 closed

[2016-06-27 21:00] ctb opened #1395 "Refactor citation checking code"
The function `check_version_and_basic_citation(...)` in `tests/test_scripts.py` looks at the output of running the scripts with "--version" to see if the `info(...)` command is present and reporting at least some required citations.  However, when argument processing needs to happen before 'info' as is the case for scripts with `--quiet` enabled, this doesn't work.  How can we fix this generically

[2016-06-27 21:03] ctb commented on #1393
Nope!

We should revisit the '2.0+' issues and retag them as '2.1' as necessary.

[2016-06-27 23:30] #1272 closed

[2016-06-28 02:52] standage commented on #1249
@ctb I'm -0 on this one.

[2016-06-28 03:02] standage commented on #1246
Was this pursued at all. If not I'm inclined to close, or punt at the very least.

[2016-06-28 04:22] standage commented on #1280
No issues now on Ubuntu 14.04 with branch v1.4.1 or with latest master, closing.

[2016-06-28 04:22] #1280 closed

[2016-06-28 04:54] mr-c commented on #1246
I didn't follow up, no. The Jenkins install and plugins are out of date on
ci.oxli.org last I checked.

[2016-06-29 17:43] ctb commented on #1246
sure, close w/wontfix

[2016-06-29 17:43] ctb commented on #1249
why? too confusing?

[2016-06-29 17:48] standage commented on #1249
Mostly for the HPC / shared environment issue you raised above. I think #1259 would be great in terms of use experience.

[2016-06-29 17:51] ctb commented on #1249
Should be possible to do something sensible on default, like

* automatically grab 80% of available memory, up to 16 GB;
* ignore automatic behavior whenever -x, -N, -M etc specified.

Our memory parameter stuff is becoming a morass so ... simplification welcome :)

[2016-06-29 20:05] standage commented on #1249
Embarrassingly I've never had to worry about this much, so: with memory, do we compute 16 GB as `16 x 1000 x 1000 x 1000` or `16 x 1024 x 1024 x 1024`?

[2016-06-29 23:14] standage commented on #1259
Found the [humanfriendly](https://github.com/xolox/python-humanfriendly) package, but unfortunately it [doesn't handle units correctly](https://github.com/xolox/python-humanfriendly/issues/4). :(

[2016-06-30 15:16] #1246 closed

[2016-06-30 16:35] standage opened #1398 "k-mer abundance histogram on GAGE data set"
I'm reviewing a new k-mer counting tool and doing some accuracy assessments. The paper benchmarks on [GAGE](http://gage.cbcb.umd.edu/data/index.html) data, and I figured that would be an easy place to start.

I began by computing abundance histograms using exact algorithms from Jellyfish and Tallymer.

[code]

Reassuringly, these give the same exact results.

[code]

I then thought I'd do a sanity

[2016-06-30 16:41] ctb commented on #1398
very puzzling. no immediate idea. note the Zhang paper has all the code
online in github, might take a quick look at it.

[2016-06-30 17:44] standage commented on #1398
![jelly-vs-khmer](https://cloud.githubusercontent.com/assets/566823/16498219/e9e53a5e-3eb7-11e6-8dd3-af88b53f6c07.png)

[2016-06-30 17:49] ctb commented on #1398
Ns. ISTR that Jellyfish and khmer handle Ns differently.

[2016-06-30 18:55] standage commented on #1398
Tried converting all Ns to As, and checked for lower case characters (there were none). Still get this. :(

![jelly-vs-khmer-n2a](https://cloud.githubusercontent.com/assets/566823/16500447/d5ff34e0-3ec1-11e6-8e11-e81eaeb52915.png)

[2016-06-30 19:15] standage commented on #1398
Thanks for the reminder about the paper's code. Jellyfish doesn't count k-mers on both strands by default. Adding the `-C` flag to `jellyfish count`, as in the Zhang paper, gives this.

![jelly-vs-khmer-n2a-bothstrands](https://cloud.githubusercontent.com/assets/566823/16501030/9c37be50-3ec4-11e6-866b-097327dfc336.png)

[2016-06-30 19:15] #1398 closed

[2016-06-30 20:41] ctb commented on #1398
great, thx for chasing down!

[2016-07-01 00:15] ctb opened #1399 "check/re-enable progress indicators"
all scripts that iterate across data sets or graph nodes should have a progress indicator so that when run interactively they indicate they're alive. this is easy in Python but it was removed from some of the C++ code for various reasons (callback problems, etc.) - for example, I believe `load-into-counting.py` no longer outputs progress indicators.

For an example of what I mean by 'progress indi

[2016-07-03 21:19] caitsydney commented on #878
Was test_counting_hash.py renamed or moved somewhere else? Can't find it.

[2016-07-05 16:54] standage commented on #878
This is now `tests/test_countgraph.py` I believe.

[2016-07-05 19:36] caitsydney commented on #878
Cool. So I am working on this and have questions. :) I copied test_get_raw_tables_view and test_3_tables replaced 'consume' with 'count.' They passed.

But I tried the same with test_find_spectral_error_positions_4 and get 'ValueError: k-mer length must equal the k-mer size' - why?

Are there tests that make more sense to use count for?

[2016-07-06 11:44] ctb commented on #878
Good question! consume is used for strings longer than k, which are
decomposed into strings of length k which are then counted - this is a
core functionality of khmer.  count is the Python function that counts
a single k-mer, so you have to give it a string of exactly length k.

An easy (and good) approach would be to duplicate the functionality of
consume by using a for loop to extract all substr

[2016-07-06 12:03] #1259 closed

[2016-07-06 14:37] standage commented on #1259
@macmanes Human-friendly memory requests are available from the current master, and will be included in the v2.1 release. It allows K, M, G, or T as a suffix when requesting memory.

[2016-07-10 21:34] ljcohen opened #1402 "make: *** [khmer/_khmer.so] Error 1 on MSU HPCC"
Installing khmer dev version in a clean conda environment on msu hpcc, but it is failing. Any ideas?

Steps:
conda create -n khmer_dev anaconda
source activate khmer_dev
pip install -U setuptools --ignore-installed
git clone https://github.com/dib-lab/khmer.git
make install

[code]

[2016-07-10 21:50] ctb commented on #1402
see #1322

[2016-07-11 10:32] ctb opened #1403 "update release checklist"
For #1393, we'll have to update the release checklist.

Among other things, we've switched to py.test, which changes many things; see [release checklist for sourmash](https://github.com/dib-lab/sourmash/blob/master/doc/release.rst) which was adapted from the khmer checklist & updated.

[2016-07-11 14:52] ljcohen commented on #1402
Thank you! `module load GNU/4.8.3` worked and `make install` was successful.

Now `make test` is failing. Works fine on blank Ubuntu 14.04 AWS, so makes me think something specific to hpcc. Do I need to add or remove something from $PATH?

[code]

[code]

[code]

[2016-07-11 16:25] standage commented on #1402
Sorry I don't have more experience with the HPCC. I'll take a look when I have a chance.

[2016-07-12 11:03] ctb commented on #1402
*boggle* no ideas. That almost has to be a Python installation problem; are you using anaconda because @luizirber suggested it, or what?

[2016-07-12 21:12] ljcohen commented on #1402
I've used anaconda ever since @camillescott recommended it, and also from the khmer dev page: http://khmer.readthedocs.io/en/latest/dev/getting-started.html

Will try with virtualenv and see what happens.

[2016-07-13 22:55] ctSkennerton opened #1404 "Reordering reads after trim-low-abund.py"
I have trimmed my data using `trim-low-abund.py` using the following command:
[code]
It produces a *.abundtrim file for each of my input files however it appears that the order of the reads is different between the two files. I tried using the script `extract-paired-reads.py` to make files that reorder the pairs and split out the singles using the following:
[code]
This runs but throws an exceptio

[2016-07-14 03:25] standage commented on #1404
What does the first line of each Fastq record look like? Perhaps it is not declaring the pairing in a way khmer can recognize?

[2016-07-14 06:02] ctSkennerton commented on #1404
A couple of examples:
[code]
Pretty sure it was sequenced on a HiSeq3000 (at UC Davis)

[2016-07-14 11:10] ctb opened #1405 "Deploy copy_test_data in test functions."
As of #1400, code like this:

[code]

can be replaced by

[code]

We have well over 100 places in the tests/ code where this can be done.

So,  a good starter issue is to pick a file in tests, update throughout with copy_tests, verify tests pass, fun/profit!

[2016-07-14 11:10] ctb commented on #1225
Closed in #1400.

[2016-07-14 11:10] #1225 closed

[2016-07-14 15:36] standage commented on #1404
That looks like the Casava 1.8 format, which should be supported.

Is there any way you can provide a small subset of the data the reproduces the problem?

[2016-07-14 15:40] ctb commented on #1404
Connor, is this the data set I downloaded? I think so.

[2016-07-14 16:02] ctSkennerton commented on #1404
Yep, this is sample 7086 which you sequences for us, so I think you should have the full dataset

[2016-07-14 16:08] standage commented on #1404
@ctb, is this data generally accessible to lab members?

[2016-07-15 18:20] ljcohen commented on #1402
Got `make` to work with `python2.7 -m virtualenv env`, but 10 tests failed with `make test`:

test_trim_low_abund_k21_C0_M1e7_diginorm
test_trim_low_abund_k21_C0_M1e7_diginorm_dn15
test_trim_low_abund_k21_M1e7_C2
test_trim_low_abund_k21_M1e7_C3
test_trim_low_abund_k21_M1e7_C4
test_trim_low_abund_k21_M1e7_C4_variable
test_trim_low_abund_k21_M1e7_C4_variable_Z25
test_trim_low_abund_k21_M1e7_C4_varia

[2016-07-15 20:47] standage commented on #1402
Looks like an issue with the networked file system. Hopefully HPCC can shed some light.

[2016-07-17 13:18] ctb commented on #1404
(Apologies for delay -- course is keeping me busy!)

Hi @ctSkennerton, the read pairing format looks legit for khmer. My guess is that you're not interleaving the reads first -- I'm running

[code]
to do that.  I'll let you know how it turns out!

@standage, you can grab the reads here: athyra.idyll.org/~t/transfer/7086.fq.gz

It seems like a bit of a UX problem that trim-low-abund will take R1/R2

[2016-07-17 13:24] ctb opened #1406 "Test failures on ~recent Ubuntu (running on EC2)"
We've been getting test errors on Ubuntu EC2 instances... see [errors.txt](https://github.com/dib-lab/khmer/files/367846/errors.txt) for details. These are in

[code]

Looks like some sort of string corruption - I've seen this kind of thing when we're using `.c_str()` on std::string objects and keeping the pointer after the object goes out of scope and gets deallocated; it seems like different ver

[2016-07-18 01:03] ctSkennerton commented on #1404
I see, yeah didn't realize that the reads needed to be interleaved. Will this change affect the trimming of the data if the reads are interleaved or not?

[2016-07-18 12:00] ctb commented on #1404
It shouldn't affect the trimming, but the data will be out of order for
later processing and code like extract-paired-ends won't work.  If
done interleaved, pairs will stay together in the stream and then it's
easy to get the PE/SE, or left/right, or whatever you want.

[2016-07-18 13:39] ctb commented on #1404
My trim-low-abund command finished w/following results:

[code]

Something odd about this data set... need to think a bit more on it. Could it be that there's one pretty dominant set of critters and then a lot of low-abundance microbes? I'm surprised by how many reads were trimmed (indicating lots of high coverage) but how many k-mers there were in there (indicating lots of low-abundance critters)

[2016-07-18 13:55] ctb opened #1408 "Weird memory usage in abundance-dist-single.py"
Using the command:

[code]

I'm seeing 10 GB+ of RAM being used (see screenshot from top). More than 6 GB was requested and failed previously; this is on a 15 GB of RAM computer.

<img width="714" alt="screen shot 2016-07-18 at 9 53 18 am" src="https://cloud.githubusercontent.com/assets/51016/16916962/8b32a748-4ccd-11e6-98ff-a0ebf2c9678a.png">

[2016-07-18 15:16] ctb commented on #1399
abundance-dist-single is also not reporting progress through a large file.

[2016-07-18 16:08] #1406 closed

[2016-07-18 16:09] standage commented on #1404
I had no problems running `trim-low-abund` on that one data file on my laptop as follows. This is probably a small fraction of a larger dataset though, right?

[code]

[2016-07-18 16:24] ctb opened #1409 "Write tests for the uncovered exception blocks in CPython interface"
see esp comments https://github.com/dib-lab/khmer/pull/1407#issuecomment-233324725.

[2016-07-18 16:28] standage commented on #1368
Hmm, I thought this would have been fixed by #1407, but now on Fedora 23 I'm getting:

[code]

[2016-07-18 16:34] ctb commented on #1404
@ctSkennerton: total number of unique k-mers is 2786486327 *after trimming*. that's *2.8 billion k-mers.* WTH?

[2016-07-18 18:03] ctSkennerton commented on #1404
Haha, well it's a lot lower than the raw dataset which had *25 Billion* k-mers. Actually, this is one of the most diverse samples we have. Take a look below for the unique 32-mers in all of the metagenomes we have sequenced. (these numbers are all from untrimmed data)

I think though we are starting to get off topic of the original issue of reordering the reads, which I think can be solved by your

[2016-07-25 10:32] ctb opened #1411 "Add warnings or errors for counting args > 255"
e.g. see @bede [query re using diginorm cutoffs > 255](https://twitter.com/beconstant/status/757146635138990080)

For normalize-by-median and filter-abund and so on we could check to make sure that the parameters are sensible (> 0, < 255), and error out if not; but could allow force and/or point at the bigcounting parameter.

[2016-07-25 11:00] bede commented on #1411
Ah yes, many references to bigcount in other tools. I'll report back once I've had a chance to triage this.

[2016-08-09 15:44] betatim commented on #878
@caitsydney are you still working on this? (I am looking for a simple issue to work on to get into `khmer`)

[2016-08-11 12:34] betatim commented on #1382
I've started working on this.

[2016-08-15 12:20] betatim opened #1417 "OSX Jenkins is missing `enchant`"
The OSX build is failing because of a missing C library `enchant`. @standage or @ctb who do I talk to to get it installed? I couldn't find the script used to configure the environment for the CI builds. The following console output is taken from #1416 and you see the same in others.

[code]

[2016-08-15 17:11] standage commented on #1417
I am about 6 inches from the iMac that runs Jenkins builds, but I don't have credentials to access the machine. I'll see if Michael wrote these down anywhere.

[2016-08-15 17:52] betatim opened #1419 "Move to CI-as-a-service"
Investigate moving from ci.oxli.org to travis/circleci/your-favourite-ci-as-a-service.

How much of the current tests can be run within the time limit? How likely is it more resource intensive tests will happen soon? Would they still work?

OSX and linux support?

[2016-08-15 17:58] standage commented on #1419
I'm familiar with travis, and I don't anticipate any issues with migrating that direction

- Looks like there's [OS X support](https://docs.travis-ci.com/user/osx-ci-environment/).
- [Timing shouldn't be a problem](https://docs.travis-ci.com/user/customizing-the-build/#Build-Timeouts): we have 50 minutes, as long as no command goes 10 minutes without producing output. This far exceeds our current

[2016-08-15 18:02] mr-c commented on #1417
The `imac.oxli.org` hostname isn't working anymore so I can't log in remotely to fix this :-/

[2016-08-15 18:07] standage commented on #1417
Power's on, but not connected to ethernet cable. So unless it was using wireless that's probably the problem.

[2016-08-15 20:19] betatim commented on #1419
I was wrong about osx and travis. Doesn't cost anything.

[2016-08-16 03:22] camillescott commented on #1417
Also running into this. Does it need to be given a static IP?

[2016-08-16 06:12] mr-c commented on #1417
It had a static IP, yes. Maybe it expired when I left UCDavis?

Pe 16 aug. 2016 06:22, "Camille Scott" <notifications@github.com> a scris:

[2016-08-16 11:32] betatim commented on #1419
Starting work on this.

[2016-08-16 14:17] betatim commented on #1417
Given #1420 do you want to keep investigating this?

I think the solution should be `brew install enchant` (or equivalent). So if you can connect and fix it this easily that would be great whiel waiting for #1420

[2016-08-16 15:29] standage commented on #1417
I'd be happy to work on this if somebody with admin privileges on the machine could pass the baton. I currently don't have an account on the machine.

[2016-08-16 16:44] standage commented on #1417
Etherned cable connected now.

[2016-08-17 07:51] mr-c commented on #1417
Since the imac is still connected to Jenkins over the wifi I was able to get its IP address by going through Jenkins

http://ci.oxli.org/computer/imac/script

`println "ifconfig -a".execute().text`

@standage I've created a user account for you there following the directions at http://apple.stackexchange.com/questions/82472/what-steps-are-needed-to-create-a-new-user-from-the-command-line
One chang

[2016-08-17 10:31] ctb commented on #1417
(thanks @mr-c!)

[2016-08-17 17:18] standage commented on #1417
Awesome @mr-c! I was able to log in this morning, change my password, reboot, and confirm admin privileges. Thanks for your help!

@betatim I've done some configuration and updates.

- [Adjusted permissions so that any iMac user with admin priv can manage Hombrew](http://apple.stackexchange.com/a/45003/1870)
- updated Homebrew with `brew update && brew upgrade`
- installed Enchant with `brew insta

[2016-08-22 17:05] brtaylor92 commented on #689
[sparse++](https://github.com/greg7mdp/sparsepp) may be interesting as an alternative to/derivative of sparsehash

[2016-08-22 20:49] standage commented on #1291
1. I agree that docs getting out of sync with code is a huge risk if we isolate docs in a dedicated repo.
2. I am not a fan of submodules.
3. Indifferent.
4. I agree that our current CI setup isn't robust enough to enforce status checks. But the protected branches go a long way in terms of disaster mitigation.

I'd be in favor of the PR hack, but would prefer that we kept the docs alongside the co

[2016-08-26 13:38] peterdfields opened #1422 "make-coverage.py key error"
I'm seeing the following error from running make-coverage.py on a bowtie 1 generated sam file.

`Traceback (most recent call last):
  File "/home/peter/bioinformatics/khmer_2.0/khmer/sandbox/make-coverage.py", line 79, in <module>
    main()
  File "/home/peter/bioinformatics/khmer_2.0/khmer/sandbox/make-coverage.py", line 66, in main
    float(mapped_reads) / 1e6
KeyError: 'k99_70222'`

The conti

[2016-08-26 17:08] standage commented on #1422
Thanks for the report @peterdfields!

I'm unfamiliar with the script in question: it's in our sandbox (as opposed to one of our officially supported scripts) and there doesn't seem to be any documentation of the expected input (other than the variable names in the code). Presumably the two arguments are 1) a genomic DNA fasta file and 2) a plain-text SAM file with which to compute coverage?

It's

[2016-08-26 17:11] standage commented on #1422
Just a quick thought: does your SAM file have a header? It doesn't look like the `make-coverage.py` script attempts to skip any header lines, so if there are header lines they could potentially cause problems.

[2016-08-26 17:14] standage opened #1423 "py.test yield tests deprecated"
I just upgraded to py.test 3.0.1, and I'm getting 69 copies of the following message after a (successful) `make test` invocation.

[code]

This probably isn't urgent, but something we should look into.

[2016-08-26 17:16] peterdfields commented on #1422
I don't think it's an issue with the sam header but rather with the contig naming system that megahit defaults to. To give you a bit more context I was following along with the following khmer use tutorial: https://khmer-protocols.readthedocs.io/en/ctb/metagenomics/5-mapping-and-quantitation.html

I changed the fasta entry names to an ascending count (so >1, >2, etc.) and the error goes away.

Giv

[2016-08-26 17:22] standage opened #1424 "Dev instructions do not include "enchant" C library"
Getting a clean Ubuntu environment setup for khmer dev/testing following [these instructions](https://khmer.readthedocs.io/en/v2.0/dev/getting-started.html), I got some warning messages saying that the enchant C library was not installed. We need to confirm the enchant package name for all of the package managers listed as examples and update this documentation.

[2016-08-26 17:34] standage commented on #1422
The comment about SAM headers was just a shot in the dark. It doesn't look like it's worth looking into.

Maybe the problem is that sometimes the sequence ID is being read as `k99_10` and sometimes it's being read as `k99_10 flag=1 multi=1.1869 len=297`. Changing all the seqIDs to `>1` and so on would certainly make the problem go away. But it should be easy enough to fix to script (or the protoco

[2016-08-26 18:43] standage opened #1426 "Support for k>32"
Supporting k values > 32 has been on the table for a while (since #27 and #60 in 2013). Some progress was made on this with #624, but this PR has stalled.

I'd like to suggest that we prioritize this feature.

From my reading of the relevant threads, there seem to be a couple of possible approaches and concerns.
- If we quadruple the size of the hash function output (256 bits instead of the curren

[2016-08-29 12:41] betatim commented on #1405
Some of this was taken care of in #1421 there are still some left for another PR :)

[2016-08-29 13:31] betatim commented on #1424
[Arch linux uses `enchant`](https://www.archlinux.org/packages/?sort=&q=enchant&maintainer=&flagged=)

[RHEL6 seems to use `enchant`](http://stackoverflow.com/questions/36599004/problems-with-pyenchant-centos-el-capitan) as well.

[2016-08-29 13:33] ctb commented on #1424
This may be a bit OT, but I would like to think about narrowing our explicit
support documentation to RedHat and Ubuntu (and Mac OS X)  Realistically most
modern Linux installs run one or the other, AFAICT, and we have access to
both; beyond that we end up supporting esoterica.

[2016-08-29 15:50] standage commented on #1424
I'm +1 on dropping Arch linux instructions. Merge conflict resolution coming momentarily.

[2016-08-29 20:25] #1424 closed

[2016-08-30 14:17] ctb commented on #1426
Yep, seems about right.  The reversibility is the biggest problem; for probably 95% of the code that we actually currently use, we could go straight for a cyclic hash of some sort and it wouldn't matter, because all we're doing is indexing into hash tables.  But there is a lot of code that relies on reversibility and we have to figure out what to do with it, even if it's not necessarily highly use

[2016-08-30 14:19] ctb commented on #1422
Looks very much like the problem is in name parsing - screed chooses the sequence name one way (up to the first whitespace) and bowtie is providing the entire name.  @peterdfields can you provide a small test set (just the first 100 or 1000 lines of the two files should be enough)?

[2016-08-30 22:00] camillescott commented on #1426
* A simple struct holding 2-4 long longs would be easy to implement. We
rarely do any math on the actual hash values, so there's no need to use an
external library with integer types.
* Virtual functions do introduce a small performance hit which usually
washes out; I think we call our hash functions enough to justify avoiding
them, However, templating a function parameter into the hash function w

[2016-08-30 23:26] standage commented on #1426
Regarding the first point, I think I grok the idea of hashing in pieces (similar to the `ARCH_32` approach taken in [Mash's hash function](https://github.com/marbl/Mash/blob/master/src/mash/hash.cpp)?). What I'm *not* so clear on is how to then cast these multiple values as a single value to use as a table index. Probably very simple, but not clear to me at the moment.

Regarding the second point,

[2016-08-30 23:30] standage commented on #1426
The templating will also come in handy with respect to providing BAM support. SeqAn has a BAM parser in addition to the Fast[a|q] parser already in use, and I'm sure `imprint_next_read` is called enough that we want to avoid any potential virtual function overhead there.

[2016-08-31 07:06] betatim opened #1429 "gcovr reported coverage changes from 3.2->3.3"
We observe some changes in coverage reported by `gcovr` when switching from 3.2 to 3.3.

See the discussion in #1418 and gcovr/gcovr#140.

This issue is to track the discussion and come to a conclusion.

[2016-08-31 16:02] betatim commented on #1417
This is fixed now right @standage?

[2016-08-31 16:19] betatim commented on #1426
Cyclic hash == https://en.wikipedia.org/wiki/Rolling_hash ?

Is there a setup to benchmark things (in terms of cache misses, etc) as the hash functions are swapped around? Because: [measuring gives you a leg up on experts who are too good to measure](https://www.facebook.com/notes/facebook-engineering/three-optimization-tips-for-c/10151361643253920/)

@ctb where would you start looking for the "mu

[2016-08-31 16:20] #1417 closed

[2016-08-31 16:26] ctb commented on #1426
On Wed, Aug 31, 2016 at 09:19:03AM -0700, Tim Head wrote:

https://github.com/dib-lab/khmer/pull/624

No benchmarking setup, and yes, I think adding some benchmarking is the place
to start.

This paper of ours (https://github.com/dib-lab/2013-khmer-counting) might be
a place to look for benchmarking.  And/or @luizirber has some benchmark data
sets for his HLL paper, http://biorxiv.org/content/earl

[2016-08-31 20:20] betatim commented on #27
Another hash function: https://github.com/lemire/rollinghashcpp I spied some "ACGT" strings in an example so the author might have had genomics in mind. Unsure how battle tested it is.

[2016-09-01 16:45] #1382 closed

[2016-09-02 14:38] betatim commented on #1423
[Parametrized tests](http://doc.pytest.org/en/latest/parametrize.html#pytest-mark-parametrize-parametrizing-test-functions) seem to be the answer.

[2016-09-02 17:45] #1419 closed

[2016-09-02 17:54] standage commented on #1402
@ljcohen I know you're probably not actively worrying about this, but if/when you can ever confirm it was a disk issue I'll close this thread.

[2016-09-03 15:58] ctb commented on #1426
As a trial, I removed most of the code that depends on reversibility in #1431, and then eliminated the sliding window optimization and _revhash code in #1432.  Almost all tests pass at this point! Then #1433 swapped in murmurhash as the default hash function, which of course breaks a bunch of stuff.  Most of it looks like stuff that should be broken (and hence should be removed or refactored when

[2016-09-03 16:26] ctb opened #1434 "screed doesn't uppercase DNA in loaded records"
In the course of mucking about with hash functions, I discovered that there are multiple places in the code where bad data is fed to our hashing code.

More specifically,
* our hashing code (`twobit_repr` etc in kmer_hash.hh) intentionally does not handle lower case DNA characters (it treats them as 'G');
* screed does not upper case DNA sequence when it loads it;
* so, any place where screed is u

[2016-09-03 16:35] ctb commented on #1434
Hey, this breaks all of our diginorm and trim-low-abund consistency checks. Sweet :)

[code]

[2016-09-03 16:44] ctb commented on #1426
Note, one of the problems was that our DNA sanitizing code was broken in places. Sigh. See #1434.

[2016-09-03 22:11] ctb commented on #1434
Instead of using a macro, would it be any slower to use an inline function that raises an exception on an unknown character?

[2016-09-04 04:24] ctb opened #1436 "Simple benchmarking for the hash function"
Here's a simple benchmarking script that just creates hashes for a bunch of k-mers in a string:

https://gist.github.com/ctb/ce69abe77a40e4936f42652dfd41cb38

On master currently, it reports 0.17234091000136686.

On the deoptimized version in #1432, it reports 15.948195557000872.  So about a factor of 100x, which seems reasonable.

On the re-optimized version in #1437, it reports 0.179876231006346

[2016-09-04 04:32] ctb commented on #1426
Anyway, a question for the C++-ofiles amongst us is: how hard would it be to refactor the C++ code base so that the code removed in #1431 was isolated in a ghetto with its own hash function?
The critical changes are the four member structures removed from Hashtable (in hashtable.hh), which could be placed in a subclass or a friend class with all of the dependent functions quite easily I suspect.

[2016-09-04 14:38] ctb commented on #1426
OK, pretty much done playing around with hash code refactoring for now :).  Here's my summary.

-----

Ignoring the partitioning code (test-removed in #1432), there are three kinds of things we need to do:

1. lossy hashing of individual k-mers for use in Bloom filters & CountMin sketches. Essentially any hash function will do here.

2. lossy hashing of all k-mers in a string, quickly, to load man

[2016-09-04 22:24] ctb commented on #177
This is easy to add on top of khmer, but is not a general need. I'm going to close this as wontfix.

[2016-09-04 22:24] #177 closed

[2016-09-04 22:26] ctb commented on #1434
A duplicate of #370, basically, except that back then we thought we'd handled it in scripts.
Sigh.

[2016-09-04 22:26] #1347 closed

[2016-09-04 22:29] ctb commented on #986
This is now bound up in #1434, which forcibly uppercases sequences.  We should truncate/edit/filter the original sequences without modifying them...

[2016-09-04 22:30] ctb commented on #1036
The proper way to deal with this might be to make it depend on the hash function. Some hash functions will easily support more characters than others...

[2016-09-04 22:31] ctb commented on #859
As part of the resolution for #1434 we should have a test input file for the various scripts that contains short sequences, sequences with non-ACGT, lowercase, etc. and make sure that when we run a script/ file on it the code leaves the badness unchanged.

And then we should write a script that says "fix this file, okay?" and just outputs stats for things that were fixed -- e.g. "this many Ns repl

[2016-09-04 22:32] ctb commented on #1036
This is something we could handle differently by providing different hash functions (#27).

[2016-09-04 22:34] ctb commented on #1426
For the binary encoding for DNA, we might use 3 bits per DNA base instead of just two, or use a more complicated encoding overall; it would be nice to potentially allow for Ns in the sequence.

[2016-09-05 16:17] ctb opened #1439 "Remove the other two 'for' loops introduced into tests in #1415."
In #1415, a few for loops were introduced into tests:

[here](https://github.com/dib-lab/khmer/pull/1415/files#diff-9f5c44655b56e45619acdbcbaecb9aadR267)

and

[here](https://github.com/dib-lab/khmer/pull/1415/files#diff-9f5c44655b56e45619acdbcbaecb9aadR292)

in keeping with the general policy of making tests as declarative and granular as possible, these for loops should be unrolled into two sepa

[2016-09-07 04:48] standage commented on #1036
Based on my most recent testing, it looks to me like khmer is ignoring reads containing Ns. This was discussed quite a bit in the various relevant threads, but there didn't seem to be consensus on whether this was the best approach. Maybe I missed something.

It's moot though if we switch to an encoding/hashfunction that supports ambiguous nucleotides.

[2016-09-07 14:07] ctb commented on #1426
Talking with @camillescott, one question is whether or not we should support lossy hashing at all, or just go with the bitstring encoding and reversible hashing needed for `Traverser`.  I'm not sure - my suspicion is that the lossy hashing code could be much faster and consume less memory.  In particular, the `HashSet` code is being used to store many bags of 100k+ k-mer hashes for compact De Brui

[2016-09-07 14:09] ctb commented on #1426
Also: for the partitioning code, we need to support STL set membership, so I think all we need to implement is a perfect multi-long-long bitstring encoding that supports == and <.

[2016-09-07 14:21] ctb commented on #1426
Hmm, actually, we need to support the following uses of HashIntoType:

[code]

so we need < (weak ordering), copying, and assignment, I believe.

[2016-09-07 14:24] ctb commented on #1426
I am also unclear on what, exactly, needs to be done on the Python side to support something like the reversible Kmer class.  Right now we take full advantage of the mapping between C++ HashIntoType and Python native UnsignedLongLong (ParseTuple type "K"). Perhaps another advantage of the lossy hashing approach is that for we won't need to make the Python API more complicated.

[2016-09-07 14:48] ctb commented on #1036
On Tue, Sep 06, 2016 at 09:48:21PM -0700, Daniel Standage wrote:

How did you test this? The code in 'normalize-by-median' replaces Ns with As,
so it may well be specific to script (which is suboptimal, yes).

[2016-09-08 20:23] standage commented on #1036
Scripts may override this somehow, but the `hashtable->consume_fasta` function does indeed discard any sequence with an N in it. I first encountered this with my *de novo* simulation code, for which I linked directly against the C++ API for performance reasons. But I just created a stripped-down example using the Python API to demonstrate the same behavior at the Python level. See https://gist.git

[2016-09-09 14:22] ctb opened #1441 "Plan for hash function refactoring"
Problem under discussion:
- We want to support multiple hash functions in khmer.
- Some uses of the hash function require reversibility, others do not:
- Partitioning requires exact storage of some k-mers
- Traversal requires reversibility of some k-mers
- We are concerned about performance so things like virtual functions are being approached with care.
- We want some of the hash functions to sup

[2016-09-09 14:42] betatim opened #1442 "Storing reversible hashes for k>32"
Place for thoughts and progress on representing reversible hash values of (arbitrarily) large k-mers.

This is one of the things needed for #1441.

First idea from @camillescott is to switch from using a single `int64` to a struct of integers.

[2016-09-09 16:25] standage commented on #1442
Another idea discussed was using the 128 bit integer implementation (`__int128`) discussed [here](http://stackoverflow.com/a/33828720/459780).

Pros:
- sticking with a "native" data type
- could support quick, reversible hashing up to k=64 without perturbing the codebase too much

Cons:
- cannot support arbitrary k
- there may be good reasons to support different hash functions anyway, so this wou

[2016-09-09 16:54] #1439 closed

[2016-09-09 16:57] #1423 closed

[2016-09-09 17:56] ctb commented on #1036
Indeed it does.

[2016-09-09 18:00] standage commented on #1036
There are a few possible solutions. It there is some reason to stick with the current 2-bit representation, we can simply consume all k-mers that contain only ACGT. If we go with a 3+ bit representation, we can actually consume and handle Ns, and maybe other IUPAC ambiguity symbols.

Relevant to #1441.

[2016-09-12 08:38] betatim commented on #1442
Some experiments in [this gist](https://gist.github.com/betatim/f311eeea15e713927ac64773c8fdd9e5). This uses a int128 and int256 implementation I found by [googling](https://github.com/calccrypto/uint256_t). They were useful to quickly get started. Having 33-mers seems to "just work" if you have a bigger int type available.

The second thing I investigated is how to transport these big integers in

[2016-09-12 08:42] betatim commented on #1442
My only worry about using a byte array is that it might be slower?? I will make a small benchmark pitting the uint128_t from the gist against one based on an array to answer that.

Other remark: `int.{to,from}_bytes` is not available in legacy python. The C API however has been there since way back when the tim bot was still active.

[2016-09-12 14:17] ctb commented on #1442
*blinks* Well, this looks pretty awesome... What's the performance hit?

[2016-09-12 14:50] betatim commented on #1442
I don't know yet ;) but I might have just achieved one of the tests passing after switching `_hash` to use a class that uses a byte array to store stuff.

[2016-09-13 10:59] betatim commented on #1036
Order of magnitude, how many other letters/symbols are there?

Going forward it definitely seems like a good thing to keep around other letters instead of discarding them (silently).

[2016-09-13 16:28] standage commented on #1036
There are on the order of 16 symbols (see [here](https://en.wikipedia.org/wiki/Nucleic_acid_notation#IUPAC_notation)). In fact, there are exactly 16 if we ignore the Z/zero symbol, which 1) I've never heard of before or seen being used and 2) doesn't make sense in the context of DNA sequencing.

In all honesty, everything but {A, C, G, T, N} is quite rare, but some assemblers (such as AllPaths-LG)

[2016-09-13 16:37] ctb commented on #1036
There is no sense in paying any attention to anything other than ACGT,
I think; there is no sensible and general way to load them into a DBG.
They really mean "wildcard here" which doesn't fit with anything we want
to do.

However, I think we should refrain from eliminating or modifying the
original sequence in any way when we can do so.  So, for example, in
trimming, we can make trimming decision

[2016-09-13 18:56] ctb commented on #1036
On Tue, Sep 13, 2016 at 03:59:43AM -0700, Tim Head wrote:

I think ignoring them is fine, and discarding them silently within the Python
and C++ code is necessary.  But we need to provide info via functions, alert
the user to aggregate stats, and streamline our input handling code so that
we're using the same function(s) to preprocess stuff.

[2016-09-14 14:23] ctb opened #1445 "release a new version of screed"
We can go for a 1.0 release, or we can just release 0.9.x. Either way we should look seriously at the [JOSS criteria](http://joss.theoj.org) and see what needs to be done to screed to submit it there.

[2016-09-15 14:22] ctb opened #1446 "reverse indexing of read data sets - references"
We could use some way to index reads so that we can go from a k-mer to all reads that contain it.

Here are a few references courtesy of a Twitter conversation with @rchikhi:

[Parallel and memory-efficient reads indexing for genome
assembly, by Rayan Chikhi, Guillaume Chapuis, Dominique Lavenier](https://hal.inria.fr/file/index/docid/637536/filename/CP144.pdf) - index on k-mers

[dbgfm, by @jts](

[2016-09-19 16:44] standage opened #1447 "Send Jenkins into retirement"
Now that we have Travis up and running, I think we should slate Jenkins for retirement soon.

- I keep getting notifications from Rackspace (used to host the Jenkins web interface and the Linux test slave) about charges, or expiring certificates, or any number of other things that I have absolutely no interest in worrying about.
- Now that we're automatically requiring reviews and passing CI build

[2016-09-19 18:12] ctb commented on #1447
Sounds good to me.  Let's check with Luiz and Michael re rackspace stuff
to make sure we appropriately deactivate there.

Are we testing on OS X with Travis now?

[2016-09-19 18:20] standage commented on #1447
Yep: https://travis-ci.org/dib-lab/khmer/jobs/161075734

[2016-09-20 13:56] betatim commented on #1447
Things to do when switching over:

* [ ] configure one of the travis runs to upload to codecov (I vote OSX one)
* [ ] decide if the OSX travis should fail if `pep8` and friends are unhappy (I think yes)

[2016-09-20 15:45] standage commented on #1447
Also, we should extend the test matrix to include other versions of Python (at least 3.5, maybe other 3.x versions). Since the OSX VMs are take more time to reserve and launch, I'm ok if we only do this on Linux.

- [ ] Add Python 3.5 on Linux to config matrix

[2016-09-20 18:30] ctb commented on #1338
See fix in #1449, which silently ditches both reads.  While I sympathize with @mr-c's desire to avoid dropping data, we're caught in the following trap:

* require_paired requires that properly paired reads be both consumed and emitted;
* there is no way for many of the scripts to properly reads shorter than K;
* we have no system or provision for recording what happens to odd reads.

The proper t

[2016-09-20 22:40] #1338 closed

[2016-09-21 22:07] betatim opened #1453 "Bundled bzip2 hardcodes `CC=gcc`"
While investigating a issue with getting `khmer` to use a different compiler I noticed that one of the third-party bits of code hardcodes `CC`:

[code]

is there a reason for this or just a bug?

[2016-09-22 20:17] aaliyari commented on #1344
I am working on this issue.

[2016-09-23 19:53] standage commented on #1453
No idea!

[2016-09-23 19:59] betatim commented on #1453
Ok, if no one remembers a reason, let's declare it a bug 🐛

[2016-09-23 20:12] standage commented on #1453
This would be an issue with the upstream though, wouldn't it? It looks like the stock Makefile distributed with bzip2.

Not that we can't modify the code, but there are different considerations re: modifying *our* code vs bundled third-party code.

[2016-09-23 20:13] ctb commented on #1453
Is this causing any problems for anyone?  If not, let's drop it until it does.

[2016-09-24 16:32] ctb commented on #1036
Side note: there are various classes in trim-low-abund that are quite handy for read processing, and we could/should extract them (see #1262) and make them available for scripts more generally.

In trim-low-abund I'm thinking specifically of `ReadBundle` and `clean_up_reads`.

[2016-09-26 20:22] luizirber commented on #1385
Fixed in #1456

[2016-09-26 20:38] ctb opened #1457 "ChangeLog thoughts - why do we have it?"
Discussion from Sep 26 hangout --
- most people don't use or like the ChangeLog;
- CTB uses the ChangeLog to track down files that changed and may have broken something, but now that he knows how to use git bisect he doesn't do that any more;
- LI points out that it's the Debian format and may be useful for Debian releases;
- ChangeLog is useful for API breakage and tracking, but we don't have any

[2016-09-26 21:49] #1385 closed

[2016-09-27 15:29] betatim commented on #1457
https://github.com/skywinder/github-changelog-generator is one (the most popular?) script to generate a Changelog from issues and PRs. Not used it myself. Could be integrated in travis if we think that is useful.

Personal opinion: a `whats_new.md` or release notes are what I look at most. Changelogs tend to feel like `git log`.

[2016-09-27 16:26] standage commented on #1457
Auto-generating a change log from commits issues, and/or PRs would require a bit more structure in corresponding messages. I'm -1 on this.

I think we're just fine dropping the change log, and that we're honoring any obligations we have to users/developers/packagers by adhering to semantic versioning and providing curated release notes.

[2016-09-27 21:02] standage commented on #1447
I just noticed that the Travis build does not fail on pep8 errors. I agree with @betatim that it should.

[2016-09-28 14:09] ctb commented on #1457
TANSTAAFL - we ditched on cleaning up our merges (for good reasons), but
as a result many of our git commit messages are not that useful :).

IMO, it would be useful to have a list of PRs that are delta between each
release, and maybe this could be autogenerated and stuck in a developer-facing
docment.

[2016-09-28 16:05] betatim commented on #1457
release, and maybe this could be autogenerated and stuck in a developer-facing
docment.

Looks like https://skywinder.github.io/github-changelog-generator/#params can do this. You'd turn off everything but PRs

Opinions on doing some of the curating as we go along already? I am thinking of something [like this](https://github.com/scikit-learn/scikit-learn/blob/master/doc/whats_new.rst) to which pe

[2016-09-28 22:15] ctb opened #1461 "Should we stop updating copyright dates in files?"
See:

https://stackoverflow.com/questions/2390230/do-copyright-dates-need-to-be-updated/2391555#2391555

A companion to #1457 apparently :)

[2016-09-29 07:56] betatim commented on #1344
Fixed in #1460

[2016-09-29 07:56] #1344 closed

[2016-09-29 17:49] stsmall commented on #1402
I am having this exact same issue. Did everything the same here, independently, and ended up with failing on make test (10 out of 698). Was this ever resolved?

tests/test_script_output.py::test_trim_low_abund_k21_C0_M1e7_diginorm FAILED
tests/test_script_output.py::test_trim_low_abund_k21_C0_M1e7_diginorm_dn15 FAILED
tests/test_script_output.py::test_trim_low_abund_k21_C2_M1e7_diginorm_dn15 FAILE

[2016-09-29 17:55] standage commented on #1402
Sorry, not yet. I've experienced the error again recently on a different HPC system. I think the next thing I'm going to try is to run the tests on `/tmp` or some directory that's guaranteed to be on a local disk. If that mitigates the problem, I'd be confident diagnosing these errors as intermittent issues with the networked file system (NFS).

[2016-09-29 18:09] ctb commented on #1402
@stsmall are the errors file writing errors?

[2016-09-29 18:42] stsmall commented on #1402
Not certain. After that failed I did an install from bioconda repo using "conda install -c bioconda khmer"
Seems to work so far...

[2016-09-29 18:46] ctb commented on #1402
:) ok.

in any case, failures in those tests alone do not indicate a problem with
khmer, generally speaking.

[2016-09-30 17:05] standage opened #1465 "Enforcement of C++ coding style"
We're currently configuring our CI builds to fail if Python coding style (pep8) is violated (see #1464), but are punting on automated enforcement of C++ coding style. I don't think we're quite there yet, and it may not be something we want to prioritize, but checking C++ style is something we should consider for the future.

[2016-09-30 17:29] betatim commented on #1465
Sorry, I wasn't clear enough in my comment on #1464. Checking that the c++ is properly formatted is already something we do. Just manually via `make format`. I highlighted it in the PR because I couldn't work out a nice way to check if running `make format` did change any files or not. In the meantime I think I found a way to detect it.

Still, we could discuss whether to enforce it automatically

[2016-09-30 17:34] standage commented on #1465
I added some comments about style inconsistencies that seem to persist despite the current setup. I think I'm actually ok with automatic enforcement of our current `make format` behavior, but would welcome additional checks.

[2016-09-30 17:46] ctb commented on #1465
There was some discussion of astyle having different behaviors on different
platforms. How locked down are we in terms of style? I don't really care too
much about what the style is, but I'd rather not have to worry about platform
details with every commit.

[2016-09-30 18:21] betatim commented on #1465
The differences are between astyle versions (2.03 and 2.05 I think. Debian only has the former, on Mac you get the latter. Suboptimal.)

My opinion on styles: I like my code consistent, but not too bothered about what precisely that style looks like. These days I advocate `pep8` and [`clang-format`](http://clang.llvm.org/docs/ClangFormat.html) (both with default settings).

The best method I've se

[2016-09-30 21:57] standage opened #1466 "Migrate read handling code to ReadBundler"
In #1458, `ReadBundle` was taken out of trim-low-abund and put into utils so as to be accessible to all scripts and modules. We should:

- try to centralize read handling code into `ReadBundle` as much as possible
- replace *ad hoc* read handling code throughout the codebase with `ReadBundle` objects

[2016-09-30 22:20] ctb commented on #1466
Here, scripts/filter-abund.py and scripts/filter-abund-single.py would be
good targets for a next round of refactoring.

[2016-09-30 22:36] ctb commented on #1465
On Fri, Sep 30, 2016 at 11:21:12AM -0700, Tim Head wrote:

The problem is how to manage this with PRs that touch large parts of the
code base.  What about simply providing a cherry-pick-able patch that
we will run on each PR and the master at ~the same time?

[2016-10-01 14:49] ctb opened #1467 "FASTG or GFA input/output"
After #1371 (compact De Bruijn graph work) and #1372 etc. (assembly), can we now input/output [FASTG](http://fastg.sourceforge.net/) or [GFA](https://lh3.github.io/2014/07/19/a-proposal-of-the-grapical-fragment-assembly-format/)? See Twitter conversation [here](https://twitter.com/ctitusbrown/status/731884141088645121)

[2016-10-01 15:26] ctb opened #1468 "screed.Record(..., quality=None) should not set 'quality'"
Right now, you can't pass 'None' in with 'record' in order to create a Record without a quality entry. Should be able to.

[2016-10-01 15:29] betatim commented on #1465
IMHO there are two problems you need to solve: creating merge conflicts "everywhere" and breaking `git blame`. Can you elaborate on how having the patch helps and what is in it? I'm on the slow train to Comprehension City.

Some more thinking from my side: For often edited files only reformatting the lines you are anyway editing means things will get worse temporarily (mixture of old styles and th

[2016-10-01 16:19] ctb opened #1470 "Eliminate ThreadedSequenceProcessor from the codebase."
This is hideous, ugly code that adds no real performance speedup; we should be using the stuff introduced in #1466 instead.

[2016-10-01 16:23] ctb opened #1471 "Remove threading args from filter-abund (next major release)"
Once #1469 is merged and threading is no longer used in filter-abund, remove -T args for filter-abund as part of the next major release.  Also see #1470.

[2016-10-01 19:55] ctb opened #1472 "assemble_linear_path does incorrect things in certain situations"
See https://github.com/dib-lab/khmer/pull/1372#issuecomment-250930686 for details.

[2016-10-02 22:42] ctb opened #1473 "update filter-abund* to have progress indicators"
#1469 removed progress indicators (number of reads read, etc.)

[2016-10-03 21:18] ctb commented on #1434
Fixed in #1435. Leaving #370 open until we do a survey of the codebase.

[2016-10-03 21:18] #1434 closed

[2016-10-04 13:19] #130 closed, assigned to nobody

[2016-10-04 13:22] ctb commented on #76
See #1469, which simplifies the code instead :)

[2016-10-04 13:22] #76 closed

[2016-10-04 13:23] ctb commented on #206
We now document script renamings in sandbox/README.rst

[2016-10-04 13:23] #206 closed

[2016-10-04 13:25] ctb commented on #388
This is done in the khmer-recipes project.

[2016-10-04 13:25] #388 closed

[2016-10-04 13:43] ctb opened #1474 "Refactor test code to use load_nodegraph/load_countgraph"
(Update of #445)

In test_countgraph.py and test_nodegraph.py, a bunch of tests first create the object and then use obj.load(...) to load from a file.  These should be replaced with the newer library calls `khmer.load_nodegraph(...)` and `khmer.load_countgraph(...)`.

[2016-10-04 13:43] ctb commented on #445
Updated in #1474.

[2016-10-04 13:43] #445 closed

[2016-10-04 13:45] ctb commented on #347
Fixed in #1106 etc.

[2016-10-04 13:45] #347 closed

[2016-10-04 13:46] ctb commented on #194
Switching to travis (#1464).

[2016-10-04 13:46] #194 closed

[2016-10-04 13:47] ctb commented on #1143
Code removed in #1376.

[2016-10-04 13:47] #1143 closed

[2016-10-04 13:47] ctb commented on #989
This is an issue @standage should read.

[2016-10-04 13:49] ctb commented on #1190
Fixed in #1192, I think.

[2016-10-04 13:49] #1190 closed

[2016-10-04 13:49] ctb commented on #112
Not interesting any more, I think.

[2016-10-04 13:49] #112 closed

[2016-10-04 13:50] ctb commented on #725
Switching to Travis (#1464).

[2016-10-04 13:50] #725 closed

[2016-10-04 13:51] ctb opened #1475 "Go through issues for milestone 2.0 before and reassign/update/close."
We should close off milestones that we've already released :)

Might also want to take a closer look at milestone 2.0+.

[2016-10-04 13:52] ctb commented on #1349
Being fixed in #1350.

[2016-10-04 13:53] ctb commented on #1467
Ref #726.

[2016-10-04 13:55] ctb commented on #1436
I think @betatim's got this.

[2016-10-04 13:55] #1436 closed

[2016-10-04 13:58] betatim commented on #1436
What do you think of making this something that lives in `tests/` so that future-us can find it again? I wouldn't run it on travis and the like as there is probably too much variation.

[2016-10-04 14:00] ctb commented on #1447
Could someone (@betatim? @standage?) update this issue, please?

[2016-10-04 14:03] betatim commented on #1447
Once #1464 is done I think this issue will be ready for closing.

[2016-10-04 14:04] ctb commented on #1466
(filter-abund* done in #1469.)

[2016-10-04 14:06] ctb commented on #1436
On Tue, Oct 04, 2016 at 06:58:59AM -0700, Tim Head wrote:

What about `benchmarks/`?

`tests/` is really for stuff that is run very frequently.

[2016-10-04 14:15] ctb opened #1476 "Acceptance tests - khmer protocols and/or khmer recipes"
These should be run at least once each release.

Should they be run more frequently?

[2016-10-04 14:27] betatim opened #1477 "Small performance benchmarks"
Following on from #1436

Create `benchmarks/` as a collection of small short performance benchmarks (using the py.test technology?) for CPU and/or memory performance. Having a shared collection of these benchmarks makes it easier for everyone to use them (and agree on what was wrong) when they are modifying code that they think is performance critical.

#1436 links to a gist that benchmarks hashin

[2016-10-04 16:47] standage commented on #989
Yes, this is something I've been thinking about. Glad I'm not the only one!

[2016-10-04 16:52] standage commented on #1447
We are finalizing the Travis CI configuration. We had already disabled Jenkins builds, but have not yet turned off the CI servers (they can be re-enabled with a few button clicks). If Travis has no issues during a trial period, we'll give @mr-c the go-ahead to decommission ci.oxli.org. I suggest Nov 1st as the date we pull the plug.

[2016-10-04 16:57] mr-c commented on #1447
Did the release test get ported to TravisCI as well?

[2016-10-04 18:10] camillescott commented on #594
yo @betatim this might be useful re: benchmarking

[2016-10-04 20:41] luizirber opened #1478 "Screed 1.0 Release"
- There is a [milestone](https://github.com/dib-lab/khmer/milestone/15) for the Screed 1.0 release, do we want to add more issues?
  - [All screed issues](https://github.com/dib-lab/khmer/issues?q=is%3Aopen+is%3Aissue+label%3Ascreed)
- Need to be merged:
  - [x] [Fix operator comparison](https://github.com/dib-lab/screed/pull/48)
  - [x] [Build improvements](https://github.com/dib-lab/screed/pull/

[2016-10-04 20:43] luizirber opened #1479 "Use pytest as test runner"
Replace nose, keep toolchain synced with khmer

[2016-10-04 21:40] betatim commented on #1477
Some previous discussion on this is here: #594 `asv` is more than I had in mind 😀 Initial thought was just to collect a few snippets that are being used for benchmarking and organise them a bit like the unit tests so that you can run them without having to think too much (vs freestyling for each benchmark).

[2016-10-05 11:41] betatim commented on #1447
No. Where do I go to read about what this is/how to implement it? Is this point 7 of https://khmer.readthedocs.io/en/latest/dev/release.html ?

[2016-10-05 11:45] betatim commented on #1476
Copying my comments from the chat:

Tests that aren't run are probably broken. Running these tests on every PR won't work because we are limited to about 2CPUs for 50min.

For me the tradeoff is time-spent-making-them-run-more-often vs time-spent-fixing-them-every-release. If you need hours and hours of CPU time you are probably looking at spinning up AWS instances etc which could easily be a few

[2016-10-05 12:49] mr-c commented on #1447
@betatim Jenkins was automatically running through (almost) all of the release tests: http://ci.oxli.org/job/khmer-releasetest/configure (log in to see the script)

[2016-10-05 14:34] betatim commented on #1447
Copying the config below. Travis currently only runs tests that are `not huge`. I'll look into changing that. I am quietly confident that running the stuff related to `pip` below are not needed in each travis run.

* [ ] run `huge` tests on travis

[code]

[2016-10-05 15:38] mr-c commented on #1447
The point of the release checklist is to catch weird packaging errors, so I
really recommend running the whole thing. Perhaps just on the master branch?

On Wed, Oct 5, 2016 at 5:34 PM, Tim Head <notifications@github.com> wrote:

--
Michael R. Crusoe
Community Engineer & Co-founder
Common Workflow Language project <http://www.commonwl.org/>
https://impactstory.org/u/0000-0002-2961-9670
michael.cru

[2016-10-05 15:51] betatim commented on #1447
I'll put it in then, we can see how long it takes to run. I am -1 on only having it on `master` as you get the most annoying of all travis messages: your PR was green but now `master` is failing :)

[2016-10-05 18:16] ctb opened #1480 "python -m screed.fadbm fails on Python 3"

[2016-10-05 18:17] ctb opened #1481 "we should add FASTA and FASTQ string output on screed records"
basically, the equivalent of write_record from khmer.utils

[2016-10-05 18:18] ctb opened #1482 "how do you create screed DBs programatically?"
there should be a simple API that doesn't require running 'python -m screed.fqdbm'.  Also, we should make it so that there's a single command that creates the database from whatever (fq/fa etc.)

[2016-10-06 03:39] standage commented on #1447
[From Twitter](https://twitter.com/froots101/status/783600937562730496) (ht @luizirber and @ctb): https://docs.travis-ci.com/user/cron-jobs/

Doesn't solve the problem of long-running jobs though. We'd still have to find a way to make them run in the allotted time. But we could run daily/weekly rather than with every build.

[2016-10-06 04:00] ctb commented on #1447
I think: put it on the list of things to revisit after Daniel and I do a
release.

[2016-10-06 04:03] ctb opened #1483 "make C++ code that mimics the utils sequence handling code"
I feel like the code in utils.py introduced  #1435 is headed in the right direction. It'd be nice to have C++ versions of the ReadBundle and broken_paired_iter functions, for speed.

[2016-10-06 04:06] ctb commented on #1476
On Wed, Oct 05, 2016 at 04:45:26AM -0700, Tim Head wrote:

While there's some value in acceptance tests running regularly, I think the
main value is to prevent releasing something that unexpectedly breaks
documented behavior.  So I'm +0 on running them regularly and -0 on putting
in the time and effort to make 'em run regularly *now*...

[2016-10-06 13:26] ctb commented on #1483
#769 is relevant.

[2016-10-06 13:28] ctb commented on #986
Done in #1435.

[2016-10-06 13:28] #986 closed

[2016-10-06 13:29] ctb opened #1484 "Check on screed's attributes"
Does 'accuracy' still exist on FASTA records?

https://github.com/dib-lab/khmer/issues/769#issuecomment-111738847

Update: last remaining differences between khmer `Read` and screed `Record` objects seems to be `description` vs `annotation`.

[2016-10-06 13:30] ctb commented on #1478
Issues added to milestone; I think that's most of 'em.

[2016-10-06 15:08] betatim commented on #1480
[code]

seems to fix it but I sense it isn't that easy? Otherwise I'll make a PR.

[2016-10-06 18:56] luizirber commented on #1480
I'll make a PR with a fix to the test that wasn't catching this

[2016-10-06 20:57] luizirber commented on #1484
No, neither does `quality`.

- `khmer.ReadParser` records also use `annotations`, while `screed.screedRecord` uses `description`.

- `khmer.Read` has everything from the ID line in the `name` field, leaves `annotations` empty
- `screed.screedRecord` has ID line split by spaces, first into `name` and remainder in `description`

[2016-10-06 21:12] luizirber commented on #1468
When you create a new Record like this:
[code]
the result should be:
1. `{'name': 'test', 'sequence': 'ACGT', 'quality': None}`
2. `{'name': 'test', 'sequence': 'ACGT', 'quality': ""}`
3. `{'name': 'test', 'sequence': 'ACGT'}`

`1` is the current result, `2` is consistent with `khmer.ReadParser`.

[2016-10-06 21:19] ctb commented on #1468
I think #3 personally.  We use hasattr(r, 'quality') throughout the current
codebase.

[2016-10-06 21:22] luizirber commented on #1468
Then we have a conflict with https://github.com/dib-lab/khmer/issues/1484, I had the impression we should keep an empty `quality` attribute?

[2016-10-07 00:23] ctb commented on #1468
Well, umm, I think (3) personally. Which fits with a lot of existing Python code. *shrug* It's up for discussion.

[2016-10-07 00:26] ctb commented on #1446
https://github.com/jltsiren/gcsa2 looks interesting.

[2016-10-07 00:36] luizirber commented on #1468
I agree with `3`, but we need to discuss how similar we want both `screed.Record` and `khmer.Read` to be, and if we should then remove the `quality` attribute from `khmer.Read` if it doesn't have quality.

[2016-10-07 13:16] ctb commented on #1468
On Thu, Oct 06, 2016 at 05:36:04PM -0700, Luiz Irber wrote:

Yes, see #769.  I personally think that the Python code is more likely to
reflect good syntax/use because it's easier to change, so would go with
screed's approach. But then again I've had more of a hand in screed's approach,
so that's probably to be expected....

Are there any drawbacks to the approach?

[2016-10-07 14:10] ctb commented on #1441
Bump - could we get a brief status update from @betatim and @camillescott?

[2016-10-07 18:34] standage commented on #1481
Relevant: `ToFasta` and `ToFastq` functions in `screed/conversion.py` module. These are tooled to operate on DBs and not records, so we'll have to refactor so we have Fastx output implemented in a single place.

[2016-10-09 00:00] ctb commented on #1478
We should also link to this blog post in the documentation: http://ivory.idyll.org/blog/storing-and-retrieving-sequences.html

[2016-10-09 00:26] ctb commented on #1481
On Fri, Oct 07, 2016 at 11:34:45AM -0700, Daniel Standage wrote:

It's totally ok to move or rename these; very little of screed apart from
screed.open and Record are used anywhere.

[2016-10-10 04:58] ctb opened #1486 "Add a demo script showing exact counting via Python API"
[code]

[2016-10-10 08:39] betatim commented on #1441
From my side the next thing to merge in order to have >32-mers is #1455. This gives us storage for hashes >64bit but it is slower. I think I made a mistake with my benchmark in https://github.com/dib-lab/khmer/pull/1444#issuecomment-247038018 which suggests building our own `BigHashType` is a waste of time and we should use `std::bitset`. In particular for large numbers of bits like 128.

The bloc

[2016-10-10 12:54] betatim commented on #1441
The problem with using `bitset` is that we need to do some digging to be able to convert it to a `PyLong`. There is no easy way to access the underlying memory to feed to `PyLong_FromBytes`.

[2016-10-10 13:05] ctb commented on #1441
On Mon, Oct 10, 2016 at 01:39:26AM -0700, Tim Head wrote:

This sounds good to me.

[2016-10-10 20:42] ctb opened #1487 "Revisit allowing khmer scripts to take left/right reads and interleave them dynamically"
Command line API considerations here.

[2016-10-10 20:45] standage commented on #1487
Revelant anecdata: https://biowize.wordpress.com/2015/03/26/the-fastest-darn-fastq-decoupling-procedure-i-ever-done-seen/

[2016-10-13 18:41] #1480 closed

[2016-10-14 07:18] standage commented on #1481
And there's also `screed.fasta.FASTA_Writer` and `screed.fastq.FASTQ_Writer`, which inherit from `screed.screedRecord._Writer`.

:-/

[2016-10-14 07:20] standage commented on #1481
The `_Writer` class handles compressed output, which might be nice to keep around, even if khmer doesn't use it directly.

[2016-10-14 13:10] betatim commented on #1441
* #1488 - store >64bit hashes in `std::bitset`
* #1455 - store >64bit hashes in `BigHashType`

On the inside `bitset` also packs the bits into integers, just like the homebrew solution. My bias would be to use something maintained by someone else (bitset).

Either of the two is ready for reviewing, but we should decide which one. Not sure how to make them faster right now as profiling them suggest

[2016-10-16 16:00] BrianNoh commented on #1422
I was having a similar issue and removing all the spaces in my contig names fixed the error and was able to run.  Here's an example.

[2016-10-17 14:10] ctb commented on #1481
I don't think anything uses these.

[2016-10-20 13:46] betatim commented on #1441
@luizirber do you have any thoughts on why there is such a difference in terms of speed between these two?

* #1488 - store >64bit hashes in `std::bitset`
* #1455 - store >64bit hashes in `BigHashType`

[2016-10-20 14:02] betatim opened #1490 "Irreversible hashing for k>32"
(This is related to #1441)

What would it take to support `k`>32 without insisting on reversibility? Thats the question.

We need to use a hash function that "mixes" things to avoid `XXXACGT` and `YYYYACGT` giving the same value (for a 8bit hash value). This means we need to somehow detect that we are in "irreversible mode".

We tell `_hash()` what `k` is, so you could make it use a different hash

[2016-10-21 12:49] betatim commented on #1483
I'll take a look at this.

[2016-10-24 14:02] betatim commented on #769
Has the opinion on exposing the `Read` object "fully" changed since #645? Motivation for doing so would be to make it easy to test that `screed.Record` and `khmer.Read` look and feel the same.

[2016-10-24 14:13] betatim commented on #1468
I think we can make `khmer.ReadParser` behave like option 3. I'd start with adding https://docs.python.org/3/c-api/typeobj.html#c.PyTypeObject.tp_getattro to the `Read` type that checks if the stored string is "" or not to decide.

[2016-10-25 18:36] ctb commented on #769
On Mon, Oct 24, 2016 at 07:02:46AM -0700, Tim Head wrote:

Yes, I think it's a good idea for that reason.

[2016-10-29 13:11] mr-c commented on #170
Debian package was long ago released for v2.0: https://packages.debian.org/search?keywords=khmer

[2016-10-29 17:33] heuermh commented on #170
Thanks, @mr-c!

[2016-10-31 10:20] betatim opened #1496 "Unit tests should use a fixed random seed"
Tests that use random numbers should each create their own `random.Random()` instance with a fixed seed. This makes the random sequence reproducible and independent of the order in which test are executed.

Several examples of tests to start working on: #1412

[2016-10-31 12:53] ctb opened #1497 "Split _khmer.cc up using #includes"
_khmer.cc is getting increasingly unwieldy. I found myself dreaming of cython this morning... but, in the meantime, what do people think about splitting it up into multiple different source files that are all included in _khmer.cc?

@luizirber @camillescott @betatim @standage

[2016-10-31 13:45] betatim opened #1498 "Named parameters for screed.Record constructor"
The `screed` and `khmer` classes to represent a read have nearly the same interface and behaviour but not quite.

As part of https://github.com/dib-lab/khmer/pull/1492#issuecomment-257236074 we decided to make `screed.Record` support a constructor like `khmer.Read`. Namely named parameters instead of passing a dictionary as only argument.

[2016-10-31 17:39] standage commented on #1497
This could make it much more digestible. A while back I even contemplated trying this myself, but couldn't ever convince myself to take the plunge. On the other hand, I really like the idea of Cython, but only have a superficial understanding of the trade-offs between Cython's concise syntax and CPython's flexibility.

[2016-11-02 08:29] betatim commented on #1497
I like it. Something like having one file for each type would be nice.
Off the top of my head I can't think of any drawbacks...

[2016-11-02 11:33] macmanes opened #1499 "khmer issue with GLIBC on Ubuntu 14.04"
Cross posted from dammit issue, based on feedback received there.

https://github.com/camillescott/dammit/issues/73

Looks like dammit has issues on ubuntu 14.04 related to not having a new version of glibc..

[code]

Installing like this:

[code]

[code]

[2016-11-02 12:26] ctb commented on #1499
Hi Matt,

could you do:

pip install -v khmer

directly, and send us that output?

thanks!

On Wed, Nov 02, 2016 at 04:33:22AM -0700, Matt MacManes wrote:

--
C. Titus Brown, ctbrown@ucdavis.edu

[2016-11-02 12:34] macmanes commented on #1499
[code]

[2016-11-02 12:37] ctb commented on #1499
Sorry, could you do:

[code]

(I'm trying to figure out what version of khmer dammit is asking for, and also
figure out why it seems like it's not recompiling it on your linux box.)

[2016-11-02 12:58] macmanes commented on #1499
[code]

[2016-11-02 13:10] ctb commented on #1499
Hi Matt, as I feared it is downloading a (binary) wheel rather than building it
from source.  I don't know how to force pip to build from source; if you want
to solve the problem for yourself for now, do your own source install::

[code]

But please leave this issue open and we'll investigate further.

[2016-11-02 13:24] macmanes commented on #1499
er...

[code]
now..

[code]
should be good to go?

[code]

on note - Ubuntu 16.04 does not share this issue. I'm working on 14.04 at ami-c8580bdf

[2016-11-02 13:27] ctb commented on #1499
rm it, maybe? but I agree with you that it seems like this is our problem
and not the wheel.  We've run into this elsewhere (on mybinder) so we'll
have to look into it.  Thanks for chasing it down - no simple ideas what
to do next, sorry.

[2016-11-02 13:52] ctb opened #1500 "Look at ParaText for insight into how to speed up our FASTQ parsing"
http://www.wise.io/tech/paratext

[2016-11-02 14:27] betatim commented on #1248
[Another occurrence of a Heisenbug](https://github.com/dib-lab/khmer/pull/1492#issuecomment-257877530) in `test_abundance_dist_threaded` this time.

[2016-11-03 16:26] adityabandla opened #1501 "Importing sandbox scripts"
Hi

I'm relatively knew to metagenome assembly and I have been following your Kalamazoo protocol. I'm done with digital normalisation, but I have hit a roadblock with the partitioning step.

It says filter-below-abund.py file not found. While installing khmer2.0 through pip, I suppose the sandbox scripts arent installed. Since the filter-below-abund.py script has dependencies, is there a particula

[2016-11-03 16:41] adityabandla commented on #1501
Figured it out, thanks!

[2016-11-03 16:41] #1501 closed

[2016-11-07 15:41] #769 closed

[2016-11-08 21:51] NBKingsley commented on #1405
Is this issue still open? One of the earlier comments (from rcs333), make it sound like a solution was prepared, but I don't see any indication that the issue is solved... I'm new to Github, so I am hoping that I haven't missed some key bit of information.

[2016-11-08 22:04] ctb commented on #1405
Take a look at #1421 - the library function was introduced and used in a few cases, but there are many other tests that it could be refactored into!

[2016-11-09 08:17] ctb opened #1507 "Investigate using HashSets for the various tags/stop tags functions"
HashSet objects provide a lot of the functionality that is needed for looking at tags (print_tagset, print_stop_tags, get_tagset) and converting between hashes and DNA strings.  Right now those functions all use specialized code that could be converted over to HashSet objects.

[2016-11-09 18:14] shannonekj commented on #1474
Is this still open? If so, I would like to work on it

[2016-11-09 18:14] standage commented on #1474
Hack away!

[2016-11-11 20:19] camillescott commented on #1507
Related: take a look at the GuardedKmerMap in
https://github.com/dib-lab/khmer/pull/1502. Uses a Hashbits to filter
queries on an STL map.

On Nov 9, 2016 12:17 AM, "C. Titus Brown" <notifications@github.com> wrote:

[2016-11-12 16:16] ctb opened #1512 "Is differential code coverage still being calculated?"
See https://github.com/dib-lab/khmer/pull/1504#issuecomment-258275204 - I no longer get differential code coverage information.

[2016-11-14 13:32] #1512 closed

[2016-11-14 13:49] ctb opened #1514 "Check examples and lib/Makefile regularly"
add examples/c++-api and lib/Makefile to our continuous integration, maybe?

(the former uses the latter, note)

[2016-11-15 06:39] betatim commented on #1512
Looks like we are in business again: https://github.com/dib-lab/khmer/pull/1510#issuecomment-260542184 -> #1513 did actually fix it

[2016-11-15 06:50] betatim commented on #1483
Regarding doing things "for speed": using `khmer.ReadParser` instead of screed speeds up `broken_pair_reader` by a bit. Next slowest thing is `check_is_pair`.

Not sure there is any benefit in moving `ReadBundle` to c++, at least not for speed.

[2016-11-15 06:52] betatim commented on #1466
You can now use

[code]

instead of using `screed` and benefit from faster reading.

[2016-11-15 06:53] betatim opened #1517 "khmer.Read does not support len()"
Following on from #1491 that attempts to unify `screed.Record` and `khmer.Read`: `Read` does not support `len(Read(...))`.

[2016-11-15 07:08] betatim commented on #1098
Will be fixed in #1491

[2016-11-15 07:24] #1098 closed

[2016-11-15 13:59] ctb commented on #1483
can broken_paired_reader be converted into C++, do you think?

[2016-11-15 14:22] betatim commented on #1349
Closed by #1350

[2016-11-15 14:22] #1349 closed

[2016-11-15 15:32] betatim commented on #1475
Can we close https://github.com/dib-lab/khmer/milestone/11? I like virtualenvs/conda so I am -0 on system packaging stuff. Do people still use them/rely on them to get stuff installed?

[2016-11-15 16:53] betatim opened #1519 "Exploring reversible hashing for k>32"
Motivated by #1441 we investigated different ways to store hash values with more than 64bits. This would allow you to have reversible hashing for k>32 k-mers.

Trial PRs:
* #1444
* #1455
* #1488

Explored adding a new type that uses `std::bitset` or an `array` of bytes, or an array of different numerical types. One lesson learnt is that `bitset` does exactly that, packs the bits into integers in a

[2016-11-15 17:08] standage commented on #1475
As of our last discussion, we agreed that:

1. we don't want to explicitly provide system packaging
2. we don't want to actively hinder anybody with an interest in implementing system packaging for us

With that in mind, I'd say there's no need to close the issue itself, but I'm on board with unassigning/reassigning and closing the 2.0 milestone.

[2016-11-15 17:40] standage commented on #1475
Just closed the 2.0 milestone.

[2016-11-15 17:44] ctb commented on #1475
:+1:

[2016-11-15 17:53] standage commented on #1479
Fixed with https://github.com/dib-lab/screed/pull/50.

[2016-11-15 17:53] #1479 closed

[2016-11-15 17:58] standage opened #1520 "Excluding tests from python -m screed.tests when installed via PyPI"
From https://github.com/dib-lab/screed/pull/50:

[2016-11-15 18:04] standage opened #1521 "Migrate screed and issue tracking"
The current structure of the screed repos is full of vestiges. The "main" repository is dib-lab/screed, but this is a fork of ctb/screed which AFAICS isn't touched anymore. As a result, we can't track issues in dib-lab/screed: perhaps this is why screed issues are tracked in the khmer repo?

I propose the following.

- Make dib-lab/screed the primary repo. <small>I don't know if it would be better

[2016-11-15 18:07] ctb commented on #1521
+1

-0. by far the primary use of screed is in khmer, and the issues are
often linked.  (that's why we track screed issues in khmer.)

when screed reaches 1.0 we can revisit, but I don't expect screed to
evolve much independently of khmer.

[2016-11-15 20:38] ctb commented on #1519
cc #1426 #27 #60. I think #624 can be closed, too.

[2016-11-15 20:40] ctb commented on #1519
Irreversible hashing initial implementation: #1511

[2016-11-15 21:06] standage opened #1523 "Let's delete IDEAS and TODO"
...and move anything relevant to the issue tracker.

[2016-11-15 21:30] #1481 closed

[2016-11-15 22:18] standage opened #1528 "Look into caching OS X Miniconda install on Travis CI"
Travis CI allows you to cache components/directories created as part of your build. This won't improve the availability of OS X VMs, but once an OS X VM is available this should speed up the build significantly.

[2016-11-15 22:35] standage commented on #1528
Also, is there any reason to run extra tests/builds on OS X vs Linux? Since we always seem to be waiting on  OS X VMs, perhaps we could move these to one of the Linux VMs?

[2016-11-16 09:27] betatim commented on #1483
You could. What is the motivation? Do you want to use it from other c++ code?

---

If you run `kernprof -l -v scripts/extract-paired-reads.py /tmp/paired-mixed.fq` on the output of
`for i in {1..2000}; do cat tests/test-data/paired-mixed.fq >> /tmp/paired-mixed.fq ;done` you go from 1.3s to 0.5s by switching the read parser. After applying that switch you spend about 44% of your time in `broken_p

[2016-11-16 09:57] betatim commented on #1528
We spend about 3minutes on installing things on OSX.

The [travis docs](https://docs.travis-ci.com/user/caching/) suggest not caching stuff which is dominated by "downloading stuff from the network" as the cache tarball comes over the network as well.

From a quick browse of the logs it seems we don't really compile much stuff, which suggests we are waiting on the network. I will take a look how c

[2016-11-16 10:22] #1211 closed

[2016-11-16 13:49] ctb commented on #1483
yes, speed.

here's an evaluation file that's a bit bigger for you to play with :)

https://s3.amazonaws.com/public.ged.msu.edu/ecoli_ref-5m.fastq.gz

[2016-11-16 14:17] betatim commented on #1363
Looking at this now

[2016-11-16 14:31] betatim commented on #1483
http://gph.is/1TKQFaC

because I liked it so much. I'll take a look.

While poking around the other day I found remnants like https://github.com/dib-lab/khmer/blob/master/lib/read_parsers.hh#L111-L115 and https://github.com/dib-lab/khmer/blob/master/lib/read_parsers.cc#L204-L208 is there any memory on that still around? It looks like it once was the start of something similar to `broken_paired_rea

[2016-11-16 14:33] ctb commented on #1483
On Wed, Nov 16, 2016 at 06:31:50AM -0800, Tim Head wrote:

Cleanup on aisle 7! Cleanup on aisle 7!

*That code should be removed.)

[2016-11-16 14:34] betatim commented on #1363
This looked like something quick to do related to the file mode shenanigans that we just solved for screed but apparently not.

gzip wants to write bytes (sensible) but the file handle it gets was opened with mode 'w', hence the error. The file object comes from somewhere inside argparse, but the type of the argparse argument is `type=argparse.FileType('wb')` and yet `parser.parse_args().output` i

[2016-11-16 14:48] betatim commented on #1363
The proper solution will emerge from https://bugs.python.org/issue14156 one day.

For everyone else who needs something a bit sooner: workarounds.

[2016-11-16 17:38] standage commented on #1528
Yeah, I think I was off base with my initial comment about caching. The Miniconda install is a relatively small contributor to the long runtime. I think it's mostly the multiple builds. Not sure why everything is recompiled from scratch to compute coverage, etc. Now I'm just wondering why OS X is used as reference, and whether it could save us some work-hours backlogging if we moved this to one of

[2016-11-16 17:42] standage opened #1531 "Have 'make pydocstyle' ignore versioneer stuff"
The `make pydocstyle` target currently whines about the `khmer/_version.py` file, which is installed 3rd-party code, not ours. We should make sure to ignore this file so this target doesn't spew noise that is annoying for devs and potentially misleading for newcomers (who are asked to `make pydocstyle` with their first PR).

[2016-11-16 17:54] ctb commented on #1528
On Wed, Nov 16, 2016 at 09:38:27AM -0800, Daniel Standage wrote:

+1

[2016-11-16 18:27] betatim commented on #1528
More or less arbitrary. The reason that tipped it was that the version of `make format` on linux and on OSX disagree on what the correct format should be. So I guessed that most people use OSX locally -> make osx the reference. The way forward would be to figure out how to install the OSX/newer version of the formatting tool on debian (I spent some time on this when we moved to travis but gave up,

[2016-11-16 20:04] standage opened #1532 "Duplicate filenames with diginorm script"
The `normalize-by-median.py` script complains if two input files have the same basename. Consequently two different files such as `dir1/reads.fastq` and `dir2/reads.fastq` cannot be handled by the same call to `normalize-by-median.py`.

This came up in testing (cc @NBKingsley), but it was easy to address on the testing side. I'm guessing the reason this isn't currently supported on the script side

[2016-11-16 20:24] ctb commented on #1532
On Wed, Nov 16, 2016 at 12:05:00PM -0800, Daniel Standage wrote:

The default output file names are generated from the input files, which
is part of the problem. I don't personally view it as a big concern.
But, you could relax that constraint when a -o is specified, for example.

[2016-11-16 22:32] #1457 closed

[2016-11-17 12:24] #1523 closed

[2016-11-17 12:25] betatim commented on #1514
What is `lib/Makefile` used for? been wondering that for a while but never asked...

[2016-11-17 12:26] betatim commented on #1519
Another issue with thoughts in it #1490

[2016-11-17 12:26] #1490 closed

[2016-11-17 12:47] betatim commented on #1296
Another PR related to this #1529

[2016-11-17 13:12] betatim commented on #1483
A `broken_paired_reader` lives in #1502 do we wait for the cython revolution or do our own thing in the meantime?

[2016-11-17 13:37] ctb commented on #1483
make the argument for incorporating the auto-generated C++ code :).

[2016-11-17 13:39] ctb commented on #1514
On Thu, Nov 17, 2016 at 04:25:31AM -0800, Tim Head wrote:

building liboxli for people who want to use the C++ non-API.

[2016-11-17 14:15] ctb opened #1535 "Flesh out khmer public info re libraries.io"
At https://libraries.io/pypi/khmer I note that it misses a lot of things. I wonder why?

[2016-11-17 17:42] camillescott commented on #1484
Note that the quality attribute always seems to exist in the `ReadParser`'s `Read` extension class, so the `hasattr(read, "quality")` paradigm doesn't work for them. Perhaps both implementations should switch to adding an extra `format` attribute.

[2016-11-17 17:50] standage commented on #1484
If `.quality` is always present but never set for Fasta records, then it should be possible to switch the check from `hasattr(record, "quality")` to `record.quality != ""`, no?

[2016-11-17 17:52] camillescott commented on #1484
Yup, although screed just leaves it off entirely if it doesn't exist. I'd
prefer using a `@property` and returning `None` for the null case (checking
`is None` has less room for edge cases than empty string).

On Thu, Nov 17, 2016 at 9:50 AM, Daniel Standage <notifications@github.com>
wrote:

--
Camille Scott

Graduate Group for Computer Science
Lab for Data Intensive Biology
University of Califor

[2016-11-17 22:01] standage commented on #1532
👍

[2016-11-17 22:01] #1532 closed

[2016-11-17 22:14] Spezi94 opened #1537 "Make test fails with 2 failures"
[code]
I assume that the first test should fail.
Regarding the second test I am not sure if this one should also fail.

[2016-11-18 00:53] ctb commented on #1537
Neither of these tests should fail; in the first test the save_labels_and_tags
method should raise an exception because the file is read-only, and something
similar should happen in the second method.  What OS and user are you running
these as?  I would expect to see this for 'root' users on Linux, for example...

thanks!

[2016-11-18 00:56] ctb commented on #1461
IANAL, but my interpretation is that a simple copyright notice at the top, with a date, coupled with the use of version control, is probably enough. Dates don't need to be updated. I'm actually wondering about all the boilerplate TBH, but it's not that big a deal to include it I guess.

[2016-11-18 00:57] #1461 closed

[2016-11-18 01:04] ctb commented on #1484
This was discussed in #1468 and resolved to eliminating the quality attribute on FASTQ records, which was the opinion of me and @luizirber both. Following from that, we decided 'quality' should be eliminated from ReadParser results on FASTA sequences.

At this point I'm happy to reconsider (I kinda like the 'format' notion) but I would like a compleat (if brief) proposal that satisfies all of the

[2016-11-18 01:06] ctb commented on #1484
One extra consideration is whether Nanopore or PacBio add sequence attributes that we want to plan ahead for. I don't have a clear idea of this.

[2016-11-18 09:50] Spezi94 commented on #1537
Thanks for the feedback and I much appreciate your help.
I use Kali Linux (former known as Backtrack) with the root user.

Do I need to set path variables to achieve running your "make test" as root user or do I need to create a user and then run the "make test" again?
FYI the owner of all directorys/files in my system are root:root

[2016-11-18 10:42] betatim commented on #1483
Made this [little comparison](https://gist.github.com/betatim/a0f805a9db8ff8b92a72c707ee343132) and was surprised at how slow `GzipFile` is, and that `ReadParser` is essentially no faster than zcat + python. Output of running the script:
[code]

`scripts/extract-paired-reads.py ecoli_ref-5m.fastq.gz -s ecoli_ref-5m.fastq.se -p /dev/null` takes about 75s (65s if you use an already gunzipped fastq)

[2016-11-18 10:58] betatim commented on #1537
Try running `make test` again as a normal user.

The behaviour must be connected to the fact that root has almighty powers. It is odd though that root can write to a file which is readonly (couldn't reproduce that on OSX).

[2016-11-18 11:10] betatim commented on #1484
For me `read = Read("blah", "ACGT"); hasattr(read, 'quality')` works as expected (returns False). (However ipython tab-completes read.q<tab> to read.quality so somewhere there is a bug)

[2016-11-18 11:22] Spezi94 commented on #1537
Ok I will then create a normal user and try it again.
Thanks!

[2016-11-18 11:23] #1537 closed

[2016-11-18 13:17] betatim commented on #1483
I'm taking that as a "we do our own thing". Working on that now.

[2016-11-18 13:47] ctb commented on #1483
On Fri, Nov 18, 2016 at 05:17:33AM -0800, Tim Head wrote:

well, no... if the Cython code looks fine and compiles across platforms,
then just copy it in and edit it appropriately, add tests.  We just have
to take ownership of the C++ output rather than the Cython code for 2.1.

[2016-11-18 13:47] ctb commented on #1537
great, let us know!

[2016-11-18 14:09] betatim commented on #1483
What do you mean with take ownership? Adding it to the repo directly is easy, editing it by hand is ~impossible. It won't add a runtime dependency on cython though but there will be a new dev dependency.

Currently you distribute wheels right? So might even be that for `pip install khmer` nothing would change.

[2016-11-18 14:11] ctb commented on #1483
On Fri, Nov 18, 2016 at 06:09:37AM -0800, Tim Head wrote:

Let's give it a try and take a close look at any new headers that are
introduced.  I've been having trouble with @camillescott's branch but
that seems to be more the c++11 headers than anything else.

[2016-11-18 14:45] betatim commented on #1483
What is the deal with:
[code]
souping that up to support broken paired reads seems like the way to go if we want small movements? (or is there a trap here that I haven't spotted?)

[2016-11-18 14:46] ctb commented on #1483
On Fri, Nov 18, 2016 at 06:45:52AM -0800, Tim Head wrote:

sounds good.

[2016-11-18 19:25] standage commented on #326
@betatim It looks like pylint is being run on all Travis builds. Should we go ahead and close this thread as wontfix?

[2016-11-18 23:51] standage commented on #1520
See also #1384.

Perhaps [this](http://stackoverflow.com/a/33181352/459780) is relevant to a solution? Glad I'm not the only one boggled by the holes in the setuptools/distutils docs.

[2016-11-21 08:45] betatim commented on #326
We run pylint but the build won't fail if pylint is unhappy.

In its current state the output of `pylint tests/*py` is not so useful because it outputs a lot. `make diff_pylint_report` is more useful. Not sure I have an opinion on disabling checks, a lot of good practices don't apply to tests because you want to do weird stuff ...

Conclusion: do what you think is best, I am +-0 on everything ;)

[2016-11-21 13:38] #1363 closed

[2016-11-24 14:47] ctb opened #1540 "unique-kmers.py ignores the entirety of any sequence with non-ACGTN in it"
e.g. if a chromosome from a genome sequence has a single non-ACGTN in it, the entire sequence will be ignored. This is unexpected.

This should probably be changed so that such k-mers can be skipped over, or optionally raise an exception - e.g. in the sbt_search branch of sourmash compute, I now convert non-ACGT bases into 'N', unless `--check-sequence` is specified.  The khmer-consistent approach

[2016-11-24 14:49] ctb commented on #1540
Note also that there's a divide by zero if no k-mers are consumed ;).

[2016-11-24 15:03] ctb opened #1541 "More thoughts on non-ACGT characters."
Spurred by #1540, I'm converging on two principles regarding non-ACGT:

* we shouldn't ever silently ignore an entire sequence record, because that leads to surprisingly inconsistent behavior between short reads and genomic sequences, as in the above where an entire genome vanishes from the k-mer counts. So we should either raise an exception OR automatically convert.
* automatic conversion to As

[2016-11-24 16:34] standage commented on #1540
Discussion from back in September is relevant: #1036. Since then, whenever I've been consuming genomic sequences, I just preprocess to split on non-ACGTs and filter the resulting fragments by some minimum length. But it would be nice to have khmer handle this nicely.

[2016-11-24 16:36] standage commented on #1540
Also, some genomic sequences have long internal or terminal stretches of Ns. We'd have to consider whether we want to consume all of these as converted As or ignore (and how exactly that would work).

[2016-11-24 18:13] ctb opened #1543 "HLLCounter() objects evaluate to False"
[code]

Presumably this is because `len` is not implemented; I think `len` should probably be the same as `estimate_cardinality()`. Thoughts?

[2016-11-25 13:28] betatim commented on #1541
How do the non-ACGT letters get into the data in the first place?

[2016-11-25 18:50] ctb commented on #1541
Various intentional and unintentional bits of cleverness.  Some software
uses [IUPAC codes](http://www.bioinformatics.org/sms2/iupac.html) to indicate
observed ambiguity, for example.

[2016-11-25 19:28] betatim commented on #1541
So there is the case where the user is probably not doing what they think they are doing (feeding not DNA sequence into khmer) and the cleverness case. For the latter, should we be clever and sample a replacement from the possibilities (e.g. replace S with `random.sample(['G', 'C'])`)? Or even add one kmer with each option? Or is that (trying to be clever)**2?

[2016-11-25 19:29] ctb commented on #1541
I think that's trying to be too clever ;).

[2016-11-25 19:58] ctb commented on #1540
I'm fine with N->A conversion generally; history/experience suggests that most sequence has 'em anyway so no harm done. But could easily trash any collection of Ns that is longer than k-mer size, for example.

Also, a useful snippet of code that I just used in sourmash:

[code]

[2016-11-26 06:27] standage commented on #326
@betatim Yeah I'll just leave this open for now, but not giving it any kind of priority.

[2016-11-27 14:45] ctb opened #1544 "extract-long-sequences should provide some sort of summary"
Right now it's hard to tell that it's doing anything at all.

[2016-12-01 13:37] ctb opened #1547 "multi-rename.py behavior changed between 1.4 and 2.0?"
@SherineAwad reports that multi-rename behavior has changed from 1.4 to 2.0; it now takes much longer.  this is a placeholder issue to remind me to investigate.

[2016-12-01 17:12] ctb opened #1548 "load-graph seems to be computing memory sizes incorrectly"
[code]

[2016-12-02 07:53] betatim opened #1550 "Continued Travis OSX outage"
[Travis OSX builds are unusable](https://www.traviscistatus.com/incidents/nq0sf0srvx8s) and have been for a while. This effects us as we declared the OSX build as the"authority" on coverage. Currently all OSX builds are halted, do we think this is going to get cleared up any time soon or should we modify our travis setup to make the linux build the authority (might cause intermittent weirdness for

[2016-12-02 14:16] ctb commented on #1550
Why would using linux the authority for builds cause intermittent weirdness
on coverage reports?

[2016-12-02 15:11] betatim commented on #1550
Not sure TBH. Might be that it was just `make format` that I couldn't get to behave exactly the same on the two OSes.

[2016-12-03 23:46] kdmurray91 commented on #885
Closing this, as we now have `liboxli-dev` (w00t)

[2016-12-03 23:46] #885 closed

[2016-12-06 13:55] #1395 closed

[2016-12-08 14:25] ctb opened #1552 "Figure out correct instructions for turning off RC collapsing"
See http://lists.idyll.org/pipermail/khmer/2016-December/000775.html for where NO_UNIQUE_RC hack doesn't work.

[2016-12-08 14:47] ctb commented on #1198
Or we could try cuckoo filters, http://blog.fastforwardlabs.com/post/153566952648/probabilistic-data-structure-showdown-cuckoo

[2016-12-09 13:10] betatim commented on #1248
I'm looking into both of these.

For reference:
[code]

both produce varying numbers of unique kmers when executed with more than one thread.

[2016-12-12 11:07] betatim commented on #1248
The easy fix is to add a lock at a fairly highlevel which wipes out all the benefits of having more threads.

The long term solution is to have a queue between the reader and the hashtable. Then you can have multiple threads for reading (in a chunked fashion) the input file and separately control the number of threads that consume the reads from the queue. At the very least we need a Parser instan

[2016-12-12 12:36] betatim commented on #1248
The gzip format makes it ~impossible to do stuff in parallel. Tools like [pigz](http://www.zlib.net/pigz/) speed up compression but can't do much for decompression (~6s for gunzip or pigz on ecoli).

So start with a single threaded reader, into a Q, and consume reads in parallel.

[2016-12-13 14:23] #1550 closed

[2016-12-13 14:26] betatim commented on #51
#1551 implements a storage class with 4bits per entry

[2016-12-13 14:36] betatim opened #1554 "IO experiments"
This is a small study of different ways to handle the input. The idea is to gather some data on what works, what doesn't and what is slow/fast.

https://gist.github.com/betatim/d712d0b47a6136998c16561c8f1ca686

Interesting observations:
* gunzip'ing is slow
* reading a plain text file with pure python is as fast as using `ReadParser` (but this is a dumb, none robust python version)
* `open(fname '

[2016-12-13 14:38] betatim commented on #1554
Some example output from running on the ecoli file:
[code]

[2016-12-13 14:46] ctb commented on #1554
nice! Do we know yet why @camillescott's Cython version of read parsing was so much faster? Is it just the call-into-Python problem?

[2016-12-13 14:55] betatim commented on #1554
One more note: there must be something wrong with how I used `mmap` because it runs "forever"?? Any wisdom?

I gave the cython `ReadParser` a try [here](https://github.com/dib-lab/khmer/pull/1538#issuecomment-262471820 but it didn't speed up the overall script.

[2016-12-13 15:05] betatim commented on #1500
#1554 was started to understand this a bit more.

From a first look at their code it seems they split the input file into chunks and process each chunk in a different thread. At least for plain text files. They determine the chunks by seek'ing through the file for a predetermined number of bytes, then continue until they find a newline (and deal with quoted sections that span newlines). After the

[2016-12-13 15:08] betatim commented on #1500
Not sure I understand why they do this. Reading the bytes from disk shouldn't take a lot of CPU/time. Stuffing stuff into a Q needs extra memory but removes the need to do complicated seeking.

How big a buffer do we need to keep `N>1` consumers busy?

[2016-12-13 18:51] standage opened #1555 "Leaky k-mer abundance queries?"
I've taken a script from my project kevlar, stripped it down, and modified it to iterate over the input 1e6 times. The original script populates countgraphs with real data: in this script the countgraphs are empty, but the oberved behavior is the same.

[code]

Invoked on the command line like so: `./find.py NA19240.1000reads.fq.gz > out 2> err`.

Here is the input: [NA19240.1000reads.fq.gz](https

[2016-12-13 19:10] standage commented on #1555
From my perspective there's really only two possibilities for leaks: iterating over k-mers, or querying k-mer abundance.

## k-mer iteration

This script iterates over all k-mers but does nothing with them. Its memory consumption is constant.

[code]

## Abundance queries

This script queries the same k-mer hundreds of millions of times. Its memory consumption grows.

[code]

[2016-12-13 19:11] ctb commented on #1555
I see the same thing with your "Abundance queries" script on my laptop.

[2016-12-13 19:12] ctb commented on #1555
Actually, it levels off. Weird.

[2016-12-13 19:21] standage commented on #1555
Perhaps it's hitting the limit of available memory and beginning to page swap?

[2016-12-13 19:22] standage commented on #1555
On my laptop it grows steadily until the script completes at ≈120 seconds.

[2016-12-14 10:58] betatim commented on #1555
I discovered `tracemalloc` when googling for debugging python memory leaks. [Used it here](https://gist.github.com/betatim/56b5094c83fdcccc30fbf49a4059acc7) though in this case it was "easy" to narrow it down to the offending line after @standage's examples but might be useful for future uses. Also it showed the leak in a few iterations instead of 1e7 which made it fast to spot that it had gone.

[2016-12-14 15:17] #1555 closed

[2016-12-16 15:12] betatim commented on #1554
In light of the experiments in #1553 I'm thinking that worrying about how to read stuff from disk faster won't give us big wins compared to speeding up entering things into a countgraph and friends.

I think we should do some thinking how to take advantage of the fact that a super simple bit of python can be ~2 times faster than `ReadParser` (even `read_plain2` is faster). For example, can we use

[2016-12-16 15:14] ctb commented on #1554
On Fri, Dec 16, 2016 at 07:12:13AM -0800, Tim Head wrote:

+1 for brainstorming and trying stuff out! I've thought idly about stuff
like this in the past but never gone anywhere with it; it'd be great to try
it out.

[2016-12-16 15:32] betatim opened #1557 "Notes on cache misses"
These are notes from experiments and exploring the tools for understanding cache misses and the like.

Most of the knowledge about `perf` comes from https://www.youtube.com/watch?v=nXaxk27zwlk

Code and instructions if you are on linux: https://gist.github.com/betatim/181595d17320012945baef3386e09bc5

The code contains three benchmarks. One accesses elements of a bitset at random, one accesses the

[2016-12-16 15:36] betatim commented on #1557
This is what you get by running `perf` on all of a big, complex script from khmer:
[code]
It is somewhat similar to the emulated BF case, but need to do more thinking and tinkering before I have any ideas on what we learn from this. One thing we do learn is that we execute less than one instruction per CPU cycle 😢

[2016-12-16 16:59] ctb opened #1558 "Update docs on setting memory params"
https://khmer.readthedocs.io/en/latest/user/choosing-table-sizes.html should probably be updated to refer to the new 'unique-kmers.py' script and the -U parameter to load-into-counting that sets memory based on the # of unique kmers.

[2016-12-17 14:30] ctb commented on #1557
I'm having trouble understanding the output - to me it looks like random has fewer cache misses than linear?!  I'm looking at LLC-load-misses:u...

[2016-12-19 14:51] ctb commented on #1541
I wonder if we can look at the beginning of the file and do some simple statistics (on, say, the first 100kb of sequence) and then barf if it looks bad?

This might be a good use for issues with bad pairing as well - scripts that are told to expect pairing info and don't get any pairs could barf.

After the first 100kb we could then assume that all the data is "good format" and go from there. Will

[2016-12-19 18:58] luizirber commented on #1498
This already works, no?

[code]

(this is a side effect of how we read the dict to create the record)

[code]

The question then becomes: do we want to accept anything, or limit to the same interface as `khmer.Read`?

[2016-12-19 19:16] ctb commented on #1521
I think I need to submit a GitHub support request to ask them to make dib-lab/screed the "one true parent" of all screed forks. Sound good?

[2016-12-19 19:19] standage commented on #1521
👍

[2016-12-19 19:41] standage commented on #1498
- Limiting the interface will be a little bit more code (= maintenance burden).
- Not limiting the interface makes accidental inits more likely (`screed.Record(seq='ACGT')` instead of `screed.Record(sequence='ACGT')`), which could lead to subtle bugs.

I'm not sure we have a good intuition for which of these is going to be more costly to us in the long term, so I'm in favor of just keeping things

[2016-12-19 20:02] ctb commented on #1498
On Mon, Dec 19, 2016 at 11:41:34AM -0800, Daniel Standage wrote:

I'm pretty sure the latter is more problematic; we need to require a name
and sequence at a minimum, IMO.

see https://github.com/dib-lab/screed/pull/54

[2016-12-19 20:04] ctb commented on #1521
Submitted request.

[2016-12-19 20:09] ctb commented on #1484
I believe https://github.com/dib-lab/khmer/issues/1484#issuecomment-252086265 is incorrect - 'description' is only set if parse_description=True.

[2016-12-19 20:09] ctb commented on #1484
But it seems like the bigger annoyance is that khmer now has 'annotations' and screed has 'description' (when parse_description is set)

[2016-12-19 20:21] ctb commented on #1468
This already works, c.f. #1559.

[2016-12-19 20:21] #1468 closed

[2016-12-19 20:22] ctb commented on #791
All done.

[2016-12-19 20:22] #791 closed

[2016-12-19 20:22] luizirber commented on #1482
The simple API in this case is `read_fasta_sequences` or `read_fastq_sequences`, no?

[2016-12-19 20:23] ctb commented on #1482
with 'screed.open' sniffing functionality we no longer need to specify file
type.

[2016-12-19 20:25] standage commented on #1520
In branch `debug/tests` I confirmed that `screed/tests/__main__.py` is being executed. But adding/removing arguments to the `pytest.main` function call has no effect AFAICS.

[2016-12-19 20:28] ctb commented on #1482
Any objections to the command line API:

[code]

and the Python API:

[code]
?

[2016-12-19 20:30] ctb commented on #1002
Punting for 1.0

[2016-12-19 20:30] standage commented on #1482
As in `python -m screed myreads.fq`?

[2016-12-19 20:31] ctb commented on #1482
On Mon, Dec 19, 2016 at 12:30:40PM -0800, Daniel Standage wrote:

yep

[2016-12-19 20:32] standage commented on #1482
I like

[2016-12-19 20:32] luizirber commented on #1482
Agree with Python API, but `python -m screed` might be confusing for other functionality in the module (like `dump_to_fast*`)

[2016-12-19 21:01] ctb commented on #1521
@standage they said it's all good - can you confirm? I'm going to go have lunch instead :)

[2016-12-19 21:03] luizirber commented on #1482
About `screed.makedb`: name it `screed.make_db` instead, to be consistent with `create_db`?

[2016-12-19 21:12] standage commented on #1521
Rejoice, for it is done!

[2016-12-19 21:12] #1521 closed

[2016-12-19 21:45] standage opened #1560 "Screed author attribution"
The screed authors are listed in the docs, which is read from `doc/conf.py`. A couple of related questions.

- Are the authors listed anywhere else? We want to avoid having to update this info in multiple places.
- Who should be considered an author for the 1.0 release? Anybody with a contribution since the last release? Since ever? Just core devs?

[2016-12-19 22:40] ctb opened #1561 "Update screed author list"
the author list in setup.py is woefully incorrect.

[2016-12-19 22:41] ctb commented on #1561
Whoops, see #1560.

[2016-12-19 22:41] #1561 closed

[2016-12-19 22:43] standage commented on #1560
The authors listed in the docs are not pulled from the `doc/conf.py` file. Already potential for coming out of sync.

[2016-12-19 22:47] ctb commented on #1384
@luizirber this seems to have been fixed along the way - at least, `python setup.py test` now works. Can you confirm & shall I close as fixed?

[2016-12-19 22:49] standage commented on #1384
The issue is with `python -m screed.tests` after a pip install. Still pending.

[2016-12-19 23:00] luizirber commented on #1482
Fixed by dib-lab/screed#55

[2016-12-19 23:11] standage commented on #1560
Also `setup.py`.

[2016-12-20 00:40] #1482 closed

[2016-12-20 00:56] #1520 closed

[2016-12-20 01:00] #1079 closed

[2016-12-20 01:02] standage commented on #1384
Fixed in https://github.com/dib-lab/screed/pull/61.

[2016-12-20 01:02] #1384 closed

[2016-12-20 01:04] #811 closed

[2016-12-20 01:16] luizirber commented on #1498
fixed by dib-lab/screed#54

[2016-12-20 01:16] #1498 closed

[2016-12-20 13:41] ctb commented on #1560
On Mon, Dec 19, 2016 at 01:45:34PM -0800, Daniel Standage wrote:

I think anyone with any contribution at all should be offered authorship on the
JOSS pub.  @mr-c might have ways to extract this that he used on the khmer
repo.

[2016-12-20 21:17] standage opened #1562 "Normalize copyright/license notices for screed"
This is pretty inconsistent throughout the codebase, even in `screed/*.py`. Some files have a line or two at the top claiming copyright, and many have none. There may be places in the code with copyright and license information. We should normalize all of this. A few things to consider, with my biases throw in for good measure.

- Should we place a copyright notice at the top of each code file?

[2016-12-20 21:18] ctb commented on #1562
On Tue, Dec 20, 2016 at 01:17:14PM -0800, Daniel Standage wrote:

sure

agree

agree not

--t

[2016-12-20 21:34] ctb commented on #1560
It's not so bad:

[code]

de-duplicated, we have:

Alex Nolley
Ben Taylor
Titus
Camille
Daniel
Kevin Murray
Luiz
Michael
Sarah Guermond
Thomas Fenzl
Tim Head
Peter Cock
Gabriel Pratt
Jake Fenton
en zyme

I'm not sure how to assign author order; I'm fine with being last. Alex did most of the initial programming but it's evolved considerably since then... thoughts?

[2016-12-20 21:34] ctb commented on #1560
[code]

[2016-12-20 21:42] standage commented on #1560
I'd suggest

1. release manager (Luiz still, right?)
2. all other authors, alphabetically by last name
3. Titus

[2016-12-20 21:43] ctb commented on #1560
We could also reverse order by # of commits :)

[2016-12-20 21:43] ctb commented on #1560
(but I am fine with mostly alphabetical)

[2016-12-20 21:44] standage commented on #1560
We should probe the authors to ask 1) if they do not want their names on the paper and 2) which names / email they'd prefer.

[2016-12-20 21:44] standage commented on #1560
Ok, for the future I'll make sure to split all of my contributions into many small PRs :)

[2016-12-20 22:07] ctb opened #1563 "check that khmer tests pass as part of screed release/acceptance tests."
it would be embarrassing to release a version of screed that broke khmer.

[2016-12-20 22:08] ctb commented on #864
Closed by screed#57.

[2016-12-20 22:08] #864 closed

[2016-12-20 22:09] standage commented on #1562
Closed by https://github.com/dib-lab/screed/pull/57.

[2016-12-20 22:09] #1562 closed

[2016-12-20 22:24] ctb commented on #1560
Contacted:

- [ ] Alex Nolley
- [ ] Ben Taylor
- [ ] Titus
- [ ] Camille
- [ ] Daniel
- [ ] Kevin Murray
- [ ] Luiz
- [ ] Michael
- [ ] Sarah Guermond
- [ ] Thomas Fenzl
- [ ] Tim Head
- [ ] Peter Cock
- [ ] Gabriel Pratt
- [ ] Jake Fenton
- [ ] en zyme

[2016-12-20 22:42] ctb commented on #1560
Contacted everyone. We Shall See.

@luizirber can you put together the required paper draft?

[2016-12-20 22:55] betatim commented on #1560
Tim Head or T. Head, tim@wildtreetech.com, Wild Tree Tech. Does ORCID help at all? http://orcid.org/0000-0003-0931-3698

[2016-12-20 22:57] ctb commented on #1560
Oooh, nice, ORCID is a good idea.

[2016-12-20 22:59] ctb opened #1564 "as part of PR checklist, should we ask new authors to supply their ORCID?"
may be overkill, but worth a thought for all our software projects.

[2016-12-20 23:02] betatim commented on #1560
(Author list order: sort by output of `random.random()` seeded with your ORCID ID, jk)

[2016-12-20 23:56] ctb commented on #1233
Done in #1504.

[2016-12-20 23:56] #1233 closed

[2016-12-21 00:00] ctb opened #1565 "'pip show khmer' fails due to author unicode"
[code]

[2016-12-21 00:10] standage commented on #1564
Perhaps add a `CONTRIBUTORS` file and add something like this to the PR checklist:

[code]